<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ArtWork/Themes/Models/Promotion/Stationery</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">ArtWork/Themes/Models/Promotion/Stationery</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><p class="line867">
<h1 id="CentOS_Stationery_Visual_Style">CentOS Stationery Visual Style</h1>
<span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><p class="line867"><div class="table-of-contents"><p class="table-of-contents-heading">Contents<ol><li>
<a href="#OOo_Writer_Templates">OOo Writer Templates</a></li><li>
<a href="#OOo_Presentation_Templates">OOo Presentation Templates</a></li><li>
<a href="#Books_and_Magazines">Books and Magazines</a></li></ol></li></ol></div> <span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line867">
<h2 id="OOo_Writer_Templates">1. OOo Writer Templates</h2>
<span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span><p class="line874">The following template is a generic template for frequent use when you need to write CentOS documents: <span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><div><table><tbody><tr>  <td><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Themes(2f)Models(2f)Promotion(2f)Stationery/ooo-writer-screenshot.png" title="{{attachment:ooo-writer-screenshot.png|ooo-writer-screenshot.png|height=300}}"><img alt="ooo-writer-screenshot.png" class="attachment" height="300" src="attachments/ArtWork(2f)Themes(2f)Models(2f)Promotion(2f)Stationery/ooo-writer-screenshot.png" title="ooo-writer-screenshot.png" /></a> </td>
</tr>
<tr>  <td><span class="anchor" id="line-13"></span><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Themes(2f)Models(2f)Promotion(2f)Stationery/CentOS-Letter-Portrait.ott" title="">CentOS-Letter-Portrait.ott</a> </td>
</tr>
</tbody></table></div><span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line874">Specific templates need to be created for specific CentOS documents. When doing so you could use the generic template as base for your work. List your specific templates bellow: <span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><ul><li>... <span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span></li></ul><p class="line867">
<h2 id="OOo_Presentation_Templates">2. OOo Presentation Templates</h2>
<span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span><p class="line874">The following template is a generic template for frequent use when you need to do CentOS presentations: <span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span><div><table><tbody><tr>  <td><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Themes(2f)Models(2f)Promotion(2f)Stationery/ooo-presentation-screenshot.png" title="{{attachment:ooo-presentation-screenshot.png|ooo-presentation-screenshot.png|height=300}}"><img alt="ooo-presentation-screenshot.png" class="attachment" height="300" src="attachments/ArtWork(2f)Themes(2f)Models(2f)Promotion(2f)Stationery/ooo-presentation-screenshot.png" title="ooo-presentation-screenshot.png" /></a> </td>
</tr>
<tr>  <td><span class="anchor" id="line-24"></span><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Themes(2f)Models(2f)Promotion(2f)Stationery/CentOS-TitleText.otp" title="">CentOS-TitleText.otp</a> </td>
</tr>
</tbody></table></div><span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line874">Specific templates need to be created for specific CentOS presentations. When doing so you could use the generic template as base for your work. List your specific templates bellow: <span class="anchor" id="line-27"></span><span class="anchor" id="line-28"></span><ul><li>... <span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span></li></ul><p class="line867">
<h2 id="Books_and_Magazines">3. Books and Magazines</h2>
<span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span><p class="line862">CentOS books and CentOS magazines are manifestations of CentOS. As CentOS manifestations, and because we are following a <a class="nonexistent" href="./ArtWork(2f)Structure.html">monolithic visual structure</a>, CentOS books' and CentOS magazines' style should be coherent with CentOS visual style. CentOS books' and CentOS magazines' designs, both inside and outside, should follow the visual style used in other CentOS manifestations like Posters, Clothes, Install Media, Websites, Distribution, etc. <span class="anchor" id="line-33"></span><span class="anchor" id="line-34"></span><p class="line874">A style guide for CentOS books and CentOS magazines need to be available. A guide that help people understand how to propagate CentOS visual style over books and magazines. <span class="anchor" id="line-35"></span><span class="anchor" id="line-36"></span><p class="line874">If you have some experience in this area, please take care of it in the following links: <span class="anchor" id="line-37"></span><span class="anchor" id="line-38"></span><ul><li><p class="line891"><a class="nonexistent" href="./ArtWork(2f)Themes(2f)Models(2f)Promotion(2f)Stationery(2f)Books.html">CentOS Books Style Guide</a> <span class="anchor" id="line-39"></span></li><li><p class="line891"><a class="nonexistent" href="./ArtWork(2f)Themes(2f)Models(2f)Promotion(2f)Stationery(2f)Magazines.html">CentOS Magazines Style Guide</a> <span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span></li></ul><p class="line874">As general recommendations, when designing CentOS books and CentOS magazines, consider: <span class="anchor" id="line-42"></span><span class="anchor" id="line-43"></span><ul><li><p class="line862">Using the current and approved <a class="nonexistent" href="./ArtWork(2f)Style(2f)Motifs.html">CentOS artistic motif</a> in your designs. <span class="anchor" id="line-44"></span></li><li><p class="line862">Using the <a href="./ArtWork(2f)Fonts.html">CentOS corporate fonts</a>.  <span class="anchor" id="line-45"></span><span class="anchor" id="line-46"></span></li></ul><p class="line862">In those cases, where available fonts or available artistic motifs are not acceptable to you, we appreciate you to propose new ones in <tt>&lt;centos-devel&nbsp;AT&nbsp;centos&nbsp;DOT&nbsp;org&gt;</tt> mailing list. Our purpose here is to standardize fonts and visual identity used in the project so the monolithic visual structure can be successfully applied. <span class="anchor" id="line-47"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:19
</body>
</html>
