<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ArtWork/Motifs/CentOS8/Sketch4</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">ArtWork/Motifs/CentOS8/Sketch4</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><p class="line867">
<h1 id="CentOS_8_Artistic_Motif_Sketch_4">CentOS 8 Artistic Motif Sketch 4</h1>
<span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line867"><div class="table-of-contents"><p class="table-of-contents-heading">Contents<ol><li>
<a href="#Concept">Concept</a></li><li>
<a href="#Ideas_and_inspiration">Ideas and inspiration</a></li><li>
<a href="#The_centos-logos-80.5_package">The centos-logos-80.5 package</a><ol><li>
<a href="#Anaconda">Anaconda</a></li><li>
<a href="#Anaconda_rolling_notes">Anaconda rolling notes</a></li><li>
<a href="#Plymouth">Plymouth</a></li><li>
<a href="#GDM">GDM</a></li><li>
<a href="#Desktop">Desktop</a><ol><li>
<a href="#Background_1920x1080_.2816:9.29">Background 1920x1080 (16:9)</a></li><li>
<a href="#Background_1920x1200_.2816:10.29">Background 1920x1200 (16:10)</a></li><li>
<a href="#Background_2048x1536_.284:3.29">Background 2048x1536 (4:3)</a></li><li>
<a href="#Background_1280x1024_.285:4.29">Background 1280x1024 (5:4)</a></li></ol></li><li>
<a href="#FreeIPA">FreeIPA</a></li></ol></li><li>
<a href="#The_httpd_package">The httpd package</a><ol><li>
<a href="#Test_Page">Test Page</a></li></ol></li><li>
<a href="#The_centos-indexhtml_package">The centos-indexhtml package</a></li><li>
<a href="#Files">Files</a></li></ol></li></ol></div> <span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><p class="line867">
<h2 id="Concept">1. Concept</h2>
<span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><ul><li>Testing Inkscape Voronoi Diagram extension and the Mesh tool. <span class="anchor" id="line-8"></span></li><li>eight, balanced, vibrant, clean, simple <span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span></li></ul><p class="line867">
<h2 id="Ideas_and_inspiration">2. Ideas and inspiration</h2>
<span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><div><table><tbody><tr>  <td><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/sketch.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/sketch.png|CentOS 8 Sketch 4}}"><img alt="CentOS 8 Sketch 4" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/sketch.png" title="CentOS 8 Sketch 4" /></a> </td>
</tr>
<tr>  <td><span class="anchor" id="line-13"></span><p class="line862"> © 2019 <a href="./AlainRegueraDelgado.html">AlainRegueraDelgado</a> <br>
 Released under <a class="http" href="http://artlibre.org/licence/lal/en/">Free Art 1.3 license</a> </td>
</tr>
</tbody></table></div><span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line862">Contribute at <a class="https" href="https://git.centos.org/centos/Artwork/tree/c8">https://git.centos.org/centos/Artwork/tree/c8</a> <span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><p class="line867">
<h2 id="The_centos-logos-80.5_package">3. The centos-logos-80.5 package</h2>
<span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span><p class="line867">
<h3 id="Anaconda">3.1. Anaconda</h3>
<span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span><p class="line867"><img alt="{i}" height="16" src="/moin_static1911/modern/img/icon-info.png" title="{i}" width="16" /> Customizing Anaconda installer is described at <a class="https" href="https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html-single/anaconda_customization_guide/index">Anaconda Customization Guide</a>. <span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-01.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/anaconda-artworktest-01.png|anaconda-artworktest-01.png|width=640}}"><img alt="anaconda-artworktest-01.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-01.png" title="anaconda-artworktest-01.png" width="640" /></a> <span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-1.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/anaconda-artworktest-02-1.png|anaconda-artworktest-02-1.png|width=640}}"><img alt="anaconda-artworktest-02-1.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-1.png" title="anaconda-artworktest-02-1.png" width="640" /></a> <span class="anchor" id="line-26"></span><span class="anchor" id="line-27"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-2.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/anaconda-artworktest-02-2.png|anaconda-artworktest-02-2.png|width=640}}"><img alt="anaconda-artworktest-02-2.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-2.png" title="anaconda-artworktest-02-2.png" width="640" /></a> <span class="anchor" id="line-28"></span><span class="anchor" id="line-29"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-3.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/anaconda-artworktest-02-3.png|anaconda-artworktest-02-3.png|width=640}}"><img alt="anaconda-artworktest-02-3.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-3.png" title="anaconda-artworktest-02-3.png" width="640" /></a> <span class="anchor" id="line-30"></span><span class="anchor" id="line-31"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-4.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/anaconda-artworktest-02-4.png|anaconda-artworktest-02-4.png|width=640}}"><img alt="anaconda-artworktest-02-4.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-4.png" title="anaconda-artworktest-02-4.png" width="640" /></a> <span class="anchor" id="line-32"></span><span class="anchor" id="line-33"></span><p class="line867">
<h3 id="Anaconda_rolling_notes">3.2. Anaconda rolling notes</h3>
<span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><div><table><tbody><tr>  <td><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/00-centos-welcome.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/00-centos-welcome.png|00-centos-welcome.png}}"><img alt="00-centos-welcome.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/00-centos-welcome.png" title="00-centos-welcome.png" /></a> </td>
  <td><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-welcome-es-ES.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/01-centos-welcome-es-ES.png|00-centos-welcome-es-ES.png}}"><img alt="00-centos-welcome-es-ES.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-welcome-es-ES.png" title="00-centos-welcome-es-ES.png" /></a> </td>
  <td><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-welcome-zh-CN.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/01-centos-welcome-zh-CN.png|00-centos-welcome-zh-CN.png}}"><img alt="00-centos-welcome-zh-CN.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-welcome-zh-CN.png" title="00-centos-welcome-zh-CN.png" /></a> </td>
</tr>
</tbody></table></div><span class="anchor" id="line-36"></span><span class="anchor" id="line-37"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-sig-core.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/01-centos-sig-core.png|01-centos-sig-core.png}}"><img alt="01-centos-sig-core.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-sig-core.png" title="01-centos-sig-core.png" /></a> <span class="anchor" id="line-38"></span><span class="anchor" id="line-39"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/02-centos-sig-altarch.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/02-centos-sig-altarch.png|02-centos-sig-altarch.png}}"><img alt="02-centos-sig-altarch.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/02-centos-sig-altarch.png" title="02-centos-sig-altarch.png" /></a> <span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/03-centos-sig-artwork.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/03-centos-sig-artwork.png|03-centos-sig-artwork.png}}"><img alt="03-centos-sig-artwork.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/03-centos-sig-artwork.png" title="03-centos-sig-artwork.png" /></a> <span class="anchor" id="line-42"></span><span class="anchor" id="line-43"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/04-centos-sig-atomic.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/04-centos-sig-atomic.png|04-centos-sig-atomic.png}}"><img alt="04-centos-sig-atomic.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/04-centos-sig-atomic.png" title="04-centos-sig-atomic.png" /></a> <span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/05-centos-sig-cloud.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/05-centos-sig-cloud.png|05-centos-sig-cloud.png}}"><img alt="05-centos-sig-cloud.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/05-centos-sig-cloud.png" title="05-centos-sig-cloud.png" /></a> <span class="anchor" id="line-46"></span><span class="anchor" id="line-47"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/06-centos-sig-cloudinstance.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/06-centos-sig-cloudinstance.png|06-centos-sig-cloudinstance.png}}"><img alt="06-centos-sig-cloudinstance.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/06-centos-sig-cloudinstance.png" title="06-centos-sig-cloudinstance.png" /></a> <span class="anchor" id="line-48"></span><span class="anchor" id="line-49"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/07-centos-sig-cm.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/07-centos-sig-cm.png|07-centos-sig-cm.png}}"><img alt="07-centos-sig-cm.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/07-centos-sig-cm.png" title="07-centos-sig-cm.png" /></a> <span class="anchor" id="line-50"></span><span class="anchor" id="line-51"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/08-centos-sig-nfv.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/08-centos-sig-nfv.png|08-centos-sig-nfv.png}}"><img alt="08-centos-sig-nfv.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/08-centos-sig-nfv.png" title="08-centos-sig-nfv.png" /></a> <span class="anchor" id="line-52"></span><span class="anchor" id="line-53"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/09-centos-sig-optools.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/09-centos-sig-optools.png|09-centos-sig-optools.png}}"><img alt="09-centos-sig-optools.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/09-centos-sig-optools.png" title="09-centos-sig-optools.png" /></a> <span class="anchor" id="line-54"></span><span class="anchor" id="line-55"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/10-centos-sig-paas.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/10-centos-sig-paas.png|10-centos-sig-paas.png}}"><img alt="10-centos-sig-paas.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/10-centos-sig-paas.png" title="10-centos-sig-paas.png" /></a> <span class="anchor" id="line-56"></span><span class="anchor" id="line-57"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/11-centos-sig-promo.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/11-centos-sig-promo.png|11-centos-sig-promo.png}}"><img alt="11-centos-sig-promo.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/11-centos-sig-promo.png" title="11-centos-sig-promo.png" /></a> <span class="anchor" id="line-58"></span><span class="anchor" id="line-59"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/12-centos-sig-publicci.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/12-centos-sig-publicci.png|12-centos-sig-publicci.png}}"><img alt="12-centos-sig-publicci.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/12-centos-sig-publicci.png" title="12-centos-sig-publicci.png" /></a> <span class="anchor" id="line-60"></span><span class="anchor" id="line-61"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/13-centos-sig-sc.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/13-centos-sig-sc.png|13-centos-sig-sc.png}}"><img alt="13-centos-sig-sc.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/13-centos-sig-sc.png" title="13-centos-sig-sc.png" /></a> <span class="anchor" id="line-62"></span><span class="anchor" id="line-63"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/14-centos-sig-storage.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/14-centos-sig-storage.png|14-centos-sig-storage.png}}"><img alt="14-centos-sig-storage.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/14-centos-sig-storage.png" title="14-centos-sig-storage.png" /></a> <span class="anchor" id="line-64"></span><span class="anchor" id="line-65"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/15-centos-sig-virt.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/15-centos-sig-virt.png|15-centos-sig-virt.png}}"><img alt="15-centos-sig-virt.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/15-centos-sig-virt.png" title="15-centos-sig-virt.png" /></a> <span class="anchor" id="line-66"></span><span class="anchor" id="line-67"></span><p class="line867">
<h3 id="Plymouth">3.3. Plymouth</h3>
<span class="anchor" id="line-68"></span><span class="anchor" id="line-69"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/plymouth-artworktest-03.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/plymouth-artworktest-03.png|plymouth-artworktest-03.png|width=640}}"><img alt="plymouth-artworktest-03.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/plymouth-artworktest-03.png" title="plymouth-artworktest-03.png" width="640" /></a> <span class="anchor" id="line-70"></span><span class="anchor" id="line-71"></span><p class="line867">
<h3 id="GDM">3.4. GDM</h3>
<span class="anchor" id="line-72"></span><span class="anchor" id="line-73"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/gdm-artworktest-01.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/gdm-artworktest-01.png|gdm-artworktest-01.png|width=640}}"><img alt="gdm-artworktest-01.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/gdm-artworktest-01.png" title="gdm-artworktest-01.png" width="640" /></a> <span class="anchor" id="line-74"></span><span class="anchor" id="line-75"></span><p class="line867">
<h3 id="Desktop">3.5. Desktop</h3>
<span class="anchor" id="line-76"></span><span class="anchor" id="line-77"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-01.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/desktop-artworktest-01.png|desktop-artworktest-01.png|width=640}}"><img alt="desktop-artworktest-01.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-01.png" title="desktop-artworktest-01.png" width="640" /></a>  <span class="anchor" id="line-78"></span><span class="anchor" id="line-79"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-02.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/desktop-artworktest-02.png|desktop-artworktest-02.png|width=640}}"><img alt="desktop-artworktest-02.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-02.png" title="desktop-artworktest-02.png" width="640" /></a> <span class="anchor" id="line-80"></span><span class="anchor" id="line-81"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-03.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/desktop-artworktest-03.png|desktop-artworktest-03.png|width=640}}"><img alt="desktop-artworktest-03.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-03.png" title="desktop-artworktest-03.png" width="640" /></a> <span class="anchor" id="line-82"></span><span class="anchor" id="line-83"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-04.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/desktop-artworktest-04.png|desktop-artworktest-04.png|width=640}}"><img alt="desktop-artworktest-04.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-04.png" title="desktop-artworktest-04.png" width="640" /></a> <span class="anchor" id="line-84"></span><span class="anchor" id="line-85"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-05.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/desktop-artworktest-05.png|desktop-artworktest-05.png|width=640}}"><img alt="desktop-artworktest-05.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-05.png" title="desktop-artworktest-05.png" width="640" /></a> <span class="anchor" id="line-86"></span><span class="anchor" id="line-87"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-06.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/desktop-artworktest-06.png|desktop-artworktest-06.png|width=640}}"><img alt="desktop-artworktest-06.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-06.png" title="desktop-artworktest-06.png" width="640" /></a> <span class="anchor" id="line-88"></span><span class="anchor" id="line-89"></span><p class="line867">
<h4 id="Background_1920x1080_.2816:9.29">3.5.1. Background 1920x1080 (16:9)</h4>
<span class="anchor" id="line-90"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-6.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/c8-tv-wide-6.png|c8-tv-wide-6.png|width=640}}"><img alt="c8-tv-wide-6.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-6.png" title="c8-tv-wide-6.png" width="640" /></a> <span class="anchor" id="line-91"></span><span class="anchor" id="line-92"></span><p class="line867">
<h4 id="Background_1920x1200_.2816:10.29">3.5.2. Background 1920x1200 (16:10)</h4>
<span class="anchor" id="line-93"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-6.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/c8-wide-6.png|c8-wide-6.png|width=640}}"><img alt="c8-wide-6.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-6.png" title="c8-wide-6.png" width="640" /></a> <span class="anchor" id="line-94"></span><span class="anchor" id="line-95"></span><p class="line867">
<h4 id="Background_2048x1536_.284:3.29">3.5.3. Background 2048x1536 (4:3)</h4>
<span class="anchor" id="line-96"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-6.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/c8-default-6.png|c8-default-6.png|width=640}}"><img alt="c8-default-6.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-6.png" title="c8-default-6.png" width="640" /></a> <span class="anchor" id="line-97"></span><span class="anchor" id="line-98"></span><p class="line867">
<h4 id="Background_1280x1024_.285:4.29">3.5.4. Background 1280x1024 (5:4)</h4>
<span class="anchor" id="line-99"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-6.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/c8-normalish-6.png|c8-normalish-6.png|width=640}}"><img alt="c8-normalish-6.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-6.png" title="c8-normalish-6.png" width="640" /></a> <span class="anchor" id="line-100"></span><span class="anchor" id="line-101"></span><p class="line867">
<h3 id="FreeIPA">3.6. FreeIPA</h3>
<span class="anchor" id="line-102"></span><span class="anchor" id="line-103"></span><p class="line867"><a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/freeipa-artworktest-01.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/freeipa-artworktest-01.png|freeipa-artworktest-01.png|width=640}}"><img alt="freeipa-artworktest-01.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/freeipa-artworktest-01.png" title="freeipa-artworktest-01.png" width="640" /></a> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/freeipa-artworktest-02.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/freeipa-artworktest-02.png|freeipa-artworktest-02.png|width=640}}"><img alt="freeipa-artworktest-02.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/freeipa-artworktest-02.png" title="freeipa-artworktest-02.png" width="640" /></a> <span class="anchor" id="line-104"></span><span class="anchor" id="line-105"></span><p class="line867">
<h2 id="The_httpd_package">4. The httpd package</h2>
<span class="anchor" id="line-106"></span><span class="anchor" id="line-107"></span><p class="line867">
<h3 id="Test_Page">4.1. Test Page</h3>
<span class="anchor" id="line-108"></span><span class="anchor" id="line-109"></span><div><table><tbody><tr>  <td style="vertical-align: top"><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/httpd-artworktest-07.png|httpd-artworktest-07.png|width=640}}"><img alt="httpd-artworktest-07.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07.png" title="httpd-artworktest-07.png" width="640" /></a> </td>
  <td style="vertical-align: top"><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07-es-ES.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/httpd-artworktest-07-es-ES.png|httpd-artworktest-07-es-ES.png|width=640}}"><img alt="httpd-artworktest-07-es-ES.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07-es-ES.png" title="httpd-artworktest-07-es-ES.png" width="640" /></a> </td>
  <td style="vertical-align: top"><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07-zh-CN.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/httpd-artworktest-07-zh-CN.png|httpd-artworktest-07-zh-CN.png|width=640}}"><img alt="httpd-artworktest-07-zh-CN.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07-zh-CN.png" title="httpd-artworktest-07-zh-CN.png" width="640" /></a> </td>
</tr>
</tbody></table></div><span class="anchor" id="line-110"></span><span class="anchor" id="line-111"></span><p class="line867">
<h2 id="The_centos-indexhtml_package">5. The centos-indexhtml package</h2>
<span class="anchor" id="line-112"></span><span class="anchor" id="line-113"></span><div><table><tbody><tr>  <td style="vertical-align: top"><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/indexhtml-artworktest-03.png|indexhtml-artworktest-03.png|width=640}}"><img alt="indexhtml-artworktest-03.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03.png" title="indexhtml-artworktest-03.png" width="640" /></a> </td>
  <td style="vertical-align: top"><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03-es-ES.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/indexhtml-artworktest-03-es-ES.png|indexhtml-artworktest-03-es-ES.png|width=640}}"><img alt="indexhtml-artworktest-03-es-ES.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03-es-ES.png" title="indexhtml-artworktest-03-es-ES.png" width="640" /></a> </td>
  <td style="vertical-align: top"><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03-zh-CN.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch4/indexhtml-artworktest-03-zh-CN.png|indexhtml-artworktest-03-zh-CN.png|width=640}}"><img alt="indexhtml-artworktest-03-zh-CN.png" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03-zh-CN.png" title="indexhtml-artworktest-03-zh-CN.png" width="640" /></a> </td>
</tr>
</tbody></table></div><span class="anchor" id="line-114"></span><span class="anchor" id="line-115"></span><p class="line867">
<h2 id="Files">6. Files</h2>
<span class="anchor" id="line-116"></span><span class="anchor" id="line-117"></span><p class="line874">List of files you probably want to download: <span class="anchor" id="line-118"></span><span class="anchor" id="line-119"></span><p class="line867"><script>
function checkAll(bx, targets_name) {
  var cbs = document.getElementsByTagName('input');
  for(var i=0; i < cbs.length; i++) {
    if(cbs[i].type == 'checkbox' && cbs[i].name == targets_name) {
      cbs[i].checked = bx.checked;
    }
  }
}
</script>
<form method="POST">
<input type="hidden" name="action" value="AttachFile">
<input type="hidden" name="do" value="multifile">
<ul><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/00-centos-welcome.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/00-centos-welcome.png">view</a>]<input type="checkbox" name="fn" value="00-centos-welcome.png"> (2019-04-19 20:49:48, 79.2 KB) [[attachment:00-centos-welcome.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-sig-core-zh-CN.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-sig-core-zh-CN.png">view</a>]<input type="checkbox" name="fn" value="01-centos-sig-core-zh-CN.png"> (2019-05-25 15:44:04, 86.9 KB) [[attachment:01-centos-sig-core-zh-CN.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-sig-core.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-sig-core.png">view</a>]<input type="checkbox" name="fn" value="01-centos-sig-core.png"> (2019-04-19 20:49:55, 88.7 KB) [[attachment:01-centos-sig-core.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-welcome-es-ES.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-welcome-es-ES.png">view</a>]<input type="checkbox" name="fn" value="01-centos-welcome-es-ES.png"> (2019-05-28 00:01:20, 80.1 KB) [[attachment:01-centos-welcome-es-ES.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-welcome-zh-CN.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/01-centos-welcome-zh-CN.png">view</a>]<input type="checkbox" name="fn" value="01-centos-welcome-zh-CN.png"> (2019-05-25 15:43:46, 77.6 KB) [[attachment:01-centos-welcome-zh-CN.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/02-centos-sig-altarch.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/02-centos-sig-altarch.png">view</a>]<input type="checkbox" name="fn" value="02-centos-sig-altarch.png"> (2019-04-19 20:50:02, 94.0 KB) [[attachment:02-centos-sig-altarch.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/03-centos-sig-altarch-zh-CN.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/03-centos-sig-altarch-zh-CN.png">view</a>]<input type="checkbox" name="fn" value="03-centos-sig-altarch-zh-CN.png"> (2019-05-25 15:44:45, 93.4 KB) [[attachment:03-centos-sig-altarch-zh-CN.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/03-centos-sig-artwork.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/03-centos-sig-artwork.png">view</a>]<input type="checkbox" name="fn" value="03-centos-sig-artwork.png"> (2019-04-19 23:48:03, 102.5 KB) [[attachment:03-centos-sig-artwork.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/04-centos-sig-artwork-zh-CN.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/04-centos-sig-artwork-zh-CN.png">view</a>]<input type="checkbox" name="fn" value="04-centos-sig-artwork-zh-CN.png"> (2019-05-25 15:45:02, 99.2 KB) [[attachment:04-centos-sig-artwork-zh-CN.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/04-centos-sig-atomic.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/04-centos-sig-atomic.png">view</a>]<input type="checkbox" name="fn" value="04-centos-sig-atomic.png"> (2019-04-19 20:50:17, 98.0 KB) [[attachment:04-centos-sig-atomic.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/05-centos-sig-cloud.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/05-centos-sig-cloud.png">view</a>]<input type="checkbox" name="fn" value="05-centos-sig-cloud.png"> (2019-04-19 20:50:24, 82.6 KB) [[attachment:05-centos-sig-cloud.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/06-centos-sig-cloudinstance.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/06-centos-sig-cloudinstance.png">view</a>]<input type="checkbox" name="fn" value="06-centos-sig-cloudinstance.png"> (2019-04-19 20:50:31, 88.9 KB) [[attachment:06-centos-sig-cloudinstance.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/07-centos-sig-cm.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/07-centos-sig-cm.png">view</a>]<input type="checkbox" name="fn" value="07-centos-sig-cm.png"> (2019-04-19 20:50:39, 99.7 KB) [[attachment:07-centos-sig-cm.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/08-centos-sig-nfv.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/08-centos-sig-nfv.png">view</a>]<input type="checkbox" name="fn" value="08-centos-sig-nfv.png"> (2019-04-19 20:50:48, 95.2 KB) [[attachment:08-centos-sig-nfv.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/09-centos-sig-optools.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/09-centos-sig-optools.png">view</a>]<input type="checkbox" name="fn" value="09-centos-sig-optools.png"> (2019-04-19 23:47:20, 92.4 KB) [[attachment:09-centos-sig-optools.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/10-centos-sig-paas.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/10-centos-sig-paas.png">view</a>]<input type="checkbox" name="fn" value="10-centos-sig-paas.png"> (2019-04-19 20:51:05, 105.0 KB) [[attachment:10-centos-sig-paas.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/11-centos-sig-promo.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/11-centos-sig-promo.png">view</a>]<input type="checkbox" name="fn" value="11-centos-sig-promo.png"> (2019-04-19 20:51:18, 86.2 KB) [[attachment:11-centos-sig-promo.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/12-centos-sig-publicci.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/12-centos-sig-publicci.png">view</a>]<input type="checkbox" name="fn" value="12-centos-sig-publicci.png"> (2019-04-19 20:51:25, 83.2 KB) [[attachment:12-centos-sig-publicci.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/13-centos-sig-sc.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/13-centos-sig-sc.png">view</a>]<input type="checkbox" name="fn" value="13-centos-sig-sc.png"> (2019-04-19 23:47:53, 96.1 KB) [[attachment:13-centos-sig-sc.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/14-centos-sig-storage.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/14-centos-sig-storage.png">view</a>]<input type="checkbox" name="fn" value="14-centos-sig-storage.png"> (2019-04-19 20:51:38, 95.0 KB) [[attachment:14-centos-sig-storage.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/15-centos-sig-virt.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/15-centos-sig-virt.png">view</a>]<input type="checkbox" name="fn" value="15-centos-sig-virt.png"> (2019-04-19 20:51:44, 78.7 KB) [[attachment:15-centos-sig-virt.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-01.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-01.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-01.png"> (2019-04-19 23:14:27, 3.7 KB) [[attachment:anaconda-artworktest-01.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-1.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-1.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-02-1.png"> (2019-07-20 20:03:33, 132.2 KB) [[attachment:anaconda-artworktest-02-1.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-2.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-2.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-02-2.png"> (2019-07-20 20:06:04, 106.8 KB) [[attachment:anaconda-artworktest-02-2.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-3.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-3.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-02-3.png"> (2019-07-20 20:06:24, 208.1 KB) [[attachment:anaconda-artworktest-02-3.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-4.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02-4.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-02-4.png"> (2019-07-20 20:06:48, 162.4 KB) [[attachment:anaconda-artworktest-02-4.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-02.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-02.png"> (2019-04-19 23:14:43, 105.6 KB) [[attachment:anaconda-artworktest-02.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-03.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-03.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-03.png"> (2019-04-19 23:15:00, 81.2 KB) [[attachment:anaconda-artworktest-03.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-04.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-04.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-04.png"> (2019-04-19 23:15:17, 72.8 KB) [[attachment:anaconda-artworktest-04.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-05.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/anaconda-artworktest-05.png">view</a>]<input type="checkbox" name="fn" value="anaconda-artworktest-05.png"> (2019-04-19 23:15:41, 135.5 KB) [[attachment:anaconda-artworktest-05.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-0.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-0.png">view</a>]<input type="checkbox" name="fn" value="c8-default-0.png"> (2019-04-18 20:23:50, 501.2 KB) [[attachment:c8-default-0.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-1.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-1.png">view</a>]<input type="checkbox" name="fn" value="c8-default-1.png"> (2019-04-18 20:24:07, 604.0 KB) [[attachment:c8-default-1.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-2.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-2.png">view</a>]<input type="checkbox" name="fn" value="c8-default-2.png"> (2019-04-18 20:24:21, 622.9 KB) [[attachment:c8-default-2.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-3.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-3.png">view</a>]<input type="checkbox" name="fn" value="c8-default-3.png"> (2019-04-18 20:24:36, 578.3 KB) [[attachment:c8-default-3.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-4.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-4.png">view</a>]<input type="checkbox" name="fn" value="c8-default-4.png"> (2019-04-18 20:24:49, 587.9 KB) [[attachment:c8-default-4.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-5.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-5.png">view</a>]<input type="checkbox" name="fn" value="c8-default-5.png"> (2019-04-18 20:25:01, 548.2 KB) [[attachment:c8-default-5.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-6.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-6.png">view</a>]<input type="checkbox" name="fn" value="c8-default-6.png"> (2019-04-18 20:25:13, 596.4 KB) [[attachment:c8-default-6.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-7.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-7.png">view</a>]<input type="checkbox" name="fn" value="c8-default-7.png"> (2019-04-18 20:25:27, 583.0 KB) [[attachment:c8-default-7.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-8.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-8.png">view</a>]<input type="checkbox" name="fn" value="c8-default-8.png"> (2019-04-18 20:25:41, 632.3 KB) [[attachment:c8-default-8.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-9.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default-9.png">view</a>]<input type="checkbox" name="fn" value="c8-default-9.png"> (2019-04-18 20:25:54, 613.2 KB) [[attachment:c8-default-9.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default.png">view</a>]<input type="checkbox" name="fn" value="c8-default.png"> (2019-04-18 20:23:25, 760.1 KB) [[attachment:c8-default.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default.xcf">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-default.xcf">view</a>]<input type="checkbox" name="fn" value="c8-default.xcf"> (2019-03-30 19:20:38, 24365.0 KB) [[attachment:c8-default.xcf]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-0.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-0.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-0.png"> (2019-04-18 20:26:47, 485.7 KB) [[attachment:c8-normalish-0.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-1.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-1.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-1.png"> (2019-04-18 20:27:01, 585.2 KB) [[attachment:c8-normalish-1.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-2.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-2.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-2.png"> (2019-04-18 20:27:14, 603.6 KB) [[attachment:c8-normalish-2.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-3.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-3.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-3.png"> (2019-04-18 20:27:28, 560.6 KB) [[attachment:c8-normalish-3.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-4.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-4.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-4.png"> (2019-04-18 20:27:40, 570.0 KB) [[attachment:c8-normalish-4.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-5.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-5.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-5.png"> (2019-04-18 20:27:53, 531.8 KB) [[attachment:c8-normalish-5.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-6.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-6.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-6.png"> (2019-04-18 20:28:07, 578.5 KB) [[attachment:c8-normalish-6.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-7.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-7.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-7.png"> (2019-04-18 20:28:20, 565.5 KB) [[attachment:c8-normalish-7.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-8.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-8.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-8.png"> (2019-04-18 20:28:32, 612.8 KB) [[attachment:c8-normalish-8.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-9.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish-9.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish-9.png"> (2019-04-18 20:28:44, 594.1 KB) [[attachment:c8-normalish-9.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish.png">view</a>]<input type="checkbox" name="fn" value="c8-normalish.png"> (2019-04-18 20:26:32, 739.4 KB) [[attachment:c8-normalish.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish.xcf">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-normalish.xcf">view</a>]<input type="checkbox" name="fn" value="c8-normalish.xcf"> (2019-03-30 19:14:28, 23531.4 KB) [[attachment:c8-normalish.xcf]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-0.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-0.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-0.png"> (2019-04-18 20:31:48, 393.1 KB) [[attachment:c8-tv-wide-0.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-1.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-1.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-1.png"> (2019-04-18 20:32:01, 479.9 KB) [[attachment:c8-tv-wide-1.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-2.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-2.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-2.png"> (2019-04-18 20:32:14, 495.5 KB) [[attachment:c8-tv-wide-2.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-3.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-3.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-3.png"> (2019-04-18 20:32:28, 448.6 KB) [[attachment:c8-tv-wide-3.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-4.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-4.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-4.png"> (2019-04-18 20:32:40, 462.2 KB) [[attachment:c8-tv-wide-4.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-5.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-5.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-5.png"> (2019-04-18 20:32:58, 425.0 KB) [[attachment:c8-tv-wide-5.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-6.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-6.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-6.png"> (2019-04-18 20:33:11, 468.2 KB) [[attachment:c8-tv-wide-6.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-7.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-7.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-7.png"> (2019-04-18 20:33:47, 450.4 KB) [[attachment:c8-tv-wide-7.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-8.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-8.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-8.png"> (2019-04-18 20:34:02, 500.4 KB) [[attachment:c8-tv-wide-8.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-9.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide-9.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide-9.png"> (2019-04-18 20:34:15, 484.8 KB) [[attachment:c8-tv-wide-9.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide.png">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide.png"> (2019-04-18 20:31:35, 605.3 KB) [[attachment:c8-tv-wide.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide.xcf">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-tv-wide.xcf">view</a>]<input type="checkbox" name="fn" value="c8-tv-wide.xcf"> (2019-03-30 19:15:04, 20107.2 KB) [[attachment:c8-tv-wide.xcf]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-0.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-0.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-0.png"> (2019-04-18 20:35:03, 368.1 KB) [[attachment:c8-wide-0.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-1.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-1.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-1.png"> (2019-04-18 20:35:14, 449.6 KB) [[attachment:c8-wide-1.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-2.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-2.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-2.png"> (2019-04-18 20:35:25, 464.1 KB) [[attachment:c8-wide-2.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-3.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-3.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-3.png"> (2019-04-18 20:35:37, 420.0 KB) [[attachment:c8-wide-3.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-4.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-4.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-4.png"> (2019-04-18 20:35:56, 432.9 KB) [[attachment:c8-wide-4.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-5.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-5.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-5.png"> (2019-04-18 20:36:08, 397.9 KB) [[attachment:c8-wide-5.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-6.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-6.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-6.png"> (2019-04-18 20:36:51, 438.7 KB) [[attachment:c8-wide-6.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-7.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-7.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-7.png"> (2019-04-18 20:37:04, 422.0 KB) [[attachment:c8-wide-7.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-8.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-8.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-8.png"> (2019-04-18 20:37:17, 468.7 KB) [[attachment:c8-wide-8.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-9.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide-9.png">view</a>]<input type="checkbox" name="fn" value="c8-wide-9.png"> (2019-04-18 20:37:28, 454.2 KB) [[attachment:c8-wide-9.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide.png">view</a>]<input type="checkbox" name="fn" value="c8-wide.png"> (2019-04-18 20:34:49, 566.7 KB) [[attachment:c8-wide.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide.xcf">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8-wide.xcf">view</a>]<input type="checkbox" name="fn" value="c8-wide.xcf"> (2019-03-30 19:11:07, 18833.3 KB) [[attachment:c8-wide.xcf]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8.svg">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/c8.svg">view</a>]<input type="checkbox" name="fn" value="c8.svg"> (2019-03-30 19:21:19, 382.3 KB) [[attachment:c8.svg]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/centos-sig-altarch.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/centos-sig-altarch.png">view</a>]<input type="checkbox" name="fn" value="centos-sig-altarch.png"> (2019-04-07 00:01:03, 42.3 KB) [[attachment:centos-sig-altarch.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/centos-sig-artwork.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/centos-sig-artwork.png">view</a>]<input type="checkbox" name="fn" value="centos-sig-artwork.png"> (2019-04-07 00:01:31, 29.0 KB) [[attachment:centos-sig-artwork.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/centos-sig-cloud.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/centos-sig-cloud.png">view</a>]<input type="checkbox" name="fn" value="centos-sig-cloud.png"> (2019-04-07 00:03:27, 43.7 KB) [[attachment:centos-sig-cloud.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/centos-sig-sc.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/centos-sig-sc.png">view</a>]<input type="checkbox" name="fn" value="centos-sig-sc.png"> (2019-04-07 00:02:24, 34.4 KB) [[attachment:centos-sig-sc.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-01.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-01.png">view</a>]<input type="checkbox" name="fn" value="desktop-artworktest-01.png"> (2019-04-28 18:38:04, 109.6 KB) [[attachment:desktop-artworktest-01.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-02.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-02.png">view</a>]<input type="checkbox" name="fn" value="desktop-artworktest-02.png"> (2019-04-28 18:38:21, 106.8 KB) [[attachment:desktop-artworktest-02.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-03.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-03.png">view</a>]<input type="checkbox" name="fn" value="desktop-artworktest-03.png"> (2019-04-28 18:38:40, 150.2 KB) [[attachment:desktop-artworktest-03.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-04.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-04.png">view</a>]<input type="checkbox" name="fn" value="desktop-artworktest-04.png"> (2019-04-28 18:38:59, 131.5 KB) [[attachment:desktop-artworktest-04.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-05.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-05.png">view</a>]<input type="checkbox" name="fn" value="desktop-artworktest-05.png"> (2019-04-28 18:39:20, 56.9 KB) [[attachment:desktop-artworktest-05.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-06.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/desktop-artworktest-06.png">view</a>]<input type="checkbox" name="fn" value="desktop-artworktest-06.png"> (2019-04-28 18:39:34, 198.5 KB) [[attachment:desktop-artworktest-06.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/freeipa-artworktest-01.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/freeipa-artworktest-01.png">view</a>]<input type="checkbox" name="fn" value="freeipa-artworktest-01.png"> (2019-05-18 14:52:22, 236.8 KB) [[attachment:freeipa-artworktest-01.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/freeipa-artworktest-02.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/freeipa-artworktest-02.png">view</a>]<input type="checkbox" name="fn" value="freeipa-artworktest-02.png"> (2019-05-18 14:52:34, 44.6 KB) [[attachment:freeipa-artworktest-02.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/gdm-artworktest-01.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/gdm-artworktest-01.png">view</a>]<input type="checkbox" name="fn" value="gdm-artworktest-01.png"> (2019-04-28 18:35:38, 245.3 KB) [[attachment:gdm-artworktest-01.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-01.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-01.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-01.png"> (2019-05-19 01:59:53, 178.2 KB) [[attachment:httpd-artworktest-01.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-02.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-02.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-02.png"> (2019-05-19 02:12:59, 177.2 KB) [[attachment:httpd-artworktest-02.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-03.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-03.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-03.png"> (2019-05-19 02:13:15, 180.2 KB) [[attachment:httpd-artworktest-03.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-04.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-04.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-04.png"> (2019-05-19 02:13:30, 180.1 KB) [[attachment:httpd-artworktest-04.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-05.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-05.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-05.png"> (2019-05-19 02:13:56, 176.0 KB) [[attachment:httpd-artworktest-05.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-06-es_ES.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-06-es_ES.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-06-es_ES.png"> (2019-05-19 13:06:52, 184.0 KB) [[attachment:httpd-artworktest-06-es_ES.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-06.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-06.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-06.png"> (2019-05-19 13:06:16, 181.0 KB) [[attachment:httpd-artworktest-06.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07-es-ES.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07-es-ES.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-07-es-ES.png"> (2019-05-20 01:11:15, 194.9 KB) [[attachment:httpd-artworktest-07-es-ES.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07-zh-CN.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07-zh-CN.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-07-zh-CN.png"> (2019-05-25 15:23:24, 216.3 KB) [[attachment:httpd-artworktest-07-zh-CN.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/httpd-artworktest-07.png">view</a>]<input type="checkbox" name="fn" value="httpd-artworktest-07.png"> (2019-05-20 01:10:57, 183.8 KB) [[attachment:httpd-artworktest-07.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-02-es_ES.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-02-es_ES.png">view</a>]<input type="checkbox" name="fn" value="indexhtml-artworktest-02-es_ES.png"> (2019-05-19 13:49:24, 97.3 KB) [[attachment:indexhtml-artworktest-02-es_ES.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-02.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-02.png">view</a>]<input type="checkbox" name="fn" value="indexhtml-artworktest-02.png"> (2019-05-19 13:49:02, 100.5 KB) [[attachment:indexhtml-artworktest-02.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03-es-ES.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03-es-ES.png">view</a>]<input type="checkbox" name="fn" value="indexhtml-artworktest-03-es-ES.png"> (2019-05-20 01:12:16, 102.3 KB) [[attachment:indexhtml-artworktest-03-es-ES.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03-zh-CN.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03-zh-CN.png">view</a>]<input type="checkbox" name="fn" value="indexhtml-artworktest-03-zh-CN.png"> (2019-05-25 15:22:59, 128.6 KB) [[attachment:indexhtml-artworktest-03-zh-CN.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml-artworktest-03.png">view</a>]<input type="checkbox" name="fn" value="indexhtml-artworktest-03.png"> (2019-05-20 01:11:59, 105.6 KB) [[attachment:indexhtml-artworktest-03.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/indexhtml.png">view</a>]<input type="checkbox" name="fn" value="indexhtml.png"> (2019-04-28 18:56:17, 102.8 KB) [[attachment:indexhtml.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/plymouth-artworktest-01.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/plymouth-artworktest-01.png">view</a>]<input type="checkbox" name="fn" value="plymouth-artworktest-01.png"> (2019-04-28 18:31:53, 226.3 KB) [[attachment:plymouth-artworktest-01.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/plymouth-artworktest-02.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/plymouth-artworktest-02.png">view</a>]<input type="checkbox" name="fn" value="plymouth-artworktest-02.png"> (2019-05-27 10:48:23, 161.3 KB) [[attachment:plymouth-artworktest-02.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/plymouth-artworktest-03.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/plymouth-artworktest-03.png">view</a>]<input type="checkbox" name="fn" value="plymouth-artworktest-03.png"> (2019-05-27 23:54:02, 254.5 KB) [[attachment:plymouth-artworktest-03.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/sketch-thumb.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/sketch-thumb.png">view</a>]<input type="checkbox" name="fn" value="sketch-thumb.png"> (2019-04-18 20:21:38, 27.5 KB) [[attachment:sketch-thumb.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/sketch.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch4/sketch.png">view</a>]<input type="checkbox" name="fn" value="sketch.png"> (2019-04-18 20:21:29, 61.1 KB) [[attachment:sketch.png]]</li></ul><input type="checkbox" onclick="checkAll(this, 'fn')">&nbsp;All files&nbsp;|&nbsp;Selected Files:
<input type="radio" name="multifile" value="rm">delete</input>
<input type="radio" name="multifile" value="mv">move to page</input>
<input type="radio" name="multifile" value="cp">copy to page</input>
<input type="text" name="multi_dest_pagename" value="ArtWork/Motifs/CentOS8/Sketch4">
<input type="submit" value="Do it.">
</form> <span class="anchor" id="line-120"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:19
</body>
</html>
