<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ArtWork/Motifs/CentOS8/Sketch2</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">ArtWork/Motifs/CentOS8/Sketch2</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><p class="line867">
<h1 id="CentOS_8_Artistic_Motif_Sketch_2">CentOS 8 Artistic Motif Sketch 2</h1>
<span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line867">
<h2 id="Concept">1. Concept</h2>
<span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><ul><li><p class="line862">The number 8 and CentOS beauty to start <img alt=":)" height="16" src="/moin_static1911/modern/img/smile.png" title=":)" width="16" /> <span class="anchor" id="line-6"></span></li><li>Simple, plain, clean <span class="anchor" id="line-7"></span></li><li>... <span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span></li></ul><p class="line862">See <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8.svg" title="">c8.svg</a> <span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line867">
<h2 id="Proposition">2. Proposition</h2>
<span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><p class="line874">Well, the one to be chosen. <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line874">... <span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><p class="line867">
<h2 id="Ideas_and_inspiration">3. Ideas and inspiration</h2>
<span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span><p class="line874">List of images around the concept. <span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span><div><table style="float:left"><tbody><tr>  <td><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/640x360.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch2/640x360.png|CentOS 8 Sketch 2}}"><img alt="CentOS 8 Sketch 2" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/640x360.png" title="CentOS 8 Sketch 2" /></a> </td>
</tr>
<tr>  <td><span class="anchor" id="line-22"></span><p class="line862"> © 2018 <a href="./AlainRegueraDelgado.html">AlainRegueraDelgado</a> <br>
 Released under <a class="http" href="http://artlibre.org/licence/lal/en/">Free Art 1.3 license</a></td>
</tr>
</tbody></table></div><span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><div><table style="float:left"><tbody><tr>  <td><p class="line862"> <a class="attachment" href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-sketch2.0.0-640x480.png" title="{{attachment:ArtWork/Motifs/CentOS8/Sketch2/c8-sketch2.0.0-640x480.png|CentOS 8 Sketch 2}}"><img alt="CentOS 8 Sketch 2" class="attachment" src="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-sketch2.0.0-640x480.png" title="CentOS 8 Sketch 2" /></a> </td>
</tr>
<tr>  <td><span class="anchor" id="line-25"></span><p class="line862"> © 2018 <a href="./AlainRegueraDelgado.html">AlainRegueraDelgado</a> <br>
 Released under <a class="http" href="http://artlibre.org/licence/lal/en/">Free Art 1.3 license</a></td>
</tr>
</tbody></table></div><span class="anchor" id="line-26"></span><span class="anchor" id="line-27"></span><div><table style="clear:both"><tbody><tr>  <td style="border: 0"><p class="line862"> </td>
</tr>
</tbody></table></div><span class="anchor" id="line-28"></span><span class="anchor" id="line-29"></span><p class="line867">
<h2 id="Files">4. Files</h2>
<span class="anchor" id="line-30"></span><span class="anchor" id="line-31"></span><p class="line867"><script>
function checkAll(bx, targets_name) {
  var cbs = document.getElementsByTagName('input');
  for(var i=0; i < cbs.length; i++) {
    if(cbs[i].type == 'checkbox' && cbs[i].name == targets_name) {
      cbs[i].checked = bx.checked;
    }
  }
}
</script>
<form method="POST">
<input type="hidden" name="action" value="AttachFile">
<input type="hidden" name="do" value="multifile">
<ul><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/320x180.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/320x180.png">view</a>]<input type="checkbox" name="fn" value="320x180.png"> (2018-06-16 15:43:51, 69.1 KB) [[attachment:320x180.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/640x360.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/640x360.png">view</a>]<input type="checkbox" name="fn" value="640x360.png"> (2018-06-16 15:41:25, 258.8 KB) [[attachment:640x360.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-1980x1020.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-1980x1020.png">view</a>]<input type="checkbox" name="fn" value="c8-1980x1020.png"> (2018-06-16 15:45:07, 2048.9 KB) [[attachment:c8-1980x1020.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-sketch2.0.0-1024x768.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-sketch2.0.0-1024x768.png">view</a>]<input type="checkbox" name="fn" value="c8-sketch2.0.0-1024x768.png"> (2018-06-18 21:52:39, 1230.4 KB) [[attachment:c8-sketch2.0.0-1024x768.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-sketch2.0.0-640x480.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-sketch2.0.0-640x480.png">view</a>]<input type="checkbox" name="fn" value="c8-sketch2.0.0-640x480.png"> (2018-06-18 21:52:12, 502.6 KB) [[attachment:c8-sketch2.0.0-640x480.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-sketch2.0.1-4096x3072.png">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8-sketch2.0.1-4096x3072.png">view</a>]<input type="checkbox" name="fn" value="c8-sketch2.0.1-4096x3072.png"> (2018-06-18 22:30:11, 4325.1 KB) [[attachment:c8-sketch2.0.1-4096x3072.png]]</li><li>[<a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8.svg">get</a>&nbsp;| <a href="attachments/ArtWork(2f)Motifs(2f)CentOS8(2f)Sketch2/c8.svg">view</a>]<input type="checkbox" name="fn" value="c8.svg"> (2018-06-18 22:28:13, 57.1 KB) [[attachment:c8.svg]]</li></ul><input type="checkbox" onclick="checkAll(this, 'fn')">&nbsp;All files&nbsp;|&nbsp;Selected Files:
<input type="radio" name="multifile" value="rm">delete</input>
<input type="radio" name="multifile" value="mv">move to page</input>
<input type="radio" name="multifile" value="cp">copy to page</input>
<input type="text" name="multi_dest_pagename" value="ArtWork/Motifs/CentOS8/Sketch2">
<input type="submit" value="Do it.">
</form> <span class="anchor" id="line-32"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:19
</body>
</html>
