<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>CodyJackson</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">CodyJackson</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><div><table style="float:right;"><tbody><tr>  <td><p class="line891"><a class="attachment" href="attachments/CodyJackson/FirstnameLastname96.png" title="{{attachment:FirstnameLastname96.png|Firstname Lastname|width=96}}"><img alt="Firstname Lastname" class="attachment" src="attachments/CodyJackson/FirstnameLastname96.png" title="Firstname Lastname" width="96" /></a></td>
</tr>
</tbody></table></div><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><p class="line867">
<h1 id="Cody_Jackson">Cody Jackson</h1>
<span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><p class="line867">
<h2 id="Project_Responsibilities">1. Project Responsibilities</h2>
<span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><ul><li>Humor and moral support. <span class="anchor" id="line-12"></span></li><li>Random bouts of immaturity <span class="anchor" id="line-13"></span></li><li>Wiki contributer <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span></li></ul><p class="line867">
<h2 id="Contact_information">2. Contact information</h2>
<span class="anchor" id="line-17"></span><ul><li><p class="line862">Email: <tt>&lt;supertanker13&nbsp;AT&nbsp;gmail&nbsp;DOT&nbsp;com&gt;</tt> <span class="anchor" id="line-18"></span></li><li>IRC: Contact "Supertanker" in #centos or #centos-social <span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span></li></ul><p class="line867">
<h2 id="Website">3. Website</h2>
<span class="anchor" id="line-22"></span><ul><li><p class="line891"><a class="http" href="http://cjackson.co.cc">cjackson.co.cc</a> - Blog and JRepo information <span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span></li></ul><p class="line867">
<h2 id="Interests">4. Interests</h2>
<span class="anchor" id="line-26"></span><ul><li>Computers  <span class="anchor" id="line-27"></span></li><li>Music (Swing, Dixieland, Blues) <span class="anchor" id="line-28"></span></li><li>Watercolor painting, Cartooning <span class="anchor" id="line-29"></span></li><li>Writing <span class="anchor" id="line-30"></span><span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span></li></ul><p class="line867">
<h2 id="Projects">5. Projects</h2>
<span class="anchor" id="line-33"></span><ul><li><p class="line891"><a class="http" href="http://cjackson.co.cc/articles/jrepo/index.html">JRepo</a>, a small repository of hard-to-find packages such as Nanoblogger. In fact, at the moment, <em>only</em> nanoblogger. <img alt=";)" height="16" src="/moin_static1911/modern/img/smile4.png" title=";)" width="16" /> <span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><span class="anchor" id="line-36"></span></li></ul><p class="line867">
<h2 id="TODO">6. TODO</h2>
<span class="anchor" id="line-37"></span><span class="anchor" id="line-38"></span><ul><li>Package things. <span class="anchor" id="line-39"></span></li><li>Write. <span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span></li></ul><p class="line867">
<h2 id="Biography">7. Biography</h2>
<span class="anchor" id="line-42"></span><p class="line867">
<h3 id="Short">7.1. Short</h3>
<span class="anchor" id="line-43"></span><p class="line874">Cody Jackson is a computer science major living in the United States in California. He hopes to become a computer science professor after earning his Master's degree and aims to teach at a community college. <span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><p class="line867">
<h3 id="Long">7.2. Long</h3>
<span class="anchor" id="line-46"></span><p class="line874">Cody Jackson bought his first two computers--a 486SX and a 386--at the age of eight and since then has taken a profound interest in discovering how they tick. At the urging of a friend, he tried Fedora Core 4 several years later, and since then has used Linux regularly on most of his computers. At present, he is working his way through community college as a student, teachers' assistant, tutor, and community leader. He hopes to transfer in two semesters to a 4-year college. During his free time, he writes, paints, and plays blues guitar. <span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span><p class="line874">He runs CentOS on all but three of his computers. <span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><p class="line867"><hr /><p class="line874"> <span class="anchor" id="line-51"></span><a href="./CategoryHomepage.html">CategoryHomepage</a> <span class="anchor" id="line-52"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:19
</body>
</html>
