<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>FilipeBrandenburger</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">FilipeBrandenburger</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><div><table style="float:right;"><tbody><tr>  <td><p class="line891"><a class="attachment" href="attachments/FilipeBrandenburger/FilipeBrandenburger192.png" title="{{attachment:FilipeBrandenburger192.png|Filipe Brandenburger|width=192}}"><img alt="Filipe Brandenburger" class="attachment" src="attachments/FilipeBrandenburger/FilipeBrandenburger192.png" title="Filipe Brandenburger" width="192" /></a></td>
</tr>
</tbody></table></div><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><div><table style="float:right;"><tbody><tr>  <td><p class="line891"><a class="attachment" href="attachments/FilipeBrandenburger/FilipeBrandenburger96.png" title="{{attachment:FilipeBrandenburger96.png|Filipe Brandenburger|width=96}}"><img alt="Filipe Brandenburger" class="attachment" src="attachments/FilipeBrandenburger/FilipeBrandenburger96.png" title="Filipe Brandenburger" width="96" /></a></td>
</tr>
</tbody></table></div><span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><p class="line867">
<h1 id="Filipe_Brandenburger">Filipe Brandenburger</h1>
<span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><p class="line867">
<h2 id="Roles">1. Roles</h2>
<span class="anchor" id="line-13"></span><ul><li>Mailing list contributor <span class="anchor" id="line-14"></span></li><li><p class="line891"><a href="./FrontPage.html">Wiki</a> contributor <span class="anchor" id="line-15"></span></li><li>QA team member <span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span></li></ul><p class="line867"><hr /><p class="line874"> <span class="anchor" id="line-19"></span><a href="./CategoryHomepage.html">CategoryHomepage</a> <span class="anchor" id="line-20"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:22
</body>
</html>
