<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>HelpOnLinking</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">HelpOnLinking</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><p class="line867">
<h1 id="Linking_Rules">1. Linking Rules</h1>
<span class="anchor" id="line-10"></span><ul><li>Targets can be: <span class="anchor" id="line-11"></span><ul><li>Local Pages: <span class="anchor" id="line-12"></span><ul><li><p class="line862">either absolute: <strong><tt class="backtick">a&nbsp;page&nbsp;name</tt></strong> or <strong><tt class="backtick">main&nbsp;page/sub&nbsp;page</tt></strong> <span class="anchor" id="line-13"></span></li><li><p class="line862">or relative: <strong><tt class="backtick">/some&nbsp;sub&nbsp;page</tt></strong> or <strong><tt class="backtick">../some&nbsp;sister&nbsp;page</tt></strong> <span class="anchor" id="line-14"></span></li></ul></li><li><p class="line862">Interwiki Pages: <strong><tt class="backtick">OtherWiki:a&nbsp;pagename&nbsp;there</tt></strong> <span class="anchor" id="line-15"></span></li><li><p class="line862">URLs: <strong><tt class="backtick">http://server/path</tt></strong> <span class="anchor" id="line-16"></span></li><li><p class="line862">Pages and URLs may include an anchor (<strong><tt class="backtick">...#anchorname</tt></strong>). <span class="anchor" id="line-17"></span></li></ul></li><li><p class="line862">Use <strong><tt class="backtick">[[target]]</tt></strong> if you want to <em>link</em> to some target object. <span class="anchor" id="line-18"></span></li><li><p class="line862">Use <strong><tt class="backtick">{{target}}</tt></strong> if you want to <em>transclude</em> (embed/include/show) some target object (often an image). <span class="anchor" id="line-19"></span></li><li><p class="line862">Use <strong><tt class="backtick">target|text</tt></strong> instead of just <strong><tt class="backtick">target</tt></strong> to make it use the given text (e.g. as link text for links or as alt text for images). <span class="anchor" id="line-20"></span></li><li><p class="line862">Use <strong><tt class="backtick">target|text|params</tt></strong> instead of just <strong><tt class="backtick">target</tt></strong> to give additional params. <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span></li><li class="gap"><p class="line862">Use <strong><tt class="backtick">target|{{imagetarget}}</tt></strong> if you want to show an image instead of a text. <span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span></li></ul><p class="line862">URLs, interwiki pages, email addresses and <a href="./CamelCase.html">CamelCase</a> pagenames are recognized as targets even without using brackets. <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line867">
<h1 id="Quick_Reference">2. Quick Reference</h1>
<span class="anchor" id="line-27"></span><div><table><tbody><tr>  <td><p class="line891"><strong>Hyperlink</strong>              </td>
  <td><p class="line891"><strong>Syntax</strong>                                </td>
  <td><p class="line891"><strong>Comment</strong>                 </td>
</tr>
<tr>  <td><span class="anchor" id="line-28"></span><p class="line862">internal link                </td>
  <td><p class="line891"><tt class="backtick">WikiName</tt>                                  </td>
  <td><p class="line862">Camel<tt class="backtick"></tt>Case page name         </td>
</tr>
<tr>  <td><span class="anchor" id="line-29"></span><p class="line862">internal free link           </td>
  <td><p class="line891"><tt class="backtick">[[free&nbsp;link]]</tt>                             </td>
  <td><p class="line862">any page name                 </td>
</tr>
<tr>  <td><span class="anchor" id="line-30"></span><p class="line862">internal link to sub page    </td>
  <td><p class="line891"><tt class="backtick">/SubPage</tt> or <tt class="backtick">[[/sub&nbsp;page]]</tt>               </td>
  <td><p class="line862">                              </td>
</tr>
<tr>  <td><span class="anchor" id="line-31"></span><p class="line862">internal link to sister page </td>
  <td><p class="line891"><tt class="backtick">../SisterPage</tt> or <tt class="backtick">[[../sister|link&nbsp;text]]</tt> </td>
  <td><p class="line862">                             </td>
</tr>
<tr>  <td><span class="anchor" id="line-32"></span><p class="line862">internal link with linktext  </td>
  <td><p class="line891"><tt class="backtick">[[SomePage|some&nbsp;Page]]</tt>                    </td>
  <td><p class="line862">                              </td>
</tr>
<tr>  <td><span class="anchor" id="line-33"></span><p class="line862">link to attachment           </td>
  <td><p class="line891"><tt class="backtick">[[attachment:a&nbsp;image.png]]</tt>                </td>
  <td><p class="line862">links to attachment image     </td>
</tr>
<tr>  <td><span class="anchor" id="line-34"></span><p class="line862">interwiki link               </td>
  <td><p class="line891"><tt class="backtick">Otherwiki:somepage</tt>                        </td>
  <td><p class="line862">requires uppercase wikiname   </td>
</tr>
<tr>  <td><span class="anchor" id="line-35"></span><p class="line862">interwiki free link          </td>
  <td><p class="line891"><tt class="backtick">[[otherwiki:somepage]]</tt>                    </td>
  <td><p class="line862">any wikiname in the map works </td>
</tr>
<tr>  <td><span class="anchor" id="line-36"></span><p class="line862">external link                </td>
  <td><p class="line891"><tt class="backtick">http://example.net</tt>                        </td>
  <td><p class="line862">                              </td>
</tr>
<tr>  <td><span class="anchor" id="line-37"></span><p class="line862">external link with linktext  </td>
  <td><p class="line891"><tt class="backtick">[[http://example.net|example&nbsp;site]]</tt>       </td>
  <td><p class="line862">                              </td>
</tr>
<tr>  <td><span class="anchor" id="line-38"></span><p class="line862">border of internal link      </td>
  <td><p class="line891"><tt>WikiName``s</tt>                  </td>
  <td><p class="line862">2 backticks - for when a WikiName ends in the middle of a word</td>
</tr>
<tr>  <td><span class="anchor" id="line-39"></span><p class="line862">avoid an internal link       </td>
  <td><p class="line891"><tt class="backtick">!WikiName</tt>                                 </td>
  <td><p class="line862">configurable function         </td>
</tr>
</tbody></table></div><span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span><div><table><tbody><tr>  <td><p class="line891"><strong>Transclusion/Embedding</strong> </td>
  <td><p class="line891"><strong>Syntax</strong> </td>
  <td><p class="line891"><strong>Comment</strong> </td>
</tr>
<tr>  <td><span class="anchor" id="line-42"></span><p class="line862">embed an attached graphics </td>
  <td><p class="line891"><tt class="backtick">{{attachment:an&nbsp;image.png}}</tt> </td>
  <td><p class="line862">show attached image file <tt class="backtick">an&nbsp;image.png</tt> </td>
</tr>
<tr>  <td><span class="anchor" id="line-43"></span><p class="line862">embed an attached graphics and give alt text </td>
  <td><p class="line891"><tt class="backtick">{{attachment:an&nbsp;image.png|alt&nbsp;text}}</tt> </td>
  <td><p class="line862">show attached image file <tt class="backtick">an&nbsp;image.png</tt> with alternative text saying <tt class="backtick">alt&nbsp;text</tt> (recommended for accessibility) </td>
</tr>
<tr>  <td><span class="anchor" id="line-44"></span><p class="line862">embed an attached graphics and define alignment </td>
  <td><p class="line891"><tt class="backtick">{{attachment:an&nbsp;image.png|alt&nbsp;text|align="position"}}</tt> </td>
  <td><p class="line862">show attached image file <tt class="backtick">an&nbsp;image.png</tt> with alternative text <tt class="backtick">alt&nbsp;text</tt> and  aligned to <em>position</em>, where <em>position</em> can be one of <strong>top</strong>, <strong>middle</strong>, <strong>bottom</strong>, <strong>right</strong> or <strong>left</strong> (do not omit alt text) </td>
</tr>
<tr>  <td><span class="anchor" id="line-45"></span><p class="line862">embed an attached graphics and resize it </td>
  <td><p class="line891"><tt class="backtick">{{attachment:an&nbsp;image.png|alt&nbsp;text|width=100}}</tt> </td>
  <td><p class="line862">show attached image file <tt class="backtick">an&nbsp;image.png</tt> with alternative text <tt class="backtick">alt&nbsp;text</tt> and resize it to 100px width (do not omit alt text) </td>
</tr>
<tr>  <td><span class="anchor" id="line-46"></span><p class="line862">embed an external graphics </td>
  <td><p class="line891"><tt class="backtick">{{http://example.net/image.png}}</tt> </td>
  <td><p class="line862">show target image inline </td>
</tr>
<tr>  <td><span class="anchor" id="line-47"></span><p class="line862">embed an external graphics and give alt text </td>
  <td><p class="line891"><tt class="backtick">{{http://example.net/image.png|alt&nbsp;text}}</tt> </td>
  <td><p class="line862">show target image inline with alternative text saying <tt class="backtick">alt&nbsp;text</tt> (recommended for accessibility) </td>
</tr>
<tr>  <td><span class="anchor" id="line-48"></span><p class="line862">embed an external graphics and define alignment </td>
  <td><p class="line891"><tt class="backtick">{{http://example.net/image.png|alt&nbsp;text|align="position"}}</tt> </td>
  <td><p class="line862">show target image inline with alternative text <tt class="backtick">alt&nbsp;text</tt> and aligned to <em>position</em>, where <em>position</em> can be one of <strong>top</strong>, <strong>middle</strong>, <strong>bottom</strong>, <strong>right</strong>, or <strong>left</strong> (do not omit alt text) </td>
</tr>
<tr>  <td><span class="anchor" id="line-49"></span><p class="line862">embed an external graphics and resize it </td>
  <td><p class="line891"><tt class="backtick">{{http://example.net/image.png|alt&nbsp;text|width=100}}</tt> </td>
  <td><p class="line862">show target image inline with alternative text <tt class="backtick">alt&nbsp;text</tt> and resize it to 100px width (do not omit alt text) </td>
</tr>
</tbody></table></div><span class="anchor" id="line-50"></span><span class="anchor" id="line-51"></span><p class="line867">
<h1 id="Explanations">3. Explanations</h1>
<span class="anchor" id="line-52"></span><span class="anchor" id="line-53"></span><p class="line867">
<h2 id="URLs">3.1. URLs</h2>
<span class="anchor" id="line-54"></span><p class="line874">If you enter URLs into normal text, there is the problem of detecting what belongs to the URL and what not. There are four ways to force the ending of an URL: <span class="anchor" id="line-55"></span><ul><li>put a space after the URL, <span class="anchor" id="line-56"></span></li><li><p class="line862">use the <a class="interwiki" href="http://c2.com/cgi/wiki?SixSingleQuotes" title="Wiki">SixSingleQuotes</a> escaping, <span class="anchor" id="line-57"></span></li><li>use the double bracketed URL syntax. <span class="anchor" id="line-58"></span><span class="anchor" id="line-59"></span></li></ul><p class="line862">The supported URL schemes are: <tt class="backtick">http</tt>, <tt class="backtick">https</tt>, <tt class="backtick">ftp</tt>, <tt class="backtick">file</tt> and some others. The administrator of your wiki can extend the supported schemes by using the <tt>url_schemas</tt> variable (see <a href="./HelpOnConfiguration.html">HelpOnConfiguration</a>). <span class="anchor" id="line-60"></span><span class="anchor" id="line-61"></span><p class="line862">In addition to the standard schemes, there are <a href="./MoinMoin.html">MoinMoin</a>-specific ones: <tt class="backtick">attachment</tt> and <tt class="backtick">drawing</tt>, these are related to file attachments and are explained on <a href="./HelpOnActions(2f)AttachFile.html">HelpOnActions/AttachFile</a>. <span class="anchor" id="line-62"></span>
<h2 id="Spaces">3.2. Spaces</h2>
<span class="anchor" id="line-63"></span><p class="line874">You can always use the double brackets (or double braces) syntax to use page or file names with spaces. <span class="anchor" id="line-64"></span><span class="anchor" id="line-65"></span><p class="line874">This will even work for interwiki links, if the target wiki understands standard url quoting (space will become %20). <span class="anchor" id="line-66"></span><span class="anchor" id="line-67"></span><p class="line867">
<h2 id="Anchors">3.3. Anchors</h2>
<span class="anchor" id="line-68"></span><p class="line862">To <em>insert</em> anchors into a page you need the <em>Anchor</em> macro (see <a href="./HelpOnMacros.html">HelpOnMacros</a>): <tt class="backtick">&lt;&lt;Anchor(anchorname)&gt;&gt;</tt>, where "anchorname" is the actual identifier of the anchor. <span class="anchor" id="line-69"></span><span class="anchor" id="line-70"></span><p class="line862">To link to an anchor on the same wiki page use <tt class="backtick">[[#anchorname]]</tt> or <tt class="backtick">[[#anchorname|label&nbsp;text]]</tt>. <span class="anchor" id="line-71"></span><span class="anchor" id="line-72"></span><p class="line862">To link to an anchor on another wiki page write <tt class="backtick">[[PageName#anchorname]]</tt> or <tt class="backtick">[[PageName#anchorname|label&nbsp;text]]</tt>, where "Page<tt class="backtick"></tt>Name" is the name of the other page and "anchorname" is the identifier of the anchor on that page. <span class="anchor" id="line-73"></span><span class="anchor" id="line-74"></span><p class="line867"><img alt="/!\" height="16" src="/moin_static1911/modern/img/alert.png" title="/!\" width="16" /> On some Wikis, a link to the page <a href="./RecentChanges.html">RecentChanges</a> might refer to the same page as this link: <a class="nonexistent" href="./recentchanges.html">recentchanges</a>. This is especially true for Windows and Mac OS X systems because they are not case-sensitive normally. <span class="anchor" id="line-75"></span><span class="anchor" id="line-76"></span><p class="line867">
<h2 id="Preventing_Automatically_Generated_Links">3.4. Preventing Automatically Generated Links</h2>
<span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span><p class="line862">To keep a word like Page<tt class="backtick"></tt>Name from automatically being turned into a link, use <tt>Page``Name</tt>.  (The problem with doing this is that it will prevent a simple search for the word "Wiki<tt class="backtick"></tt>Name" from matching <tt>Wiki``Name</tt> in a page, due to the inserted characters.) <span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line862">You can also suppress <a href="./WikiName.html">WikiName</a> linking by putting an exclamation mark (<em>bang</em>) before the <a href="./WikiName.html">WikiName</a>, i.e. <tt class="backtick">!WikiName</tt>. This is available by default, but can be disabled with the configuration option <tt class="backtick">bang_meta&nbsp;=&nbsp;False</tt>.  Using this method will not interfere with most searches for the escaped <tt class="backtick">WikiName</tt>, with the exception of certain quoted phrases and regular expressions. <span class="anchor" id="line-81"></span><span class="anchor" id="line-82"></span><p class="line862">To prevent automatic URL linking, use either <tt>`http://...`</tt> or <tt class="backtick">{{{http://...}}}</tt>. <span class="anchor" id="line-83"></span><span class="anchor" id="line-84"></span><p class="line867">
<h2 id="Using_link_parameters">3.5. Using link parameters</h2>
<span class="anchor" id="line-85"></span><p class="line862">Sometimes you may want to give additional parameters for a link, influencing how it looks like, how it behaves and how exactly it links to the target - this is what the <strong>params</strong> part of <tt class="backtick">[[target|text|params]]</tt> is for. <span class="anchor" id="line-86"></span><span class="anchor" id="line-87"></span><p class="line867">
<h3 id="Setting_attributes_of_the_.3Ca.3E_tag">3.5.1. Setting attributes of the &lt;a&gt; tag</h3>
<span class="anchor" id="line-88"></span><p class="line874">Available attributes: class, title, target, accesskey (see some html reference if you want to know what they mean). <span class="anchor" id="line-89"></span><span class="anchor" id="line-90"></span><p class="line862">Example: <tt class="backtick">[[http://moinmo.in/|MoinMoin&nbsp;Wiki|class=green&nbsp;dotted,accesskey=1]]</tt> <span class="anchor" id="line-91"></span><span class="anchor" id="line-92"></span><p class="line862">Renders as: <a accesskey="1" class="green dotted" href="http://moinmo.in/">MoinMoin Wiki</a> <span class="anchor" id="line-93"></span><span class="anchor" id="line-94"></span><p class="line867"><img alt="(!)" height="16" src="/moin_static1911/modern/img/idea.png" title="(!)" width="16" /> Pressing the access key should jump to that link target (for Firefox 2.x and the example above it is Alt-Shift-1). <span class="anchor" id="line-95"></span><span class="anchor" id="line-96"></span><p class="line867">
<h3 id="Creating_a_query_string_for_the_target_URL">3.5.2. Creating a query string for the target URL</h3>
<span class="anchor" id="line-97"></span><p class="line874">What is possible for this depends on the target site. <span class="anchor" id="line-98"></span><span class="anchor" id="line-99"></span><p class="line862">Example: <tt class="backtick">[[MoinMoin:MoinMoinWiki|MoinMoin&nbsp;Wiki|&amp;action=diff,&amp;rev1=1,&amp;rev2=2]]</tt> <span class="anchor" id="line-100"></span><span class="anchor" id="line-101"></span><p class="line862">Renders as: <a class="interwiki" href="http://moinmoin.wikiwikiweb.de/MoinMoinWiki?rev1=1&amp;action=diff&amp;rev2=2" title="MoinMoin">MoinMoin Wiki</a> <span class="anchor" id="line-102"></span><span class="anchor" id="line-103"></span><p class="line867"><img alt="(!)" height="16" src="/moin_static1911/modern/img/idea.png" title="(!)" width="16" /> Please remember: <span class="anchor" id="line-104"></span><ul><li><p class="line862">If you want to give a key=value item for the query string, don't forget the ampersand (&amp;). <span class="anchor" id="line-105"></span></li><li>Giving query string items does not work when you give a URL as target (but for links to pages or attachments). <span class="anchor" id="line-106"></span></li><li>If you give a URL as target, you can include a query string directly in that target, no need for params. <span class="anchor" id="line-107"></span></li><li>You don't need to encode and url_quote the query string stuff, moin does this automatically for you. <span class="anchor" id="line-108"></span><span class="anchor" id="line-109"></span></li></ul><p class="line867">
<h2 id="Images">3.6. Images</h2>
<span class="anchor" id="line-110"></span><p class="line874">You may use <span class="anchor" id="line-111"></span><span class="anchor" id="line-112"></span><span class="anchor" id="line-113"></span><pre><span class="anchor" id="line-1"></span>{{attachment:imagefile.png|text describing image|width=100}}</pre><span class="anchor" id="line-114"></span><p class="line862">to have the attached file <tt class="backtick">imagefile.png</tt> displayed with a width of 100px; the graphics' height will be reduced/ enlarged proportionally (e.g. if <tt class="backtick">imagefile.png</tt> was actually 200px width and 400px heigh, height would be reduced in this example to 200px). You may also use <span class="anchor" id="line-115"></span><span class="anchor" id="line-116"></span><span class="anchor" id="line-117"></span><pre><span class="anchor" id="line-1-1"></span>{{attachment:imagefile.png|text describing image|height=100}}</pre><span class="anchor" id="line-118"></span><p class="line862">to have the attached file <tt class="backtick">imagefile.png</tt> displayed with a height of 100px, and the graphics' width will be reduced/ enlarged proportionally. Use <span class="anchor" id="line-119"></span><span class="anchor" id="line-120"></span><span class="anchor" id="line-121"></span><pre><span class="anchor" id="line-1-2"></span>{{attachment:imagefile.png|text describing image|width=100 height=150}}</pre><span class="anchor" id="line-122"></span><p class="line862">to have the attached file <tt class="backtick">imagefile.png</tt> displayed with a width of 100px and a height of 150px. Please do not omit the alternative text in neither case. <span class="anchor" id="line-123"></span><span class="anchor" id="line-124"></span><p class="line874">Note this does not alter the attached file itself, in only makes the browser scale the image down/ up to the value given while displaying it. <span class="anchor" id="line-125"></span><span class="anchor" id="line-126"></span><p class="line867">
<h3 id="Thumbnails">3.6.1. Thumbnails</h3>
<span class="anchor" id="line-127"></span><p class="line874">You may combine the transclusion with the linking syntax, leading to an image displayed in reduced size that links to itself in actual size, e.g. <span class="anchor" id="line-128"></span><span class="anchor" id="line-129"></span><span class="anchor" id="line-130"></span><pre><span class="anchor" id="line-1-3"></span>[[attachment:imagefile.png|{{attachment:imagefile.png|text describing image|width=100}}]]</pre><span class="anchor" id="line-131"></span><span class="anchor" id="line-132"></span><p class="line867">
<h2 id="Other_stuff">3.7. Other stuff</h2>
<span class="anchor" id="line-133"></span><span class="anchor" id="line-134"></span><p class="line862">For more information on the possible markup, see <a href="./HelpOnEditing.html">HelpOnEditing</a>. For details on how to link to subpages, see <a href="./HelpOnEditing(2f)SubPages.html">HelpOnEditing/SubPages</a>. <span class="anchor" id="line-135"></span><span class="anchor" id="line-136"></span><p class="line867"> <span class="anchor" id="line-137"></span><span class="anchor" id="line-138"></span><p class="line867">
<h1 id="Examples">4. Examples</h1>
<span class="anchor" id="line-139"></span><p class="line867">
<h2 id="Markup">4.1. Markup</h2>
<span class="anchor" id="line-140"></span><p class="line867"><span class="anchor" id="line-141"></span><span class="anchor" id="line-142"></span><span class="anchor" id="line-143"></span><span class="anchor" id="line-144"></span><span class="anchor" id="line-145"></span><span class="anchor" id="line-146"></span><span class="anchor" id="line-147"></span><span class="anchor" id="line-148"></span><span class="anchor" id="line-149"></span><span class="anchor" id="line-150"></span><span class="anchor" id="line-151"></span><span class="anchor" id="line-152"></span><span class="anchor" id="line-153"></span><span class="anchor" id="line-154"></span><span class="anchor" id="line-155"></span><span class="anchor" id="line-156"></span><span class="anchor" id="line-157"></span><span class="anchor" id="line-158"></span><pre><span class="anchor" id="line-1-4"></span> * http://moinmo.in/
<span class="anchor" id="line-2"></span> * [[http://moinmo.in/]]
<span class="anchor" id="line-3"></span> * [[http://moinmo.in/|MoinMoin Homepage]]
<span class="anchor" id="line-4"></span> * InterWiki
<span class="anchor" id="line-5"></span>  * Self:InterWiki
<span class="anchor" id="line-6"></span>  * MeatBall:InterWiki
<span class="anchor" id="line-7"></span>  * [[MeatBall:InterWiki|InterWiki page on MeatBall]]
<span class="anchor" id="line-8"></span>  * [[MoinMoin:page with spaces]] (doesn't exist)
<span class="anchor" id="line-9"></span> * email
<span class="anchor" id="line-10"></span>  * user@example.com
<span class="anchor" id="line-11"></span>  * mailto:user@example.com?subject=test
<span class="anchor" id="line-12"></span>  * [[mailto:user@example.com?subject=test|Email me]]
<span class="anchor" id="line-13"></span> * [[InterWiki|InterWiki page in this wiki]]
<span class="anchor" id="line-14"></span> * [[#anchorname|Link to anchor on this page]]
<span class="anchor" id="line-15"></span> * [[OtherPage#anchorname|Link to anchor on other page in current wiki with label text]]
<span class="anchor" id="line-16"></span> * {{http://moinmo.in/moin_static/common/moinmoin.png}}
<span class="anchor" id="line-17"></span> * {{http://moinmo.in/moin_static/common/moinmoin.png|moinmoin logo}}</pre><span class="anchor" id="line-159"></span><span class="anchor" id="line-160"></span><p class="line867">
<h2 id="Display">4.2. Display</h2>
<span class="anchor" id="line-161"></span><ul><li><p class="line891"><a class="http" href="http://moinmo.in/">http://moinmo.in/</a> <span class="anchor" id="line-162"></span></li><li><p class="line891"><a class="http" href="http://moinmo.in/">http://moinmo.in/</a> <span class="anchor" id="line-163"></span></li><li><p class="line891"><a class="http" href="http://moinmo.in/">MoinMoin Homepage</a> <span class="anchor" id="line-164"></span></li><li><p class="line891"><a href="./InterWiki.html">InterWiki</a> <span class="anchor" id="line-165"></span><ul><li><p class="line891"><a href="/InterWiki">InterWiki</a> <span class="anchor" id="line-166"></span></li><li><p class="line891"><a class="interwiki" href="http://www.usemod.com/cgi-bin/mb.pl?InterWiki" title="MeatBall">InterWiki</a> <span class="anchor" id="line-167"></span></li><li><p class="line891"><a class="interwiki" href="http://www.usemod.com/cgi-bin/mb.pl?InterWiki" title="MeatBall">InterWiki page on MeatBall</a> <span class="anchor" id="line-168"></span></li><li><p class="line891"><a class="interwiki" href="http://moinmoin.wikiwikiweb.de/page%20with%20spaces" title="MoinMoin">page with spaces</a> (doesn't exist) <span class="anchor" id="line-169"></span></li></ul></li><li>email <span class="anchor" id="line-170"></span><ul><li><p class="line891"><a class="mailto" href="mailto:user@example.com">user@example.com</a> <span class="anchor" id="line-171"></span></li><li><p class="line891"><a class="mailto" href="mailto:user@example.com?subject=test">mailto:user@example.com?subject=test</a> <span class="anchor" id="line-172"></span></li><li><p class="line891"><a class="mailto" href="mailto:user@example.com?subject=test">Email me</a> <span class="anchor" id="line-173"></span></li></ul></li><li><p class="line891"><a href="./InterWiki.html">InterWiki page in this wiki</a> <span class="anchor" id="line-174"></span></li><li><p class="line891"><a href="./HelpOnLinking.html#anchorname">Link to anchor on this page</a> <span class="anchor" id="line-175"></span></li><li><p class="line891"><a class="nonexistent" href="./OtherPage.html#anchorname">Link to anchor on other page in current wiki with label text</a> <span class="anchor" id="line-176"></span></li><li><p class="line891"><img alt="http://moinmo.in/moin_static/common/moinmoin.png" class="external_image" src="http://moinmo.in/moin_static/common/moinmoin.png" title="http://moinmo.in/moin_static/common/moinmoin.png" /> <span class="anchor" id="line-177"></span></li><li><p class="line891"><img alt="moinmoin logo" class="external_image" src="http://moinmo.in/moin_static/common/moinmoin.png" title="moinmoin logo" /> <span class="anchor" id="line-178"></span><span class="anchor" id="line-179"></span></li></ul><p class="line867">
<h1 id="If_you_used_moin_before...">5. If you used moin before...</h1>
<span class="anchor" id="line-180"></span><p class="line874">Don't worry, it is much easier and better predictable now: <span class="anchor" id="line-181"></span><ul><li>It is always two brackets (for links) or two curly braces (for transclusion/embedding) now. <span class="anchor" id="line-182"></span></li><li><p class="line862">Because of that, macros use <strong><tt class="backtick">&lt;&lt;MacroName(...)&gt;&gt;</tt></strong> syntax now. <span class="anchor" id="line-183"></span></li><li>Use brackets or braces syntax if some target has blanks chars (no _ and no %20 any more!). <span class="anchor" id="line-184"></span></li><li>Use the pipe char (|) to separate target and text (and params). <span class="anchor" id="line-185"></span></li><li><p class="line891"><strong><tt class="backtick">wiki:</tt></strong> is gone, just use interwiki without it. <span class="anchor" id="line-186"></span></li><li><p class="line891"><strong><tt class="backtick">inline:</tt></strong> is now <strong><tt class="backtick">{{attachment:...}}</tt></strong>. <span class="anchor" id="line-187"></span></li><li><p class="line862">Interwiki links now only use <tt class="backtick">WikiName:PageName</tt> (<em>not:</em> <tt class="backtick">WikiName/PageName</tt>) <span class="anchor" id="line-188"></span></li><li>It has less magic now (and will just do what you say!): <span class="anchor" id="line-189"></span><ul><li>Underscore (_) is a normal character and different from blank. <span class="anchor" id="line-190"></span></li><li>If you want an underscore, use an underscore - if you want a blank, use a blank. <span class="anchor" id="line-191"></span></li><li>If you link to an image, it will just link to an image (not show/embed it!). <span class="anchor" id="line-192"></span></li></ul></li><li>For early moin 1.6 users: no quoting with double-quotes any more, use outer double brackets/braces to quote. <span class="anchor" id="line-193"></span><span class="anchor" id="line-194"></span></li></ul><p class="line867"><img alt="(!)" height="16" src="/moin_static1911/modern/img/idea.png" title="(!)" width="16" /> This markup is inspired by creole wiki markup standard (and is also quite similar to what mediawiki engine uses). <span class="anchor" id="line-195"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:22
</body>
</html>
