<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>HowTos/SoftwareRAIDonCentOS5</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">HowTos/SoftwareRAIDonCentOS5</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line867">
<h1 id="How_to_Setup_a_Software_RAID_on_CentOS_5">How to Setup a Software RAID on CentOS 5</h1>
<span class="anchor" id="line-4"></span><p class="line874">This article addresses an approach for setting up of software (mdraid) RAID1 at install time on systems without a true hardware RAID* controller.  It is NOT supported by the CentOS project; it is NOT a recommended approach for non-hobby users (see the Design Consideration note, infra).  Rather this article is written to document an approach involving much local experimentation, to end up with a fragile result that is not updated when a software update installs a new kernel.  We do NOT recommend it.  Years of experience demonstrate that is is highly likely that you WILL forget to do a bootloader refresh, and run a greater risk of losing data, than the theoretical risk of a hard drive failure. <span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><p class="line874">"Unsupported" means: when you appear and ask about this article in the #centos IRC channel, the knowledgeable channel regulars will tell you it is NOT SUPPORTED and DO NOT DO THAT. <span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line867"><img alt="/!\" height="16" src="/moin_static1911/modern/img/alert.png" title="/!\" width="16" /> Design consideration: Is it sensible to even be using RAID for the /boot  partition? The content at mountpoint: <strong>/boot/ </strong> is normally placed on a <strong>native</strong> (non-RAID)  partition.  It is relatively small in size; under 250 megabytes is customary.  As such it is not difficult to gain redundancy of that data with a simple copy, post chnage, to a location under RAID redundancy AFTER an initial installation AND after each update of the kernel.  You might do so with a small script such as this: {{{ # [ ! -d /root/boot_backup ] &amp;&amp; mkdir -p /root/boot_backup <span class="anchor" id="line-9"></span># rsync -a -v /boot/. /root/boot_backup/. }}} <span class="anchor" id="line-10"></span>and so to get a RAID protected copy of that partition.  RAID is of course not a backup solution.  Using this approach avoids the rather <strong>kludgy</strong> and fragile approach outlined below. <span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><div><table><tbody><tr>  <td style="background-color: #ff1480"><p class="line862"> <img alt="&lt;!&gt;" height="16" src="/moin_static1911/modern/img/attention.png" title="&lt;!&gt;" width="16" /> The actions described in this write-up can damage an existing filesystem. Please experiment first on a test box and then only proceed after creating current and proven viable backups. Never blindly copy/paste commands, particularly as <em>root</em>, without a thorough understanding of their effects. </td>
</tr>
</tbody></table></div><span class="anchor" id="line-13"></span><span class="anchor" id="line-14"></span><p class="line874">This approach implies hardware controllers that expose the raw block devices directly to the operating system.  It is also assumed that the devices involved are /dev/sda and /dev/sdb for the first two SATA or SCSI drives.  Replace /dev/sda and /dev/sdb with /dev/hda and /dev/hdb (or possibly /dev/hdc for a secondary master) respectively for the first two parallel ATA drives.  Adjust drive designations as required for other configurations. Be very careful to adjust commands for your situation and not simply blindly follow the procedure. <span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><p class="line874">Booting will only work with /boot on non-RAID or RAID1 partitions.  RAID0, RAID5 or other RAID types will not work for /boot and RAID0 (striping with no redundancy) is not recommended for critical partitions.  With the /boot constraints satisfied, the root and other partitions may be RAID5 or another type; however, these options are not covered in this example. <span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><p class="line867"><strong>The "dd" commands and the installation procedure described below will destroy all information on the disks. If you have data on the drives that you need access to, please backup the drives and test the adequacy of the backups, first.</strong> <span class="anchor" id="line-19"></span>
<h2 id="Section_One">1. Section One</h2>
<span class="anchor" id="line-20"></span><ol type="1"><li>Disable any fake RAID in the motherboard or RAID controller BIOS so that it acts as a normal controller - usually either ATA or SATA, possibly SCSI.  It may be necessary to overwrite the partition tables if fake raid has previously been used on the disks. Do not load a RAID driver.  The following commands may be performed on the 2nd virtual console (Ctrl-Alt-F2) during a graphical install before partitioning, or booted in rescue mode from installation media, or from a LiveCD. The partition tables of the devices will be zeroed out and all contents of the drives lost! <span class="anchor" id="line-21"></span><ul><li style="list-style-type:none"><span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span><pre><span class="anchor" id="line-1"></span>dd if=/dev/zero of=/dev/sda bs=512 count=64
<span class="anchor" id="line-2"></span>dd if=/dev/zero of=/dev/sdb bs=512 count=64</pre><span class="anchor" id="line-24"></span></li></ul></li><li>Begin graphical installation of CentOS.  May need to use "boot: linux nodmraid" or Press [Tab] at the initial installation selection menu and add nodmraid to the boot commands. <span class="anchor" id="line-25"></span></li><li>Customize partitions and remove all partitions, including LVMs, for a fresh start <span class="anchor" id="line-26"></span></li><li>Create an ~100MB software RAID partition on sda and sdb for /boot <span class="anchor" id="line-27"></span></li><li>Create a software RAID partition on sda and sdb for swap. This partition size is based on the amount of RAM and personal preferences. The example uses 1GB. This is going to be RAIDed swap.*** <span class="anchor" id="line-28"></span></li><li>Create a software RAID partition on sda and sdb for / and fill to maximum allowable size <span class="anchor" id="line-29"></span></li><li>Click the RAID button, create a RAID device <span class="anchor" id="line-30"></span></li><li>Pick the two 100MB partitions, mount point /boot, filesystem type ext3, RAID1 (default RAID device should be md0), click OK <span class="anchor" id="line-31"></span></li><li>Click the RAID button, create a RAID device <span class="anchor" id="line-32"></span></li><li>Pick the two 1GB partitions, filesystem type swap, RAID1 (default RAID device should be md1), click OK <span class="anchor" id="line-33"></span></li><li>Click the RAID button, create a RAID device <span class="anchor" id="line-34"></span></li><li>Pick the two large partitions, mount point /, filesystem type ext3, RAID1 (default RAID device should be md2), click OK <span class="anchor" id="line-35"></span></li><li>Your partitions are complete. Your screen should look similar to this: <span class="anchor" id="line-36"></span><ul><li style="list-style-type:none"><p class="line891"><strong> RAID Devices </strong> <span class="anchor" id="line-37"></span><span class="anchor" id="line-38"></span><span class="anchor" id="line-39"></span><span class="anchor" id="line-40"></span><pre><span class="anchor" id="line-1-1"></span>/dev/md0 ext3 [check mark] 100
<span class="anchor" id="line-2-1"></span>/dev/md1 swap [check mark] 1024
<span class="anchor" id="line-3"></span>/dev/md2 ext3 [check mark] [lots of GBs]</pre><span class="anchor" id="line-41"></span><p class="line891"><strong> Hard Drives </strong> <span class="anchor" id="line-42"></span><span class="anchor" id="line-43"></span><span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><span class="anchor" id="line-46"></span><span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span><span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><pre><span class="anchor" id="line-1-2"></span>/dev/sda
<span class="anchor" id="line-2-2"></span>   /dev/sda1 /dev/md0 software RAID [no check mark] 100
<span class="anchor" id="line-3-1"></span>   /dev/sda2 /dev/md1 software RAID [no check mark] 1024
<span class="anchor" id="line-4"></span>   /dev/sda3 /dev/md2 software RAID [no check mark] [lots of GBs]
<span class="anchor" id="line-5"></span>/dev/sdb
<span class="anchor" id="line-6"></span>   /dev/sdb1 /dev/md0 software RAID [no check mark] 100
<span class="anchor" id="line-7"></span>   /dev/sdb2 /dev/md1 software RAID [no check mark] 1024
<span class="anchor" id="line-8"></span>   /dev/sdb3 /dev/md2 software RAID [no check mark] [lots of GBs]</pre><span class="anchor" id="line-51"></span><span class="anchor" id="line-52"></span></li></ul></li><li class="gap">Click next to go to the GRUB bootloader screen. <span class="anchor" id="line-53"></span></li><li>It should default to installing GRUB to /dev/sda, click Next <span class="anchor" id="line-54"></span></li><li>Continue installing CentOS, selecting desired packages <span class="anchor" id="line-55"></span></li><li>Proceed to Section Two after CentOS is installed and the system has been rebooted. Do not update CentOS, do not do anything else! <span class="anchor" id="line-56"></span></li></ol><p class="line867">
<h2 id="Section_Two">2. Section Two</h2>
<span class="anchor" id="line-57"></span><p class="line874">This will assure that both members of the RAID1 /boot are bootable.  Repeat after a disk failure/replacement. <span class="anchor" id="line-58"></span><span class="anchor" id="line-59"></span><p class="line867">
<h3 id="Method_1_-_in_GRUB_at_boot">2.1. Method 1 - in GRUB at boot</h3>
<span class="anchor" id="line-60"></span><p class="line874">Stop at the GRUB menu and enter the "c" option, which gives you the GRUB prompt. Then: <span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><ul><li style="list-style-type:none"><span class="anchor" id="line-63"></span><span class="anchor" id="line-64"></span><span class="anchor" id="line-65"></span><span class="anchor" id="line-66"></span><pre><span class="anchor" id="line-1-3"></span>grub&gt; root (hd1,0)
<span class="anchor" id="line-2-3"></span>grub&gt; setup (hd1)
<span class="anchor" id="line-3-2"></span>grub&gt; root (hd0,0)
<span class="anchor" id="line-4-1"></span>grub&gt; setup (hd0)</pre><span class="anchor" id="line-67"></span></li></ul><p class="line874">Hit the ESC key to get back to the GRUB menu, and boot normally.  Perform steps 1 and 5-8 in Method 2. <span class="anchor" id="line-68"></span><span class="anchor" id="line-69"></span><p class="line867">
<h3 id="Method_2_-_in_GRUB_on_the_running_system">2.2. Method 2 - in GRUB on the running system</h3>
<span class="anchor" id="line-70"></span><ol type="1"><li><p class="line862">Make sure you're <a href="./TipsAndTricks(2f)BecomingRoot.html">root</a>. <span class="anchor" id="line-71"></span></li><li>Input the command "/sbin/grub", hit Enter <span class="anchor" id="line-72"></span></li><li>Enter the following commands in the GRUB shell: <span class="anchor" id="line-73"></span><ul><li style="list-style-type:none"><span class="anchor" id="line-74"></span><span class="anchor" id="line-75"></span><span class="anchor" id="line-76"></span><span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span><span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><pre><span class="anchor" id="line-1-4"></span>grub&gt; device (hd0) /dev/sda
<span class="anchor" id="line-2-4"></span>grub&gt; device (hd1) /dev/sdb
<span class="anchor" id="line-3-3"></span>grub&gt; root (hd0,0)
<span class="anchor" id="line-4-2"></span>grub&gt; setup (hd0)
<span class="anchor" id="line-5-1"></span>grub&gt; root (hd1,0)
<span class="anchor" id="line-6-1"></span>grub&gt; setup (hd1)
<span class="anchor" id="line-7-1"></span>grub&gt; quit</pre><span class="anchor" id="line-81"></span></li></ul></li><li>Cross your fingers. Type in "reboot", hit Enter. <span class="anchor" id="line-82"></span></li><li>Once you're booted up, do a system update. <span class="anchor" id="line-83"></span></li><li>Reboot if the kernel or glibc was updated. <span class="anchor" id="line-84"></span></li><li>Check that you're actually running the updated kernel, if any, by typing "uname -a", hit Enter <span class="anchor" id="line-85"></span></li><li>Done! <span class="anchor" id="line-86"></span></li></ol><p class="line867"><hr /><p class="line874"> <span class="anchor" id="line-87"></span><ul><li style="list-style-type:none"><p class="line862">This guide is based on information provided by <a href="./TimVerhoeven.html">TimVerhoeven</a> of #centos on irc.freenode.net as quoted in a <a class="https" href="https://www.centos.org/forums/viewtopic.php?t=13272">CentOS Forum thread</a> and extensively edited with feedback from Forum users and <a class="http" href="http://lists.centos.org/mailman/listinfo/centos-docs">centos-docs</a>. <span class="anchor" id="line-88"></span></li><li style="list-style-type:none">The above procedure assumes a graphical installation. Creating RAID-1 devices in text mode can be done, but is quite tedious and exacting. You first need to create each RAID member partition on each disk and specify only one disk for each. If you don't specify a unique disk (either sda OR sdb) for each partition, then Disk Druid seems to want to mess around with the layout when you create the RAID devices. At the stage of creating the RAID devices be sure to only select the desired RAID partitions for each device and deselect others as the RAID devices are created. <span class="anchor" id="line-89"></span></li><li style="list-style-type:none"><p class="line862">It should be possible to apply a similar approach to / on RAID1 without a /boot.  Here's a link to a <a class="http" href="http://www.texsoft.it/index.php?c=hardware&amp;m=hw.storage.grubraid1&amp;l=it">Fedora guide</a> using that approach that should be largely applicable.  The Fedora article also contains very good instructions on recovery using mdadm. <span class="anchor" id="line-90"></span></li><li style="list-style-type:none"><p class="line862">Additional RAID articles on the Wiki include <a href="./HowTos(2f)CentOS5ConvertToRAID.html">How to Convert a CentOS 5 System to RAID1 Using a Rescue Disk</a> and <a href="./HowTos(2f)Install_On_Partitionable_RAID1.html">How to install CentOS 5 on a software partitionable RAID1</a>. <span class="anchor" id="line-91"></span></li><li style="list-style-type:none">General articles on software RAID: <span class="anchor" id="line-92"></span><ul><li style="list-style-type:none"><p class="line891"><a class="http" href="http://tldp.org/HOWTO/Software-RAID-HOWTO.html">http://tldp.org/HOWTO/Software-RAID-HOWTO.html</a> <span class="anchor" id="line-93"></span><a class="http" href="http://en.wikipedia.org/wiki/Mdadm">http://en.wikipedia.org/wiki/Mdadm</a> <span class="anchor" id="line-94"></span></li></ul></li><li style="list-style-type:none"><p class="line862">Nice Linux Journal article on <a class="http" href="http://www.linuxjournal.com/article/8874">Recovery of RAID and LVM2 Volumes</a>. <span class="anchor" id="line-95"></span><span class="anchor" id="line-96"></span></li><li class="gap"><p class="line862">* Some controllers claim to be hardware RAID but require drivers to function, similar to winmodems.  These controllers are often called "fake RAID" or "fraid" and are usually better used on CentOS with the RAID function disabled.  This <a class="http" href="http://www.brandonchecketts.com/archives/disabling-dmraid-fakeraid-on-centos-5">external article</a> addresses the issues in some detail. <span class="anchor" id="line-97"></span></li><li><p class="line862">**  For a general explanation of RAID see the <a class="http" href="http://en.wikipedia.org/wiki/Redundant_array_of_independent_disks">Wikipedia article</a> or google for some of the other excellent descriptions available. See the Deployment Guide section <a class="http" href="http://www.centos.org/docs/5/html/5.2/Deployment_Guide/ch-raid.html">Redundant Array of Independent Disks (RAID)</a> or CentOS 5 FAQ entry <a class="http" href="http://wiki.centos.org/FAQ/CentOS5#head-48d74dd7ac9e9f6d777dbd2f9dbf745e70c2b7a1">"How do I install a software RAID on CentOS 5?"</a> for more Enterprise Linux 5 specific information. <span class="anchor" id="line-98"></span><span class="anchor" id="line-99"></span></li><li class="gap">*** An alternative approach that might give somewhat better performance and twice the swap area for equivalent partition sizes, at the expense of redundancy, would be to use two non-RAID swap partitions.  This should perform somewhat like striped RAID0, but will still survive the failure of a single drive, albeit with half the available swap. <span class="anchor" id="line-100"></span></li><li>Alternative B: Use the rest of the space for a single additional RAID1, then create an LVM volume on /dev/md1, create /, swap, and optionally /home or other filesystems, as Logical Volumes in LVM. Skip the rest of Section 1. <span class="anchor" id="line-101"></span></li></ul><p class="line867"><hr /><p class="line874"> <span class="anchor" id="line-102"></span>This page created and maintained by <a href="./PhilSchaffner.html">PhilSchaffner</a>. Other Wiki contributors with edit rights are invited to make corrections or additions.  Other readers with comments can find contact information on my Wiki page. <span class="anchor" id="line-103"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:22
</body>
</html>
