<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>HowTos/LXC-on-CentOS6</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">HowTos/LXC-on-CentOS6</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><p class="line867">
<h1 id="HOWTO:_Configure_a_LXC_Linux_Container_CentOS_6">HOWTO: Configure a LXC Linux Container CentOS 6</h1>
<span class="anchor" id="line-2"></span><p class="line867">
<h2 id="Introduction_to_LXC">1. Introduction to LXC</h2>
<span class="anchor" id="line-3"></span><p class="line874">LXC isn't a real Virtualization technique, but is more like a chroot environment, but on "steroids". <span class="anchor" id="line-4"></span>More information about LXC here : <a class="http" href="http://lxc.sourceforge.net">http://lxc.sourceforge.net</a> <span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><p class="line867">
<h2 id="Install_libvirt_stack">2. Install libvirt stack</h2>
<span class="anchor" id="line-7"></span><p class="line867"><span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><pre><span class="anchor" id="line-1"></span>yum install libvirt libvirt-client python-virtinst </pre><span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line867">
<h2 id="Configuring_a_LXC_container">3. Configuring a LXC container</h2>
<span class="anchor" id="line-12"></span><p class="line874">Suppose you want to create a full container, similar to a minimal CentOS 6 setup. <span class="anchor" id="line-13"></span><span class="anchor" id="line-14"></span><p class="line874">On your machine, please be sure that libvirtd is started (service libvirtd start). <span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><p class="line874">We'll initialize a CentOS 6 x86_64 container, assuming <span class="anchor" id="line-17"></span><ul><li>RootFS will be /var/lib/libvirt/lxc/centos-6-x86_64/ <span class="anchor" id="line-18"></span></li><li>Root password will be MYROOTPASS <span class="anchor" id="line-19"></span></li><li>Arch will be the same that on the host, so x86_64 in our example <span class="anchor" id="line-20"></span></li><li><p class="line862">Container name is <em>test</em> <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span></li></ul><p class="line867">
<h3 id="on_your_machine_filesystem">3.1. on your machine filesystem</h3>
<span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><p class="line874">{{{ mkdir /var/lib/libvirt/lxc/centos-6-x86_64/etc/yum.repos.d/ -p  <span class="anchor" id="line-25"></span>cat /etc/yum.repos.d/CentOS-Base.repo |sed s/'$releasever'/6/g &gt; /var/lib/libvirt/lxc/centos-6-x86_64/etc/yum.repos.d/CentOS-Base.repo <span class="anchor" id="line-26"></span>yum groupinstall core --installroot=/var/lib/libvirt/lxc/centos-6-x86_64/ --nogpgcheck -y <span class="anchor" id="line-27"></span>yum install plymouth libselinux-python --installroot=/var/lib/libvirt/lxc/centos-6-x86_64/ --nogpgcheck -y <span class="anchor" id="line-28"></span>}}} <span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span><p class="line874">Selinux note :  <span class="anchor" id="line-31"></span>You have to create a selinux policy to allow virtd_lxc_t to use dbus :  <span class="anchor" id="line-32"></span><span class="anchor" id="line-33"></span><p class="line874">{{{ module lxc 1.0; <span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><p class="line874">require { <span class="anchor" id="line-36"></span><ul><li style="list-style-type:none">type hald_t; <span class="anchor" id="line-37"></span>type virtd_lxc_t; <span class="anchor" id="line-38"></span>class dbus send_msg; <span class="anchor" id="line-39"></span></li></ul><p class="line874">} <span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span><p class="line874">#============= hald_t ============== <span class="anchor" id="line-42"></span>allow hald_t virtd_lxc_t:dbus send_msg; <span class="anchor" id="line-43"></span>}}} <span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><p class="line862">See the excellent <a class="http" href="http://wiki.centos.org/HowTos/SELinux">http://wiki.centos.org/HowTos/SELinux</a> guide/wiki page to know how to accomplish that step <span class="anchor" id="line-46"></span><span class="anchor" id="line-47"></span><p class="line862">Note that you can't use LXC with SELinux disabled, instead try to set it to permissive (see <a class="https" href="https://bugzilla.redhat.com/show_bug.cgi?id=995897">https://bugzilla.redhat.com/show_bug.cgi?id=995897</a>) <span class="anchor" id="line-48"></span><span class="anchor" id="line-49"></span><p class="line867">
<h3 id="in_the_chroot.27ed_filesystem">3.2. in the chroot'ed filesystem</h3>
<span class="anchor" id="line-50"></span><p class="line874">All the following steps will be done in the chroot'ed environment :  <span class="anchor" id="line-51"></span><span class="anchor" id="line-52"></span><p class="line874">{{{ chroot /var/lib/libvirt/lxc/centos-6-x86_64/ <span class="anchor" id="line-53"></span><span class="anchor" id="line-54"></span><p class="line874">echo MYROOTPASS |passwd root --stdin <span class="anchor" id="line-55"></span><span class="anchor" id="line-56"></span><p class="line874">#Fix root login on console <span class="anchor" id="line-57"></span><span class="anchor" id="line-58"></span><p class="line862">echo "pts/0" &gt;&gt;/etc/securetty <span class="anchor" id="line-59"></span><span class="anchor" id="line-60"></span><p class="line874">sed -i s/"session    required     pam_selinux.so close"/"#session    required     pam_selinux.so close"/g /etc/pam.d/login <span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><p class="line874">sed -i s/"session    required     pam_selinux.so open"/"#session    required     pam_selinux.so open"/g /etc/pam.d/login <span class="anchor" id="line-63"></span><span class="anchor" id="line-64"></span><p class="line874">sed -i s/"session    required     pam_loginuid.so"/"#session    required     pam_loginuid.so"/g /etc/pam.d/login <span class="anchor" id="line-65"></span><span class="anchor" id="line-66"></span><p class="line874">#Configuring basic networking <span class="anchor" id="line-67"></span><span class="anchor" id="line-68"></span><p class="line862">cat &gt; /etc/sysconfig/network &lt;&lt; EOF <span class="anchor" id="line-69"></span><span class="anchor" id="line-70"></span><p class="line874">NETWORKING=yes <span class="anchor" id="line-71"></span><span class="anchor" id="line-72"></span><p class="line874">HOSTNAME=lxc1.test.centos.org <span class="anchor" id="line-73"></span><span class="anchor" id="line-74"></span><p class="line874">EOF <span class="anchor" id="line-75"></span><span class="anchor" id="line-76"></span><p class="line862">cat &gt; /etc/sysconfig/network-scripts/ifcfg-eth0 &lt;&lt; EOF <span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span><p class="line874">DEVICE=eth0 <span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line874">BOOTPROTO=dhcp <span class="anchor" id="line-81"></span><span class="anchor" id="line-82"></span><p class="line874">ONBOOT=yes <span class="anchor" id="line-83"></span><span class="anchor" id="line-84"></span><p class="line874">EOF <span class="anchor" id="line-85"></span><span class="anchor" id="line-86"></span><p class="line874">#Enabling sshd <span class="anchor" id="line-87"></span><span class="anchor" id="line-88"></span><p class="line874">chkconfig sshd on <span class="anchor" id="line-89"></span><span class="anchor" id="line-90"></span><p class="line874"># Fixing root login for sshd <span class="anchor" id="line-91"></span><span class="anchor" id="line-92"></span><p class="line874">sed -i s/"session    required     pam_selinux.so close"/"#session    required     pam_selinux.so close"/g /etc/pam.d/sshd <span class="anchor" id="line-93"></span><span class="anchor" id="line-94"></span><p class="line874">sed -i s/"session    required     pam_loginuid.so"/"#session    required     pam_loginuid.so"/g /etc/pam.d/sshd <span class="anchor" id="line-95"></span><span class="anchor" id="line-96"></span><p class="line874">sed -i s/"session    required     pam_selinux.so open env_params"/"#session    required     pam_selinux.so open env_params"/g /etc/pam.d/sshd <span class="anchor" id="line-97"></span><span class="anchor" id="line-98"></span><p class="line874"># Leaving the chroot'ed filesystem <span class="anchor" id="line-99"></span><span class="anchor" id="line-100"></span><p class="line874">exit }}} <span class="anchor" id="line-101"></span><span class="anchor" id="line-102"></span><p class="line867">
<h3 id="back_on_your_machine">3.3. back on your machine</h3>
<span class="anchor" id="line-103"></span><p class="line874"># now creating the LXC container from that filesystem <span class="anchor" id="line-104"></span><span class="anchor" id="line-105"></span><p class="line874">{{{ virt-install --connect lxc:/// --name test --ram 512 --vcpu 1 --filesystem /var/lib/libvirt/lxc/centos-6-x86_64/,/ --noautoconsole <span class="anchor" id="line-106"></span>}}} <span class="anchor" id="line-107"></span><span class="anchor" id="line-108"></span><p class="line874">You can access to the LXC container by using:  <span class="anchor" id="line-109"></span>{{{ virsh console test   <span class="anchor" id="line-110"></span>}}} <span class="anchor" id="line-111"></span>OR <span class="anchor" id="line-112"></span>{{{ ssh -l root CONTAINER_IP <span class="anchor" id="line-113"></span>}}} <span class="anchor" id="line-114"></span><span class="anchor" id="line-115"></span><p class="line862">To get IP address of the LXC container, look for mac address (can be found in <tt>/etc/libvirt/lxc/test.xml</tt>) in dhcp leases <tt>/var/lib/libvirt/dnsmasq/default.leases</tt> <span class="anchor" id="line-116"></span><span class="anchor" id="line-117"></span><p class="line867">
<h3 id="Note_on_using_LXC_inside_KVM_VM_with_default_network">3.4. Note on using LXC inside KVM VM with default network</h3>
<span class="anchor" id="line-118"></span><span class="anchor" id="line-119"></span><p class="line874">When using LXC inside KVM VM (both using libvirt), the default network is 192.168.122.0/24 which will create a conflict when you try to start LXC container, to fix this you should change IP range in the guest VM's libvirtd (the one that runs containers). <span class="anchor" id="line-120"></span><span class="anchor" id="line-121"></span><p class="line867"><span class="anchor" id="line-122"></span><span class="anchor" id="line-123"></span><span class="anchor" id="line-124"></span><span class="anchor" id="line-125"></span><pre><span class="anchor" id="line-1-1"></span>service libvirtd stop
<span class="anchor" id="line-2"></span>sed -i 's/"192\.168\.122\./"192.168.120./' /etc/libvirt/qemu/networks/default.xml
<span class="anchor" id="line-3"></span>service libvirtd start</pre><span class="anchor" id="line-126"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:22
</body>
</html>
