<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>HowTos/php7</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">HowTos/php7</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line867">
<h1 id="Using_PHP_7.x_on_CentOS_7.4">Using PHP 7.x on CentOS 7.4</h1>
<span class="anchor" id="line-4"></span><p class="line862">This article is about a concern I had recently : &gt; How to use PHP 7.0 or 7.1 on CentOS 7 on the default httpd server without having to use external repositories or recompile PHP from source? <span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><p class="line862">The answer lies in the <strong>Software Collections</strong>. Here we will start from a fresh CentOS installation, and move forward into having a website running PHP 7.x. <span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line874">First of all, we will install the Software Collection’s repository (it’s an official repo that needs to be enabled). <span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span><p class="line867"><tt>root&nbsp;@&nbsp;centos7-vm:&nbsp;~&nbsp;#&nbsp;yum&nbsp;-y&nbsp;install&nbsp;centos-release-scl.noarch</tt> <span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><p class="line874">This command will deploy a new repository on your system, which is part of the official repositories of CentOS. <span class="anchor" id="line-13"></span><span class="anchor" id="line-14"></span><p class="line874">Once this is installed, let’s install the PHP 7 package as well as the httpd packages, along with the addons. <span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><p class="line867"><tt>root&nbsp;@&nbsp;centos7-vm:&nbsp;~&nbsp;24&nbsp;#&nbsp;yum&nbsp;-y&nbsp;install&nbsp;rh-php72&nbsp;rh-php72-php&nbsp;rh-php72-php-fpm&nbsp;httpd</tt> <span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><p class="line862">In order to use php 7.2, we will be using php-fpm, which is the <a class="https" href="https://wiki.apache.org/httpd/php">recommended way</a>, in place of mod_php. To do this, we will use the fpm service. This service will run by default on port 9000. If you need to change that port, head to the file : <span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><p class="line867"><tt>/etc/opt/rh/rh-php72/php-fpm.d/www.conf</tt> <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><p class="line874">And change the line : <span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><p class="line867"><tt>listen&nbsp;=&nbsp;127.0.0.1:9000</tt> <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line874">to the one you want to setup (e.g 9002). Once this is done, we need to change the selinux database to add 9002 to a valid port to run for httpd services : <span class="anchor" id="line-27"></span><span class="anchor" id="line-28"></span><p class="line867"><tt>semanage&nbsp;port&nbsp;-a&nbsp;-t&nbsp;http_port_t&nbsp;-p&nbsp;tcp&nbsp;9002</tt> <span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span><p class="line874">After that, start the php-fpm service and enable it at boot : <span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span><p class="line874">{{{root @ centos7-vm: ~ 29 # systemctl enable rh-php72-php-fpm.service <span class="anchor" id="line-33"></span>Created symlink from /etc/systemd/system/multi-user.target.wants/rh-php72-php-fpm.service to /usr/lib/systemd/system/rh-php72-php-fpm.service. <span class="anchor" id="line-34"></span>root @ centos7-vm: ~ 30 # systemctl start rh-php72-php-fpm.service <span class="anchor" id="line-35"></span>root @ centos7-vm: ~ 31 # systemctl status rh-php72-php-fpm.service <span class="anchor" id="line-36"></span>● rh-php72-php-fpm.service - The PHP FastCGI Process Manager <span class="anchor" id="line-37"></span><ul><li style="list-style-type:none">Loaded: loaded (/usr/lib/systemd/system/rh-php72-php-fpm.service; enabled; vendor preset: disabled) <span class="anchor" id="line-38"></span>Active: active (running) since Thu 2019-11-07 01:04:34 UTC; 20min ago <span class="anchor" id="line-39"></span></li></ul><ul><li style="list-style-type:none">Main PID: 5202 (php-fpm) <span class="anchor" id="line-40"></span><ul><li style="list-style-type:none">Status: Ready to handle connections; <span class="anchor" id="line-41"></span>CGroup: /system.slice/rh-php72-php-fpm.service <span class="anchor" id="line-42"></span><ul><li style="list-style-type:none">├─30045 php-fpm: master process (/etc/opt/rh/rh-php72/php-fpm.conf) <span class="anchor" id="line-43"></span>├─30046 php-fpm: pool www <span class="anchor" id="line-44"></span>├─30047 php-fpm: pool www <span class="anchor" id="line-45"></span>├─30048 php-fpm: pool www <span class="anchor" id="line-46"></span>├─30049 php-fpm: pool www <span class="anchor" id="line-47"></span>└─30050 php-fpm: pool www}}} <span class="anchor" id="line-48"></span><span class="anchor" id="line-49"></span></li></ul></li></ul></li></ul><p class="line874">Now, we need to configure our httpd daemon to tell it to use this service to process php pages. <span class="anchor" id="line-50"></span><span class="anchor" id="line-51"></span><p class="line862">Let’s create a file named <tt>fpm.conf</tt> in our <tt>/etc/httpd/conf.d/</tt> folder and give it the folder and give it the following content : <span class="anchor" id="line-52"></span><span class="anchor" id="line-53"></span><p class="line874">{{{# PHP scripts setup <span class="anchor" id="line-54"></span><a class="nonexistent" href="./ProxyPassMatch.html">ProxyPassMatch</a> ^/(.*.php)$ fcgi://127.0.0.1:9000/var/www/html <span class="anchor" id="line-55"></span><span class="anchor" id="line-56"></span><p class="line874">Alias / /var/www/html/ <span class="anchor" id="line-57"></span><span class="anchor" id="line-58"></span><p class="line867"><a class="nonexistent" href="./DirectoryIndex.html">DirectoryIndex</a> index.php}}} <span class="anchor" id="line-59"></span><span class="anchor" id="line-60"></span><p class="line874">When doing this, apache will send all files that end with .php to our php-fpm service and display the result. <span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><p class="line874">To confirm it’s working, we can create a small page with a phpinfo request in /var/www/html <span class="anchor" id="line-63"></span><span class="anchor" id="line-64"></span><p class="line874">{{{root @ centos7-vm: ~ 1 # cat /var/www/html/index.php <span class="anchor" id="line-65"></span>&lt;?php phpinfo() ?&gt; <span class="anchor" id="line-66"></span>root @ centos7-vm: ~ 1 #}}} <span class="anchor" id="line-67"></span><span class="anchor" id="line-68"></span><p class="line867"><img alt="/!\" height="16" src="/moin_static1911/modern/img/alert.png" title="/!\" width="16" /> Please don't forget that this is a basic setup to confirm your installation is working. If you need to use this in a real life application, you might want to tune your php settings as described in <a class="https" href="https://developers.redhat.com/blog/2017/10/25/php-configuration-tips/">this article</a> for example. <span class="anchor" id="line-69"></span><span class="anchor" id="line-70"></span><p class="line874">Don’t forget to also start, enable and add your httpd service to your firewall : <span class="anchor" id="line-71"></span><span class="anchor" id="line-72"></span><p class="line874">{{{root @ centos7-vm: ~ 43 # systemctl enable httpd ; systemctl start httpd <span class="anchor" id="line-73"></span>root @ centos7-vm: ~ 46 # firewall-cmd --add-service=http --permanent <span class="anchor" id="line-74"></span>success <span class="anchor" id="line-75"></span>root @ centos7-vm: ~ 47 # firewall-cmd --reload <span class="anchor" id="line-76"></span>success}}} <span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span><p class="line874">Now if we connect to the website, it will display the php correctly handled :  <span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line867"><img alt="phpinfo7.0.png" class="attachment" src="attachments/HowTos(2f)php7/phpinfo7.0.png" title="phpinfo7.0.png" /> <span class="anchor" id="line-81"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:22
</body>
</html>
