<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>irc_centos_request</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">irc_centos_request</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><p class="line867">
<h1 id="Draft_of_usual_commands_required_in_the_.23centos_irc_channel">Draft of usual commands required in the #centos irc channel</h1>
<span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><p class="line867">&lt;&lt;TableOfContents: execution failed [Argument "maxdepth" must be an integer value, not "[1]"] (see also the log)&gt;&gt; <span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><p class="line862">You may have been directed to this page because you have called for help on a CentOS <a class="http" href="http://centos.org/irc">irc</a> channel. <span class="anchor" id="line-7"></span>This is a set of commands that are usually required in order to resolve your issue. Please use <a class="http" href="http://pastebin.centos.org">http://pastebin.centos.org</a> to publish the results and post just the pastebin URL it provides in the channel. <span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><p class="line867">
<h2 id="Before_you_ask">1. Before you ask</h2>
<span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line862">Please don't ask things like: <em><strong>Can nobody help?</strong></em> <span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><p class="line862">We recommend that you read <a class="http" href="http://www.catb.org/~esr/faqs/smart-questions.html">How To Ask Questions The Smart Way</a>. <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line867">
<h2 id="IRC_Topic">2. IRC Topic</h2>
<span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><p class="line874">Read it! as of 2012/03/08 <span class="anchor" id="line-18"></span>{{{12:30 Topic for #centos: Welcome to #centos | Current: 6.2, 5.8 |  <span class="anchor" id="line-19"></span>Don't paste in here, use <a class="http" href="http://pastebin.centos.org/">http://pastebin.centos.org/</a> | <a class="http" href="http://wiki.centos.org/irc">http://wiki.centos.org/irc</a> |  <span class="anchor" id="line-20"></span>Backports: │<a class="http" href="http://tinyurl.com/r77l2">http://tinyurl.com/r77l2</a> | Some thinking required |  <span class="anchor" id="line-21"></span>Be polite and considerate |  <span class="anchor" id="line-22"></span>CentOS-4 is past its End of Life : <a class="http" href="http://lists.centos.org/pipermail/centos-announce/2012-February/018462.html">http://lists.centos.org/pipermail/centos-announce/2012-February/018462.html</a> <span class="anchor" id="line-23"></span>}}} <span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line862">see also: <a class="http" href="http://wiki.centos.org/SpoonFeed">spoon-feeding</a> <span class="anchor" id="line-27"></span><span class="anchor" id="line-28"></span><p class="line867">
<h2 id="Kernel_Version_and_CentOS_Release">3. Kernel Version and CentOS Release</h2>
<span class="anchor" id="line-29"></span><p class="line867"><span class="anchor" id="line-30"></span><span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span><pre><span class="anchor" id="line-1"></span>$ uname -a
<span class="anchor" id="line-2"></span>$ rpm -q centos-release</pre><span class="anchor" id="line-33"></span><p class="line862">from <a class="http" href="http://wiki.centos.org/TipsAndTricks/BrokenVserver">some servers may truly be not CentOS</a>: <span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><p class="line874">Check your yum config files:  <span class="anchor" id="line-36"></span><span class="anchor" id="line-37"></span><span class="anchor" id="line-38"></span><pre><span class="anchor" id="line-1-1"></span>$ rpm -V yum centos-release ; ls /etc/yum.repos.d/ ; yum repolist; grep -ir exclude  /etc/yum.*</pre><span class="anchor" id="line-39"></span><span class="anchor" id="line-40"></span><p class="line867">
<h2 id="Multiarch_packages">4. Multiarch packages</h2>
<span class="anchor" id="line-41"></span><span class="anchor" id="line-42"></span><p class="line874">To see the specific architecture (usually 32 bits compatibility libraries) of packages on a machine:  <span class="anchor" id="line-43"></span><span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><span class="anchor" id="line-46"></span><pre><span class="anchor" id="line-1-2"></span>rpm -qa --qf "%{name}-%{version}-%{release}.%{arch}\n" | sort ; \
<span class="anchor" id="line-2-1"></span>  rpm -q --qf "%{name}-%{version}-%{release}.%{arch}\n" glibc\*</pre><span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span><p class="line867">
<h2 id="CPAN_and_source_compiles_related">5. CPAN and source compiles related</h2>
<span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><p class="line862">Installing perl modules by CPAN is NOT SUPPORTED, use the <a class="http" href="http://wiki.centos.org/AdditionalResources/Repositories">3rd parties repositories</a> to install perl modules. <span class="anchor" id="line-51"></span><span class="anchor" id="line-52"></span><span class="anchor" id="line-53"></span><pre><span class="anchor" id="line-1-3"></span>$ which perl; rpm -q perl; rpm -V perl</pre><span class="anchor" id="line-54"></span><span class="anchor" id="line-55"></span><p class="line874">Example of a missing perl module message and a yum command line to search for it: <span class="anchor" id="line-56"></span><span class="anchor" id="line-57"></span><span class="anchor" id="line-58"></span><span class="anchor" id="line-59"></span><span class="anchor" id="line-60"></span><span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><pre><span class="anchor" id="line-1-4"></span>Can't locate LWP/UserAgent.pm in @INC
<span class="anchor" id="line-2-2"></span>...
<span class="anchor" id="line-3"></span>$ yum provides "perl(LWP::UserAgent)"
<span class="anchor" id="line-4"></span>perl-libwww-perl.noarch : A Perl interface to the World-Wide Web
<span class="anchor" id="line-5"></span># yum install perl-libwww-perl</pre><span class="anchor" id="line-63"></span><span class="anchor" id="line-64"></span><p class="line874">This is because CPAN ignores the packaging system, and will overwrite existing CentOS files, some of which are core to making perl work properly.   <span class="anchor" id="line-65"></span><span class="anchor" id="line-66"></span><p class="line874">In a broader sense, replacing some core system library, such as 'zlib', with binaries from a version compiled from sources, bypasses the protections of SOname checking for incompatibility, which RPM provides. The result after doing so is something, but it is certainly no longer CentOS. <span class="anchor" id="line-67"></span><span class="anchor" id="line-68"></span><p class="line867">
<h2 id="Additional_Resources">6. Additional Resources</h2>
<span class="anchor" id="line-69"></span><span class="anchor" id="line-70"></span><p class="line874">...you should also take a look at the following resources, FAQs and hints: <span class="anchor" id="line-71"></span><span class="anchor" id="line-72"></span><p class="line867"><strong>technical resources</strong> <span class="anchor" id="line-73"></span><ul><li><p class="line862">the <tt>man</tt> and <tt>info</tt> pages on your system; search them: <tt>man&nbsp;-k&nbsp;topic&nbsp;|&nbsp;less</tt> <span class="anchor" id="line-74"></span></li><li><p class="line891"><a class="http" href="http://wiki.centos.org/TipsAndTricks/YumAndRPM">http://wiki.centos.org/TipsAndTricks/YumAndRPM</a> (about package management on CentOS) <span class="anchor" id="line-75"></span></li><li><p class="line891"><a class="http" href="http://wiki.centos.org/AdditionalResources/Repositories">http://wiki.centos.org/AdditionalResources/Repositories</a> (if you need packages not provided by CentOS) <span class="anchor" id="line-76"></span></li><li><p class="line891"><a class="http" href="http://wiki.centos.org/FAQ">http://wiki.centos.org/FAQ</a> <span class="anchor" id="line-77"></span></li><li><p class="line891"><a class="http" href="http://wiki.centos.org/HowTos">http://wiki.centos.org/HowTos</a> <span class="anchor" id="line-78"></span></li><li><p class="line862">the SEARCH button on <a class="http" href="http://wiki.centos.org">http://wiki.centos.org</a> <span class="anchor" id="line-79"></span></li><li><p class="line862">perform a google search specific to the centos.org websites -&gt; <a class="http" href="http://www.google.com/search?q=site%3Acentos.org+">http://www.google.com/search?q=site%3Acentos.org+</a> <span class="anchor" id="line-80"></span><span class="anchor" id="line-81"></span></li></ul><p class="line867">
<h2 id="Common_Errors">7. Common Errors</h2>
<span class="anchor" id="line-82"></span><span class="anchor" id="line-83"></span><ul><li><p class="line862">you are not running CentOS: see <a class="http" href="http://wiki.centos.org/AdditionalResources/OtherVoices">http://wiki.centos.org/AdditionalResources/OtherVoices</a> <span class="anchor" id="line-84"></span></li><li><p class="line862">you are "root" or you think you are... <a class="http" href="http://wiki.centos.org/TipsAndTricks/BecomingRoot">http://wiki.centos.org/TipsAndTricks/BecomingRoot</a> (path issues by becoming root without cleaning away a potentially dangerous end user path) <span class="anchor" id="line-85"></span></li></ul><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
