<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>NielsDeVos</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">NielsDeVos</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><div><table style="float:right;"><tbody><tr>  <td><p class="line891"><a class="attachment" href="attachments/NielsDeVos/NielsDeVos96.png" title="{{attachment:NielsDeVos96.png|Niels DeVos|width=96}}"><img alt="Niels DeVos" class="attachment" src="attachments/NielsDeVos/NielsDeVos96.png" title="Niels DeVos" width="96" /></a></td>
</tr>
</tbody></table></div><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><p class="line867">
<h1 id="Niels_de_Vos">Niels de Vos</h1>
<span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><p class="line867">
<h2 id="Project_Responsibilities">1. Project Responsibilities</h2>
<span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><ul><li><p class="line862">contributing to Gluster in the <a href="./SpecialInterestGroup(2f)Storage.html">Storage SIG</a> <span class="anchor" id="line-12"></span></li><li>encourage users running upstream Gluster on CentOS/RHEL/.. to use the repositories from the Storage SIG <span class="anchor" id="line-13"></span><span class="anchor" id="line-14"></span></li></ul><p class="line867">
<h2 id="Contact_information">2. Contact information</h2>
<span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><ul><li><p class="line862">Email: <tt>&lt;ndevos@redhat.com&gt;</tt> or <tt>&lt;devos@fedoraproject.org&gt;</tt> (<a class="https" href="https://people.redhat.com/ndevos/ndevos-public-key.asc">GPG public key</a>) <span class="anchor" id="line-17"></span></li><li><p class="line862">IRC: ndevos in <tt class="backtick">#centos-devel</tt>, <tt class="backtick">#gluster</tt> and <tt class="backtick">#gluster-dev</tt> on <a class="https" href="https://freenode.net">Freenode</a> <span class="anchor" id="line-18"></span></li><li><p class="line862">Website: <a class="http" href="http://gluster.org/">http://gluster.org/</a> and <a class="https" href="https://redhat.com/storage">https://redhat.com/storage</a> <span class="anchor" id="line-19"></span></li><li><p class="line862">Blog: <a class="http" href="http://blog.nixpanic.net/">http://blog.nixpanic.net/</a> <span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span></li></ul><p class="line867">
<h2 id="Interests">3. Interests</h2>
<span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span><ul><li>see the CentOS Storage SIG become a well known source of community supported storage environments <span class="anchor" id="line-24"></span></li><li>improve Gluster for many common workloads and use-cases <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span></li></ul><p class="line867">
<h2 id="List_of_achievements">4. List of achievements</h2>
<span class="anchor" id="line-27"></span><span class="anchor" id="line-28"></span><ul><li><p class="line862">active contributor to different Open Source projects, some are listed on <a class="nonexistent" href="./OpenHub.html">https://www.openhub.net/accounts/nixpanic</a> <span class="anchor" id="line-29"></span></li><li><p class="line862">recognised contributor at the <a class="http" href="http://gluster.org">Gluster Community</a> <span class="anchor" id="line-30"></span></li><li><p class="line862">posted many feature enhancements and bug fixes to different open source projects, including the <a class="http" href="http://kernel.org">Linux kernel</a>, <a class="http" href="http://wireshark.org">Wireshark</a> and <a class="https" href="https://github.com/nfs-ganesha/nfs-ganesha">NFS-Ganesha</a> <span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span></li></ul><p class="line867">
<h2 id="Biography">5. Biography</h2>
<span class="anchor" id="line-33"></span><p class="line867"><a class="https" href="https://linkedin.com/in/nielsdevos/">Niels</a> is a core-developer and maintainer for Ceph-CSI. Employed by Red Hat and works together with other teams who provide professional support for Red Hat Gluster Storage. Current main area of contribution is improving storage support for containers (<a class="nonexistent" href="./OpenShift.html">OpenShift</a> and Kubernetes). Earlier work involved the Gluster distributed filesystem, network protocols, low-level/Operating Systems enhancements and integration with other Open Source projects like NFS-Ganesha and QEMU. <span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><p class="line874">When not hacking on Open Source software, you are most likely to find him on a squash court, surfing in sunny locations or cycling around in the area near Amsterdam where he lives.  <span class="anchor" id="line-36"></span><span class="anchor" id="line-37"></span><p class="line867"><hr /><p class="line874"> <span class="anchor" id="line-38"></span><ul><li style="list-style-type:none"><p class="line891"><a href="./CategoryHomepage.html">CategoryHomepage</a> <span class="anchor" id="line-39"></span></li></ul><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
