<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>PhilWyett</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">PhilWyett</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><div><table style="float:right;"><tbody><tr>  <td><p class="line891"><a class="attachment" href="attachments/PhilWyett/PhilWyett192.png" title="{{attachment:PhilWyett192.png|Phil Wyett|width=192}}"><img alt="Phil Wyett" class="attachment" src="attachments/PhilWyett/PhilWyett192.png" title="Phil Wyett" width="192" /></a></td>
</tr>
</tbody></table></div><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><p class="line867">
<h1 id="Phil_Wyett">Phil Wyett</h1>
<span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><p class="line867">
<h2 id="Phil_Wyett-1">Phil Wyett</h2>
<span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line867"><em>What responsibilities do you have inside of the project ?</em> <span class="anchor" id="line-12"></span><ul><li>An outsider looking in and will do what is asked. <span class="anchor" id="line-13"></span><span class="anchor" id="line-14"></span></li></ul><p class="line867">
<h2 id="Contact_information">Contact information</h2>
<span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><ul><li><p class="line862">Email: <tt>&lt;philwyett&nbsp;AT&nbsp;kathenas&nbsp;DOT&nbsp;org&gt;</tt> <span class="anchor" id="line-17"></span></li><li>IRC: kathenas <span class="anchor" id="line-18"></span></li><li><p class="line862">Website: <a class="https" href="https://kathenas.org/">https://kathenas.org/</a> <span class="anchor" id="line-19"></span></li><li>Twitter: kathenasorg <span class="anchor" id="line-20"></span></li><li><p class="line862">Github: <a class="https" href="https://github.com/kathenas">https://github.com/kathenas</a> <span class="anchor" id="line-21"></span></li><li><p class="line862">Gitlab: <a class="https" href="https://gitlab.com/kathenas">https://gitlab.com/kathenas</a> <span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span></li></ul><p class="line867">
<h2 id="Interests">Interests</h2>
<span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span><p class="line867"><em>What are your personal interests in the CentOS project ?</em> <span class="anchor" id="line-26"></span><ul><li>Desktop. <span class="anchor" id="line-27"></span></li><li>Virtualization. <span class="anchor" id="line-28"></span></li><li>Quality Assurance. <span class="anchor" id="line-29"></span></li><li>Small business and enterprise Linux. <span class="anchor" id="line-30"></span></li><li>Home/Personal user and enterprise Linux. <span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span></li></ul><p class="line867">
<h2 id="List_of_achievements">List of achievements</h2>
<span class="anchor" id="line-33"></span><span class="anchor" id="line-34"></span><p class="line867"><em>What have you accomplished already ?</em> <span class="anchor" id="line-35"></span><ul><li>Do I really want to be that guy? No... <span class="anchor" id="line-36"></span><span class="anchor" id="line-37"></span></li></ul><p class="line867">
<h2 id="Personal_TODO_list">Personal TODO list</h2>
<span class="anchor" id="line-38"></span><span class="anchor" id="line-39"></span><p class="line867"><em>What items are you going to do (if time permits) ?</em> <span class="anchor" id="line-40"></span><ul><li>Complete personal wiki page. <span class="anchor" id="line-41"></span></li><li>Look at old content on wiki. <span class="anchor" id="line-42"></span></li><li>Look at project QA, its documentation and wiki content. <span class="anchor" id="line-43"></span><span class="anchor" id="line-44"></span></li></ul><p class="line867">
<h2 id="Biography">Biography</h2>
<span class="anchor" id="line-45"></span><span class="anchor" id="line-46"></span><span class="anchor" id="line-47"></span><p class="line867"><em>Mini biography...</em> <span class="anchor" id="line-48"></span><ul><li>Former British soldier - Royal Engineers. <span class="anchor" id="line-49"></span></li><li>Former vehicle mechanic and engineer - car and commercial. <span class="anchor" id="line-50"></span></li><li>Former quality assurance engineer and then technical development engineer within a global electronics company. <span class="anchor" id="line-51"></span></li><li>14 years as part of the Crystal Space 3D SDK team. Ended 2014 to pursue other challenges. <span class="anchor" id="line-52"></span></li><li>Contributor to many free / open source projects over the years. <span class="anchor" id="line-53"></span></li><li>Languages: Assembly, C, C++, Python and others. <span class="anchor" id="line-54"></span></li><li>Football fan - Bradford City. <span class="anchor" id="line-55"></span></li><li>Avid reader. Enjoy Arthur Conan Doyle Sherlock Holmes stories and the Avery Cates series by Jeff Somers, to name but two. <span class="anchor" id="line-56"></span></li><li>Motor racing follower. <span class="anchor" id="line-57"></span></li><li>Animal lover. Can keep my cool herding kittens. <span class="anchor" id="line-58"></span></li><li>Currently caring for a family member - unemployed, but seeking. <span class="anchor" id="line-59"></span><span class="anchor" id="line-60"></span></li></ul><p class="line874">More to follow... <span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><p class="line867">
<h2 id="Scratch_area">Scratch area</h2>
<span class="anchor" id="line-63"></span><span class="anchor" id="line-64"></span><p class="line867"><em>Free flow of ideas, thoughts, links and whatever you like...</em> <span class="anchor" id="line-65"></span><span class="anchor" id="line-66"></span><p class="line867">
<h3 id="Personal_RPM_repository">Personal RPM repository</h3>
<span class="anchor" id="line-67"></span><span class="anchor" id="line-68"></span><p class="line874">Kathenas development RPM repository. Packages not in RHEL / CentOS 7 or are newer versions for personal use. <span class="anchor" id="line-69"></span><span class="anchor" id="line-70"></span><p class="line862">RPM: <a class="https" href="https://rpm.kathenas.org">https://rpm.kathenas.org</a> <span class="anchor" id="line-71"></span><span class="anchor" id="line-72"></span><p class="line867"><strong>Note:</strong> All packages are signed and tested thoroughly. Use at own risk. <span class="anchor" id="line-73"></span><span class="anchor" id="line-74"></span><p class="line867">
<h3 id="Wiki_edits_Work_In_Progress_.28WIP.29">Wiki edits Work In Progress (WIP)</h3>
<span class="anchor" id="line-75"></span><span class="anchor" id="line-76"></span><p class="line874">Current work ongoing for the CentOS wiki can be found via the landing page below. <span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span><p class="line867"><a href="./PhilWyett(2f)WikiEditsWIP.html">WikiEditsWIP</a> <span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line867">
<h3 id="Random_thinking">Random thinking</h3>
<span class="anchor" id="line-81"></span><span class="anchor" id="line-82"></span><p class="line867"><hr /><p class="line874"> <span class="anchor" id="line-83"></span><a href="./CategoryHomepage.html">CategoryHomepage</a> <span class="anchor" id="line-84"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
