<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>SpecialInterestGroup/AltArch/AArch64/Mustang</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">SpecialInterestGroup/AltArch/AArch64/Mustang</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><p class="line867">
<h1 id="Installing_CentOS_7_AArch64_on_Mustang">Installing CentOS 7 AArch64 on Mustang</h1>
<span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line874">This will be a brief walk-through for the install process for installing CentOS 7 on Applied Micro X-Gene (Mustang) ARMv8 hardware.  <span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><p class="line867">
<h2 id="Prerequisites">1. Prerequisites</h2>
<span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><p class="line874">Your APM X-Gene hardware must have: <span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><ul><li><p class="line862">A UEFI bootloader. If you have an older uboot board, please refer to the <a class="https" href="https://fedoraproject.org/wiki/Architectures/AArch64/Hardware/Mustang?rd=Architectures/ARM/AArch64/Mustang#Upgrade_to_UEFI">Fedora</a> documentation on migrating from uboot to uefi <span class="anchor" id="line-10"></span></li><li>Firmware version 1.15.10 or higher <span class="anchor" id="line-11"></span></li><li>Serial console access via null modem cable <span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span></li></ul><p class="line867">
<h2 id="USB_Installation">2. USB Installation</h2>
<span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><ul><li><p class="line862">Download the <a class="http" href="http://buildlogs.centos.org/centos/7/os/aarch64/images/">boot.iso</a> and dd it to a usb stick. <span class="anchor" id="line-16"></span></li><li>Insert the usb stick into the bottom usb port below the network port.  <span class="anchor" id="line-17"></span></li><li>Boot the Mustang board and interrupt the boot cycle by pressing any key. Select the 'Shell' option at the menu <span class="anchor" id="line-18"></span></li><li><p class="line862">At the shell prompt, type <tt>FS1:\EFI\BOOT\BOOTAA64.EFI</tt> # If you get an error here, try FS0: instead.  <span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span></li></ul><p class="line867"><a class="attachment" href="attachments/SpecialInterestGroup(2f)AltArch(2f)AArch64(2f)Mustang/screenshot-mustang-shell.png" title="{{attachment:screenshot-mustang-shell.png||width=500}}"><img alt="attachment:screenshot-mustang-shell.png" class="attachment" src="attachments/SpecialInterestGroup(2f)AltArch(2f)AArch64(2f)Mustang/screenshot-mustang-shell.png" title="attachment:screenshot-mustang-shell.png" width="500" /></a> <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><ul><li><p class="line862">At this point, you should see the install menu provided. By default, it will perform a network install from the buildlogs repository. If you want to point to a local mirror, you can edit that here by pressing <tt class="backtick">e</tt> and changing the url. It may take the installer a little while to load, as the image is around 250MB to download.  <span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span></li></ul><p class="line867"><a class="attachment" href="attachments/SpecialInterestGroup(2f)AltArch(2f)AArch64(2f)Mustang/screenshot-mustang-prompt.png" title="{{attachment:screenshot-mustang-prompt.png||width=500}}"><img alt="attachment:screenshot-mustang-prompt.png" class="attachment" src="attachments/SpecialInterestGroup(2f)AltArch(2f)AArch64(2f)Mustang/screenshot-mustang-prompt.png" title="attachment:screenshot-mustang-prompt.png" width="500" /></a> <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><ul><li>Next you'll be prompted for the VNC or text mode installer. The VNC installer is highly recommended. <span class="anchor" id="line-27"></span><span class="anchor" id="line-28"></span></li></ul><p class="line867"><a class="attachment" href="attachments/SpecialInterestGroup(2f)AltArch(2f)AArch64(2f)Mustang/screenshot-mustang-vnc.png" title="{{attachment:screenshot-mustang-vnc.png||width=500}}"><img alt="attachment:screenshot-mustang-vnc.png" class="attachment" src="attachments/SpecialInterestGroup(2f)AltArch(2f)AArch64(2f)Mustang/screenshot-mustang-vnc.png" title="attachment:screenshot-mustang-vnc.png" width="500" /></a> <span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span><ul><li>Connect via vncviewer to the provided target, and continue with the install normally.  <span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span></li></ul><p class="line867"><a class="attachment" href="attachments/SpecialInterestGroup(2f)AltArch(2f)AArch64(2f)Mustang/screenshot-mustang-gui.png" title="{{attachment:screenshot-mustang-gui.png||width=600}}"><img alt="attachment:screenshot-mustang-gui.png" class="attachment" src="attachments/SpecialInterestGroup(2f)AltArch(2f)AArch64(2f)Mustang/screenshot-mustang-gui.png" title="attachment:screenshot-mustang-gui.png" width="600" /></a> <span class="anchor" id="line-33"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
