<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>zh/TipsAndTricks/UnableToEnableDMAonCD</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">zh/TipsAndTricks/UnableToEnableDMAonCD</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="zh"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><p class="line867">
<h1 id="A.2BTg2A.2FU46_CD_.2BYhY_DVD_.2BUUl22Gc6VC91KA_DMA">不能为 CD 或 DVD 光盘机启用 DMA</h1>
<span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><p class="line867">
<h2 id="A.2Ble6YmA-">1. 问题</h2>
<span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><p class="line874">这个指令： <span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line874">{{{# hdparm -d /dev/hdc <span class="anchor" id="line-9"></span>}}}  <span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line874">汇报 DMA 被停用。尝试用下列指令启用光盘机的 DMA 时： <span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><p class="line867"><span class="anchor" id="line-14"></span><pre><span class="anchor" id="line-1"></span># hdparm -d1 /dev/hdc</pre><span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><p class="line862">导致一个 <tt>Operation&nbsp;Not&nbsp;Permitted</tt> 的错误。 <span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><p class="line867">
<h2 id="A.2BieNRs2W5bNU-">2. 解决方法</h2>
<span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><p class="line862">在 <tt>/etc/modprobe.conf</tt> 内加入这行： <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><p class="line867"><span class="anchor" id="line-23"></span><pre><span class="anchor" id="line-1-1"></span>options libata atapi_enabled=1</pre><span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span><p class="line862">在 <tt>grub.conf</tt> 内为你的内核加入这个引导参数： <span class="anchor" id="line-26"></span><span class="anchor" id="line-27"></span><p class="line867"><span class="anchor" id="line-28"></span><pre><span class="anchor" id="line-1-2"></span>combined_mode=libata</pre><span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span><p class="line867"><em><strong>举个例子</em></strong>，你的 <tt>grub.conf</tt> 内的 <tt>kernel</tt> 行<em><strong>可能会</strong></em>是这个样子： <span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span><p class="line867"><span class="anchor" id="line-33"></span><pre><span class="anchor" id="line-1-3"></span>kernel /boot/vmlinuz-2.6.18-8.1.8.el5 ro root=LABEL=/ rhgb quiet combined_mode=libata</pre><span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><p class="line862">修改完成后这重新开机。你的光盘机在 <tt>/dev</tt> 内的项目将会由 <tt>/dev/hdx</tt> 转为 <tt>/dev/scd0</tt>。 <span class="anchor" id="line-36"></span><span class="anchor" id="line-37"></span><p class="line867">
<h2 id="A.2BieORyg-">3. 解释</h2>
<span class="anchor" id="line-38"></span><span class="anchor" id="line-39"></span><p class="line874">这个问题可以追溯到 Fedora 5。但本页的作者是在新安装的 CentOS 5 上才遇上这个问题。因著这个问题的来历，这个解决方法很有可能亦适用於 CentOS 4。 <span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span><p class="line862">这个问题的症结就是 ICH7 的底板都仿真标准 IDE 控制器，但内核的缺省 IDE 驱动程序不能正确地操作这个仿真控制器。上面的改动告诉内核要采用较新的 <tt>libdata</tt> 驱动程序。请参阅下面的连结取得更多信息。 <span class="anchor" id="line-42"></span><span class="anchor" id="line-43"></span><p class="line867">
<h2 id="A.2BU8KAAw-">4. 参考</h2>
<span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><ul><li><p class="line891"><a class="http" href="http://www.fedoraforum.org/forum/showthread.php?t=114586">http://www.fedoraforum.org/forum/showthread.php?t=114586</a> <span class="anchor" id="line-46"></span></li><li><p class="line891"><a class="http" href="http://www.serpentine.com/blog/2006/12/12/make-linux-happy-with-a-modern-laptops-cddvd-drive/">http://www.serpentine.com/blog/2006/12/12/make-linux-happy-with-a-modern-laptops-cddvd-drive/</a> <span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span></li></ul><p class="line867"><small>Translation of revision 2</small> <span class="anchor" id="line-49"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:24
</body>
</html>
