<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>zh-tw/FAQ/CentOS6</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">zh-tw/FAQ/CentOS6</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="zh-tw"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><p class="line867">
<h1 id="A.2BZwmV3A_CentOS_6_.2BdoRVT5hM-">有關 CentOS 6 的問題</h1>
<span class="anchor" id="line-5"></span><p class="line867"><div class="table-of-contents"><p class="table-of-contents-heading">Contents<ol><li>
<a href="#A.2BYhGQTl.2BAUil1KA_boot.iso_.2BZiBQz5AyiEx9sn1hW4mI3TACW4NTu06GVOqI4f8f-">我過往利用 boot.iso 映像進行網絡安裝。它去了哪裡？</a></li><li>
<a href="#A.2BcLpPVWIRdoROWVkqfbJ9YU4NgP2QS09c.2FwyWZJdeYhF2e1FlTiZSO2EPVV91KFuD.2Fx8-">為何我的乙太網絡不能運作，除非我登入並刻意啟用它？</a></li><li>
<a href="#A.2BT0ZiEVPqYPNO5FuDkEtPXFPKYktS1V8PfeiPL4otW5pqlA-">但我只想令它運作及手動式編輯設定檔</a></li><li>
<a href="#A.2BcLpPVQ_CentOS-6_.2BYtJ9VVcoYhF2hA_i686_.2BhlV0BlZoTgpbiYjd.2Fx8-">為何 CentOS-6 拒絕在我的 i686 處理器上安裝？</a></li><li>
<a href="#A.2BYhFZgk9VUFx1KA_IPv6.2B.2Fx8-">我如何停用 IPv6？</a></li><li>
<a href="#A.2BcLpPVWIRVyhTL1FlZ9BQC47fTvZeq3aE_GPG_.2BkdGUcGZCUfpz.2FpMviqT.2FHw-">為何我在匯入某個軟件庫的 GPG 金鑰時出現錯誤？</a></li><li>
<a href="#A.2BcLpPVWIRcSFs1VcoYhF2hA_32_.2BT01RQw_CentOS_.2BTgpbiYjd_KVM.2B.2Fx8-">為何我無法在我的 32 位元 CentOS 上安裝 KVM？</a></li><li>
<a href="#A.2BW4mI3WZCdoRUBFALkHiYBVMFVCtU6k6bf6R9RP8f-">安裝時的各個選項包含哪些群組？</a></li><li>
<a href="#A.2BYhFZgk9VVyh8.2B31xTgqQS3UoUWlT8JhveTpWaP8fZi9UJpgIiYFbmGW5doSaRVLVegtfD.2F8f-">我如何在系統上運用兩台顯示器？是否須要官方的驅動程式？</a></li></ol></li></ol></div> <span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><p class="line867">
<h2 id="A.2BYhGQTl.2BAUil1KA_boot.iso_.2BZiBQz5AyiEx9sn1hW4mI3TACW4NTu06GVOqI4f8f-">1. 我過往利用 boot.iso 映像進行網絡安裝。它去了哪裡？</h2>
<span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><p class="line874">由這個發行版本起、上游決定把 boot.iso 移出 images/ 這個目錄並利用另一個獨立的媒體來發行它。基於該映像頗大，我們亦決定同樣做。網絡安裝磁碟的映像名為 netinstall.iso，它只收藏在 isos/ 這個目錄，當中還有其它的安裝映像。 <span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line867">
<h2 id="A.2BcLpPVWIRdoROWVkqfbJ9YU4NgP2QS09c.2FwyWZJdeYhF2e1FlTiZSO2EPVV91KFuD.2Fx8-">2. 為何我的乙太網絡不能運作，除非我登入並刻意啟用它？</h2>
<span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><p class="line874">……還有，為甚麼介面名稱完全「逆轉」以往慣例？這樣做違反了 Unix「不更改預期結果」的原則。 <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line862">上游的預設組態已改用 NetworkManager，而且介面預設是不會被啟用的（針對乙太網來說是較難理解）。權宜之計就是在安裝過程中，等待安裝程式詢問你的語系、鍵盤、基本安裝或其它儲存裝置後，執行「檢查裝置」並顯示「請為這台電腦命名……」的畫面。這個晝面內有一粒「設置網絡」的按鈕。點擊這個按鈕會啟動 NetworkManager。請選取名為 System eth0 的乙太網絡連線並編輯它的設定。假如你選用「自動連線」的選項，網絡連線在日後開機時便會被啟動。你也可以在安裝完成後透過 NetworkManager（「系統；選項；網絡連線」或右按通知區域內的網絡小圖示，選取「編輯連線……」）來作出這個改動。 <span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><p class="line862">假如你不採用 NetworkManager，你可以透過編輯網絡介面的設置檔（正常為 <tt>/etc/sysconfig/network-scripts/ifcfg-eth0</tt>）並把 <tt>ONBOOT=no</tt> 改為 <tt>ONBOOT=yes</tt> 來達到相同効果。某些採用 DHCP 的安裝還需要額外一行：<tt>BOOTPROTO=dhcp</tt>；固定 IP 的安裝當然需要：<tt>BOOTPROTO=static</tt> <span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span><p class="line862">假設介面是 <tt>eth0</tt>，你可以（透過 root 的身份）這樣編輯 <tt>ONBOOT</tt>： <span class="anchor" id="line-20"></span>{{{ # cd /etc/sysconfig/network-scripts/ <span class="anchor" id="line-21"></span># sed -i -e 's@^ONBOOT="no@ONBOOT="yes@' ifcfg-eth0 <span class="anchor" id="line-22"></span>}}} <span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><p class="line862">關於「更改預期結果」：上述例子採用「傳統」的網絡裝置，<strong>eth0</strong>。其它裝置名稱亦可行，例如：<strong>em1</strong>、<strong>p3p1</strong> 等。不論你喜歡與否，這個為介面命名的改動是 Linux 的未來趨勢。它已包含在上游的「測試發行版本」作為<a class="http" href="http://fedoraproject.org/wiki/Features/ConsistentNetworkDeviceNaming">預覽</a>。此外請參閱：<a class="http" href="http://linux.dell.com/biosdevname/">Dell 的介紹</a>及內部員工的<a class="http" href="http://domsch.com/blog/?tag=biosdevname">網誌</a>。 <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line867">
<h2 id="A.2BT0ZiEVPqYPNO5FuDkEtPXFPKYktS1V8PfeiPL4otW5pqlA-">3. 但我只想令它運作及手動式編輯設定檔</h2>
<span class="anchor" id="line-27"></span><span class="anchor" id="line-28"></span><p class="line862">很多安裝無須 <strong>NetworkManager</strong> 工具的複雜性，而採用人手編輯的設定檔。以下是一個 <strong>非 NetworkManager</strong> 的 DHCP 介面設定範例：<span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span><span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span><span class="anchor" id="line-33"></span><span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><span class="anchor" id="line-36"></span><span class="anchor" id="line-37"></span><span class="anchor" id="line-38"></span><span class="anchor" id="line-39"></span><span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span><span class="anchor" id="line-42"></span><span class="anchor" id="line-43"></span><span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><span class="anchor" id="line-46"></span><span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span><pre><span class="anchor" id="line-1"></span>[root@example ~]# cat /etc/sysconfig/network-scripts/ifcfg-eth0
<span class="anchor" id="line-2"></span>DEVICE="eth0"
<span class="anchor" id="line-3"></span>BOOTPROTO=dhcp
<span class="anchor" id="line-4"></span>NM_CONTROLLED="no"
<span class="anchor" id="line-5"></span>PERSISTENT_DHCLIENT=1
<span class="anchor" id="line-6"></span>ONBOOT="yes"
<span class="anchor" id="line-7"></span>TYPE=Ethernet
<span class="anchor" id="line-8"></span>DEFROUTE=yes
<span class="anchor" id="line-9"></span>PEERDNS=yes
<span class="anchor" id="line-10"></span>PEERROUTES=yes
<span class="anchor" id="line-11"></span>IPV4_FAILURE_FATAL=yes
<span class="anchor" id="line-12"></span>IPV6INIT=yes
<span class="anchor" id="line-13"></span>IPV6_AUTOCONF=yes
<span class="anchor" id="line-14"></span>IPV6_DEFROUTE=yes
<span class="anchor" id="line-15"></span>IPV6_PEERDNS=yes
<span class="anchor" id="line-16"></span>IPV6_PEERROUTES=yes
<span class="anchor" id="line-17"></span>IPV6_FAILURE_FATAL=no
<span class="anchor" id="line-18"></span>NAME="eth0"
<span class="anchor" id="line-19"></span>[root@none ~]#</pre><span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><p class="line862">以及一個「靜態分配」設定檔的範例：<span class="anchor" id="line-51"></span><span class="anchor" id="line-52"></span><span class="anchor" id="line-53"></span><span class="anchor" id="line-54"></span><span class="anchor" id="line-55"></span><span class="anchor" id="line-56"></span><span class="anchor" id="line-57"></span><span class="anchor" id="line-58"></span><span class="anchor" id="line-59"></span><span class="anchor" id="line-60"></span><span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><span class="anchor" id="line-63"></span><pre><span class="anchor" id="line-1-1"></span>[username@hostname]$ cat /etc/sysconfig/network-scripts/ifcfg-eth0
<span class="anchor" id="line-2-1"></span>DEVICE="eth0"
<span class="anchor" id="line-3-1"></span>HWADDR="00:21:70:10:7E:CD"
<span class="anchor" id="line-4-1"></span>NM_CONTROLLED="no"
<span class="anchor" id="line-5-1"></span>ONBOOT="yes"
<span class="anchor" id="line-6-1"></span>BOOTPROTO=static
<span class="anchor" id="line-7-1"></span># BOOTPROTO=dhcp
<span class="anchor" id="line-8-1"></span>IPADDR=10.16.1.106
<span class="anchor" id="line-9-1"></span>NETMASK=255.255.255.0
<span class="anchor" id="line-10-1"></span>#
<span class="anchor" id="line-11-1"></span># the GATEWAY is sometimes in: /etc/sysconfig/network
<span class="anchor" id="line-12-1"></span>GATEWAY=10.16.1.1</pre><span class="anchor" id="line-64"></span><span class="anchor" id="line-65"></span><p class="line862">此外，通用項目如主機名稱及 DNS 伺服器可選擇性地放置在：<span class="anchor" id="line-66"></span><span class="anchor" id="line-67"></span><span class="anchor" id="line-68"></span><span class="anchor" id="line-69"></span><span class="anchor" id="line-70"></span><span class="anchor" id="line-71"></span><span class="anchor" id="line-72"></span><pre><span class="anchor" id="line-1-2"></span>[username@hostname]$ cat /etc/sysconfig/network
<span class="anchor" id="line-2-2"></span>HOSTNAME=acme.example.com
<span class="anchor" id="line-3-2"></span>DNS1=10.16.1.112
<span class="anchor" id="line-4-2"></span>DNS2=8.8.8.8
<span class="anchor" id="line-5-2"></span>## DNS2=76.242.0.28
<span class="anchor" id="line-6-2"></span>SEARCH=example.com</pre><span class="anchor" id="line-73"></span><span class="anchor" id="line-74"></span><p class="line862">這些資訊是「選擇性」的，因為一台 DHCP 伺服器能派發這些數值。當一個良好部署的 DNS 環境存在時，<strong>initscripts</strong> 能夠從 PTR 等記錄找出主機名稱等資訊，但有些用戶需要以人手管理這些細節。要取得更多資訊，你可用以下方式列出整全的 initscripts 文檔：<span class="anchor" id="line-75"></span><pre><span class="anchor" id="line-1-3"></span>rpm -qd initscripts </pre><span class="anchor" id="line-76"></span><p class="line862">不論該環境是否安裝了 <strong>man</strong> 閱讀說明手冊的套件及所依賴的套件。 <span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span><p class="line867">
<h2 id="A.2BcLpPVQ_CentOS-6_.2BYtJ9VVcoYhF2hA_i686_.2BhlV0BlZoTgpbiYjd.2Fx8-">4. 為何 CentOS-6 拒絕在我的 i686 處理器上安裝？</h2>
<span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line874">上游決定了不支援非 PAE 的處理器。如果你的處理器不支援 PAE，執行安裝程式時你將會看見以下錯誤： <span class="anchor" id="line-81"></span><span class="anchor" id="line-82"></span><ul><li>This kernel requires the following features present on the CPU pae cx8 <span class="anchor" id="line-83"></span><span class="anchor" id="line-84"></span></li></ul><p class="line874">你仍可安裝 CentOS-5 但將會無法運行 CentOS-6。 <span class="anchor" id="line-85"></span><span class="anchor" id="line-86"></span><p class="line867">
<h2 id="A.2BYhFZgk9VUFx1KA_IPv6.2B.2Fx8-">5. 我如何停用 IPv6？</h2>
<span class="anchor" id="line-87"></span><span class="anchor" id="line-88"></span><p class="line862">上游僱員 Daniel Walsh <a class="https" href="https://bugzilla.redhat.com/show_bug.cgi?id=641836">建議</a>不要停用 ipv6 模塊，因為這樣會導致 SELinux 及其它元件出現問題。你可改而在 /etc/sysctl.conf 加入： <span class="anchor" id="line-89"></span><span class="anchor" id="line-90"></span><span class="anchor" id="line-91"></span><span class="anchor" id="line-92"></span><pre><span class="anchor" id="line-1-4"></span>net.ipv6.conf.all.disable_ipv6 = 1
<span class="anchor" id="line-2-3"></span>net.ipv6.conf.default.disable_ipv6 = 1</pre><span class="anchor" id="line-93"></span><span class="anchor" id="line-94"></span><p class="line874">要在運作中的系統停用它： <span class="anchor" id="line-95"></span><span class="anchor" id="line-96"></span><span class="anchor" id="line-97"></span><span class="anchor" id="line-98"></span><pre><span class="anchor" id="line-1-5"></span>echo 1 &gt; /proc/sys/net/ipv6/conf/all/disable_ipv6
<span class="anchor" id="line-2-4"></span>echo 1 &gt; /proc/sys/net/ipv6/conf/default/disable_ipv6</pre><span class="anchor" id="line-99"></span><p class="line874">或 <span class="anchor" id="line-100"></span><span class="anchor" id="line-101"></span><span class="anchor" id="line-102"></span><span class="anchor" id="line-103"></span><pre><span class="anchor" id="line-1-6"></span>sysctl -w net.ipv6.conf.all.disable_ipv6=1
<span class="anchor" id="line-2-5"></span>sysctl -w net.ipv6.conf.default.disable_ipv6=1</pre><span class="anchor" id="line-104"></span><p class="line867"><strong>附加備註 #1</strong>：要是你在停用 IPv6 的系統上轉接 X 時遇到問題，請編輯 <strong>/etc/ssh/sshd_config</strong> 及作出以下一組改動： <span class="anchor" id="line-105"></span><span class="anchor" id="line-106"></span><p class="line874">(1) 更改這一行 <span class="anchor" id="line-107"></span><span class="anchor" id="line-108"></span><span class="anchor" id="line-109"></span><pre><span class="anchor" id="line-1-7"></span>#AddressFamily any</pre><span class="anchor" id="line-110"></span><p class="line874">為 <span class="anchor" id="line-111"></span><span class="anchor" id="line-112"></span><span class="anchor" id="line-113"></span><pre><span class="anchor" id="line-1-8"></span>AddressFamily inet</pre><span class="anchor" id="line-114"></span><p class="line874">（inet 指定 ipv4；inet6 指定 ipv6） <span class="anchor" id="line-115"></span><span class="anchor" id="line-116"></span><p class="line874">或者 <span class="anchor" id="line-117"></span><span class="anchor" id="line-118"></span><p class="line874">(2) 移除這行行首的井號（#） <span class="anchor" id="line-119"></span><span class="anchor" id="line-120"></span><span class="anchor" id="line-121"></span><pre><span class="anchor" id="line-1-9"></span>#ListenAddress 0.0.0.0</pre><span class="anchor" id="line-122"></span><p class="line874">然後重新啟動 ssh。 <span class="anchor" id="line-123"></span><span class="anchor" id="line-124"></span><p class="line867"><strong>附加備註 #2</strong>：要是你在停用 IPv6 的系統上啟動 postfix 時遇到問題，你可選擇 <span class="anchor" id="line-125"></span><span class="anchor" id="line-126"></span><p class="line874">(1) 編輯 /etc/postfix/main.cf 並備註掉 localhost 部份的設定及採用 ipv4 迴路。 <span class="anchor" id="line-127"></span><span class="anchor" id="line-128"></span><span class="anchor" id="line-129"></span><span class="anchor" id="line-130"></span><pre><span class="anchor" id="line-1-10"></span>#inet_interfaces = localhost
<span class="anchor" id="line-2-6"></span>inet_interfaces = 127.0.0.1</pre><span class="anchor" id="line-131"></span><span class="anchor" id="line-132"></span><p class="line874">或 <span class="anchor" id="line-133"></span><span class="anchor" id="line-134"></span><p class="line874">(2) 從 /etc/hosts 取掉 ipv6 的 localhost。 <span class="anchor" id="line-135"></span><span class="anchor" id="line-136"></span><p class="line867"><strong>附加備註 #3 </strong>：如要停用　RPCBIND ipv6（rpcbind、rpc.mountd、prc.statd），請在 /etc/netconfig 備註掉 udp6 及 tcp6 行： <span class="anchor" id="line-137"></span><span class="anchor" id="line-138"></span><p class="line867"><span class="anchor" id="line-139"></span><span class="anchor" id="line-140"></span><span class="anchor" id="line-141"></span><span class="anchor" id="line-142"></span><span class="anchor" id="line-143"></span><span class="anchor" id="line-144"></span><span class="anchor" id="line-145"></span><span class="anchor" id="line-146"></span><pre><span class="anchor" id="line-1-11"></span>udp tpi_clts v inet udp - -
<span class="anchor" id="line-2-7"></span>tcp tpi_cots_ord v inet tcp - -
<span class="anchor" id="line-3-3"></span>#udp6 tpi_clts v inet6 udp - -
<span class="anchor" id="line-4-3"></span>#tcp6 tpi_cots_ord v inet6 tcp - -
<span class="anchor" id="line-5-3"></span>rawip tpi_raw - inet - - -
<span class="anchor" id="line-6-3"></span>local tpi_cots_ord - loopback - - -
<span class="anchor" id="line-7-2"></span>unix tpi_cots_ord - loopback - - -</pre><span class="anchor" id="line-147"></span><span class="anchor" id="line-148"></span><p class="line867">
<h2 id="A.2BcLpPVWIRVyhTL1FlZ9BQC47fTvZeq3aE_GPG_.2BkdGUcGZCUfpz.2FpMviqT.2FHw-">6. 為何我在匯入某個軟件庫的 GPG 金鑰時出現錯誤？</h2>
<span class="anchor" id="line-149"></span><span class="anchor" id="line-150"></span><p class="line862">很多設置第三方軟件庫的指引都包括以 <strong>rpm --import ...</strong> 匯入 GPG 金鑰。如何你遇到以下錯誤： <span class="anchor" id="line-151"></span><span class="anchor" id="line-152"></span><pre><span class="anchor" id="line-1-12"></span>error: http://apt.sw.be/RPM-GPG-KEY.dag.txt: key 1 import failed.</pre><span class="anchor" id="line-153"></span><span class="anchor" id="line-154"></span><p class="line874">你可以忽略它，因為該金鑰已經被匯入。你可執行以下指令來確定： <span class="anchor" id="line-155"></span><span class="anchor" id="line-156"></span><pre><span class="anchor" id="line-1-13"></span>rpm -q --qf "%{NAME}-%{VERSION}-%{RELEASE} \n %{SUMMARY} \n" gpg-pubkey</pre><span class="anchor" id="line-157"></span><span class="anchor" id="line-158"></span><p class="line867">
<h2 id="A.2BcLpPVWIRcSFs1VcoYhF2hA_32_.2BT01RQw_CentOS_.2BTgpbiYjd_KVM.2B.2Fx8-">7. 為何我無法在我的 32 位元 CentOS 上安裝 KVM？</h2>
<span class="anchor" id="line-159"></span><span class="anchor" id="line-160"></span><p class="line874">上游只為 64 位元（x86_64）提供 KVM 支援，因此 CentOS 的支援亦相同。你必需選用 64 位元的安裝才能使用 KVM。 <span class="anchor" id="line-161"></span><span class="anchor" id="line-162"></span><p class="line867">
<h2 id="A.2BW4mI3WZCdoRUBFALkHiYBVMFVCtU6k6bf6R9RP8f-">8. 安裝時的各個選項包含哪些群組？</h2>
<span class="anchor" id="line-163"></span><span class="anchor" id="line-164"></span><p class="line874">根據 images/install.img 上的 /usr/lib/anaconda/installclasses/rhel.py，以下選項可供選擇： <span class="anchor" id="line-165"></span><span class="anchor" id="line-166"></span><p class="line867"><strong>Desktop</strong>: base, core, debugging, directory-client, java-platform, network-file-system-client, server-platform, fonts, print-client, basic-desktop, desktop-debugging, desktop-platform, general-desktop, graphical-admin-tools, input-methods, legacy-x, x11, internet-applications, internet-browser, office-suite, remote-desktop-clients <span class="anchor" id="line-167"></span><span class="anchor" id="line-168"></span><p class="line867"><strong>Minimal Desktop</strong>: base, core, debugging, directory-client, java-platform, network-file-system-client, server-platform, fonts, print-client, basic-desktop, desktop-debugging, desktop-platform, input-methods, legacy-x, x11, internet-browser, remote-desktop-clients <span class="anchor" id="line-169"></span><span class="anchor" id="line-170"></span><p class="line867"><strong>Minimal</strong>: core <span class="anchor" id="line-171"></span><span class="anchor" id="line-172"></span><p class="line867"><strong>Basic Server</strong>: base, console-internet, core, debugging, directory-client, hardware-monitoring, java-platform, large-systems, network-file-system-client, performance, perl-runtime, server-platform <span class="anchor" id="line-173"></span><span class="anchor" id="line-174"></span><p class="line867"><strong>Database Server</strong>: base, console-internet, core, debugging, directory-client, hardware-monitoring, java-platform, large-systems, network-file-system-client, performance, perl-runtime, server-platform, mysql-client, mysql, postgresql-client, postgresql, system-admin-tools <span class="anchor" id="line-175"></span><span class="anchor" id="line-176"></span><p class="line867"><strong>Web Server</strong>: base, console-internet, core, debugging, directory-client, java-platform, network-file-system-client, performance, perl-runtime, server-platform, web-server, web-servlet, php, turbogears, mysql-client, postgresql-client <span class="anchor" id="line-177"></span><span class="anchor" id="line-178"></span><p class="line867"><strong>Virtual Host</strong>: base, console-internet, core, debugging, directory-client, hardware-monitoring, java-platform, large-systems, network-file-system-client, performance, perl-runtime, server-platform, virtualization, virtualization-client, virtualization-platform <span class="anchor" id="line-179"></span><span class="anchor" id="line-180"></span><p class="line867"><strong>Software Development Workstation</strong>: base, core, debugging, directory-client, java-platform, network-file-system-client, performance, perl-runtime, server-platform, fonts, print-client, basic-desktop, desktop-debugging, desktop-platform, general-desktop, graphical-admin-tools, input-methods, legacy-x, x11, internet-browser, graphics, emacs, tex, remote-desktop-clients, virtualization, virtualization-client, virtualization-platform, desktop-platform-devel, development, eclipse, server-platform-devel, technical-writing, additional-devel <span class="anchor" id="line-181"></span><span class="anchor" id="line-182"></span><p class="line874">你可如此查看每組的內容 <span class="anchor" id="line-183"></span><span class="anchor" id="line-184"></span><span class="anchor" id="line-185"></span><pre><span class="anchor" id="line-1-14"></span>yum groupinfo &lt;groupname&gt;</pre><span class="anchor" id="line-186"></span><span class="anchor" id="line-187"></span><p class="line867">
<h2 id="A.2BYhFZgk9VVyh8.2B31xTgqQS3UoUWlT8JhveTpWaP8fZi9UJpgIiYFbmGW5doSaRVLVegtfD.2F8f-">9. 我如何在系統上運用兩台顯示器？是否須要官方的驅動程式？</h2>
<span class="anchor" id="line-188"></span><span class="anchor" id="line-189"></span><p class="line874">有異於普遍的錯誤理解，雙顯示器設置在安裝完成後已獲支援，而且不須要官方的驅動程式。以下是一個達至此效果的簡易教程。 <span class="anchor" id="line-190"></span><ol type="1"><li>接駁你的顯示器及開啟它們的電源。 <span class="anchor" id="line-191"></span></li><li>我們必須先確定已知的資訊。為此，請執行： <span class="anchor" id="line-192"></span><span class="anchor" id="line-193"></span><pre><span class="anchor" id="line-1-15"></span> xrandr -q </pre><span class="anchor" id="line-194"></span>你會看見類似以下的輸出： <span class="anchor" id="line-195"></span><span class="anchor" id="line-196"></span><span class="anchor" id="line-197"></span><span class="anchor" id="line-198"></span><span class="anchor" id="line-199"></span><span class="anchor" id="line-200"></span><span class="anchor" id="line-201"></span><span class="anchor" id="line-202"></span><span class="anchor" id="line-203"></span><span class="anchor" id="line-204"></span><span class="anchor" id="line-205"></span><span class="anchor" id="line-206"></span><span class="anchor" id="line-207"></span><span class="anchor" id="line-208"></span><span class="anchor" id="line-209"></span><span class="anchor" id="line-210"></span><span class="anchor" id="line-211"></span><span class="anchor" id="line-212"></span><span class="anchor" id="line-213"></span><span class="anchor" id="line-214"></span><span class="anchor" id="line-215"></span><span class="anchor" id="line-216"></span><span class="anchor" id="line-217"></span><span class="anchor" id="line-218"></span><span class="anchor" id="line-219"></span><span class="anchor" id="line-220"></span><span class="anchor" id="line-221"></span><span class="anchor" id="line-222"></span><pre><span class="anchor" id="line-1-16"></span>[wolfy@wolfy ~]$ xrandr -q
<span class="anchor" id="line-2-8"></span>Screen 0: minimum 320 x 200, current 2560 x 1024, maximum 2560 x 2560
<span class="anchor" id="line-3-4"></span> DFP1 connected 1280x1024+0+0 (normal left inverted right x axis y axis) 338mm x 270mm
<span class="anchor" id="line-4-4"></span>   1280x1024 60.0*+ 75.0
<span class="anchor" id="line-5-4"></span>   1152x648 60.0 +
<span class="anchor" id="line-6-4"></span>   1280x960 75.0 60.0
<span class="anchor" id="line-7-3"></span>   1280x800 75.0 60.0
<span class="anchor" id="line-8-2"></span>   1152x864 75.0 60.0
<span class="anchor" id="line-9-2"></span>   1280x768 74.9 59.9
<span class="anchor" id="line-10-2"></span>   1280x720 60.0
<span class="anchor" id="line-11-2"></span>   1024x768 75.0 70.1 60.0
<span class="anchor" id="line-12-2"></span>   800x600 72.2 75.0 70.0 60.3 56.2
<span class="anchor" id="line-13-1"></span>   720x480 60.0
<span class="anchor" id="line-14-1"></span>   640x480 75.0 72.8 60.0
<span class="anchor" id="line-15-1"></span> DFP2 disconnected (normal left inverted right x axis y axis)
<span class="anchor" id="line-16-1"></span> CRT1 connected 1280x1024+1280+0 (normal left inverted right x axis y axis) 338mm x 270mm
<span class="anchor" id="line-17-1"></span>   1280x1024 60.0 + 75.0*
<span class="anchor" id="line-18-1"></span>   1280x960 75.0 60.0
<span class="anchor" id="line-19-1"></span>   1280x800 75.0 60.0
<span class="anchor" id="line-20"></span>   1152x864 75.0 60.0
<span class="anchor" id="line-21"></span>   1280x768 74.9 59.9
<span class="anchor" id="line-22"></span>   1280x720 60.0
<span class="anchor" id="line-23"></span>   1024x768 75.0 70.1 60.0
<span class="anchor" id="line-24"></span>   800x600 72.2 75.0 70.0 60.3 56.2
<span class="anchor" id="line-25"></span>   720x480 60.0
<span class="anchor" id="line-26"></span>   640x480 75.0 72.8 60.0</pre><span class="anchor" id="line-223"></span>在上述例子，重點是我們有一台顯示器連接至 DFP1 數碼介面並支援 1280x1024 解像度，及一台類比顯示器連接至 CRT1 介面而且也支援 1280x1024 解像度。其它常見介面名稱包括 VGA、DVI、HDMI 及 LVDS。（這些名稱視乎輸出裝置及視訊驅動程式。）這例子中的兩台顯示器擁有相同的最高解像度純屬巧合。 <span class="anchor" id="line-224"></span></li><li>利用上一步所取得的資訊，再次執行 xrandr，要求它把資訊按你的喜好放置在兩台畫面上： <span class="anchor" id="line-225"></span><span class="anchor" id="line-226"></span><pre><span class="anchor" id="line-1-17"></span>xrandr --output DFP1 --auto --left-of CRT1 </pre><span class="anchor" id="line-227"></span>這樣你便能為兩台顯示器選用首選的解像度，及把類比顯示器（在此例子中是 CRT1）擺放在數碼顯示器（DFP1）的右邊。透過 xrandr 做的改動都會即時生效。每台顯示器的輸出都是獨立操控的，因此解像度及頻率都不必相同。（這個功能非常好用，尤其是當你的手提電腦連接著一台大型顯示器，或兩台顯示器擁有不同解像度。） <span class="anchor" id="line-228"></span><span class="anchor" id="line-229"></span></li></ol><p class="line874">xrandr 的說明頁及互聯網上眾多的教程均能展示 xrandr 的強大功能，因此我們強烈建議你善用這些資源。 <span class="anchor" id="line-230"></span><span class="anchor" id="line-231"></span><p class="line867"><small>Translation of revision 34</small> <span class="anchor" id="line-232"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
