<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>zh-tw/irc</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">zh-tw/irc</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="zh-tw"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><p class="line867">
<h1 id="A.23centos_IRC_.2BmDuQU1PKdviV3Jg7kFM-">#centos IRC 頻道及相關頻道</h1>
<span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><p class="line862">CentOS 小組在 <a class="http" href="http://libera.chat">Libera 的 IRC 網絡</a>上維護著 <strong>#centos</strong>、<strong>#centos-social</strong>及數個相關的官方 <a class="http" href="http://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a> 頻道。我們極力鼓勵用戶就 CentOS 求助，亦提供幫助，但我們亦看重求學和善用現有的資源，過於單單回答常見的問題。由於很多問題經常出現，我們已建立了一個<a href="./zh(2d)tw(2f)FAQ.html">常見問題集</a>，與及有關如何自己<a href="./zh(2d)tw(2f)Documentation.html">尋求幫助</a>的頁面。 <span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line862">由於某些問題出現頻密，它們會觸動「長駐」在頻道上的自動回覆程式提出指引。<a href="./zh(2d)tw(2f)irc(2f)Centbot.html">自動回覆程式</a>對<a href="./zh(2d)tw(2f)irc(2f)Centbot.html#head-df4a39c09aa715c76494735ce51ccae53dde02cc">這些題目</a>有所認知，你也可私底下詢問它： <span class="anchor" id="line-9"></span>{{{/msg centbot @irc <span class="anchor" id="line-10"></span>}}} <span class="anchor" id="line-11"></span>其它題目就由頻道上的常客，或者一些無知的人回答。有時一條新的問題要數分鐘後才會獲處理，因此請耐心等候。IRC 就是這樣的。 <span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><p class="line862">提示：你也許會被要求閱讀頻道的 <strong>/topic</strong>、閱讀系統上的一本手冊、瀏覽某網頁、或向系統查詢答案，請不要驚訝！ <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line874">所有 CentOS IRC 頻道都不歡迎粗言穢語、種族歧視、人身攻擊或成人內容。請留意這包括不合宜的暱稱及主機名稱。我們保留刪除或把違規者靜音的權利，不論是暫時性的，或有必要時是永久的。 <span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><p class="line867"><div class="table-of-contents"><p class="table-of-contents-heading">Contents<ol><li>
<a href="#A.2BUk2KAA-">前言</a></li><li>
<a href="#A.23centos">#centos</a><ol><li>
<a href="#A.2BdRqevE4NiKtlL2P0-">甚麼不被支援</a></li></ol></li><li>
<a href="#A.23centos-arm">#centos-arm</a></li><li>
<a href="#A.23centos-bottest">#centos-bottest</a></li><li>
<a href="#A.23centos-buildsys">#centos-buildsys</a></li><li>
<a href="#A.23centos-ci">#centos-ci</a></li><li>
<a href="#A.23centos-cloud">#centos-cloud</a></li><li>
<a href="#A.23centos-covid19">#centos-covid19</a></li><li>
<a href="#A.23centos-devel">#centos-devel</a></li><li>
<a href="#A.23centos-hyperscale">#centos-hyperscale</a></li><li>
<a href="#A.23centos-meeting">#centos-meeting</a></li><li>
<a href="#A.23centos-meeting2">#centos-meeting2</a></li><li>
<a href="#A.23centos-mirror">#centos-mirror</a></li><li>
<a href="#A.23centos-ops">#centos-ops</a></li><li>
<a href="#A.23centos-opstools">#centos-opstools</a></li><li>
<a href="#A.23centos-ppc">#centos-ppc</a></li><li>
<a href="#A.23centos-stream">#centos-stream</a></li><li>
<a href="#A.23centos-social">#centos-social</a></li><li>
<a href="#A.23centos-virt">#centos-virt</a></li><li>
<a href="#A.2BiExlP1PKl15RbJWLmDuQUw-">行政及非公開頻道</a></li><li>
<a href="#A.2BUXZbgw_CentOS_.2BU8qKCFKDTuVZFnaEZS9j9G4gkFM-">其它 CentOS 及計劃以外的支援渠道</a></li><li>
<a href="#IRC_.2BUh1beIAFYwdTVw-">IRC 初學者指南</a></li><li>
<a href="#A.2BdXZiEVYXimaQMlFl_.23centos_.2BYhY_.23centos-social_.2BZkJR.2BnP.2BdoQ_.23.23fix_your_connection_.2BZi91Gp68YQ9gHf8f-">當我嘗試進入 #centos 或 #centos-social 時出現的 ##fix_your_connection 是甚麼意思？</a></li><li>
<a href="#A.2BWYJPVVPWX5dz.2Fk77_IRC_.2BZM1PXFwPfUR2hG4FVa4-">如何取得現任 IRC 操作小組的清單</a></li></ol></li></ol></div> <span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span><p class="line867">
<h2 id="A.2BUk2KAA-">1. 前言</h2>
<span class="anchor" id="line-20"></span><p class="line862">大家對於一大段文字的第一個反應通常是：<strong>這個太長了，不要去讀它</strong>。這裡是內文的概要： <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><p class="line862">數以千萬計的機器正在運行不同 CentOS 發行版本，因此有上十萬的人偶爾會到訪 CentOS 的主要 IRC 頻道 <strong>#centos</strong> 尋求使用上的幫助。透過專注在關於 CentOS 的題目，該頻道吸引了不少深入認識 CentOS 發行版本的參予者。根據觀察，「貼題」的討論能留住這些用戶。沒有一個頻道有足夠頻寬來支援「人人免費」的模式而又不離題。以下是一個快速測試： <span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><p class="line862">除非某個議題是關於 CentOS 提供的程式的問題，它多數是「離題」及屬於 <strong>#centos-social</strong> 或其它頻道。下列話題都明顯離題，並屬於其它頻道：查詢用戶偏好或意見；討論非 CentOS 發行的套件的可用性及用途；有關應用第三方軟件軟的問題（CentOS 計劃並不管理這些軟件庫，亦無法直接影響它們）。 <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line874">如果你在 IRC 上尋求支援，卻得不到你想要的答案，你需要暫時停止下來，完整地讀完此頁，並考慮這裡面的內容。 <span class="anchor" id="line-27"></span><span class="anchor" id="line-28"></span><p class="line874">所有 CentOS IRC 頻道都不歡迎侮辱性、人身攻擊及成人內容。 <span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span><p class="line867">
<h2 id="A.23centos">2. #centos</h2>
<span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span><p class="line862">這是發行版本的主要 IRC 支援頻道：它<strong>並非</strong>學習 Linux、交談（見下文：<strong>#centos-social</strong>)、或查詢題外話的地方。這裡並不是一個按需提供免費技術支援的場所，而是由某些使用這個發行版的專業或者個人用戶提供自願服務的地方。禮貌且相關的話題會得到答覆；侮辱性、粗魯或者談論無關話題（多數簡稱 <strong>OT</strong>）的人會被忽視。當你被要求閱讀此頁，卻拒絕閱讀它或忽視它的內容，你多數不會獲得理會。當某人對頻道帶來破壞時，我們會將其從頻道中移除。 <span class="anchor" id="line-33"></span><span class="anchor" id="line-34"></span><p class="line862">此頻道可以很繁忙，同時有數個討論在進行中；因此在頻道上「打招呼」或以 [CR] 作為標點符點作用不大，而且只會製造嘈音：請不要這樣做。此頻道嘗試討論特定話題，因此請閱讀題目及相關連結，並瞭解它如何運作（輸入：<strong>/topic</strong> [CR]）。進入頻道後請觀察數分鐘，免得打斷現有的討論，及讓你能捉摸它的「特性」。請閱讀主題：要是你略過了主題而被要求把它重讀一遍，<strong>懇請</strong>細閱它及當中的每一條連結。頻道上最具挑釁性的行為就是貼上大量多行內容、離題的內容、或疑似「嘈音」的東西，然後為破戒而道歉。我們禁止張貼多於三行；請不要如此做。如果你須要提供任何多於三行的資訊，請使用一個 <a class="http" href="http://pastebin.centos.org">剪貼桶</a>。 <span class="anchor" id="line-35"></span><span class="anchor" id="line-36"></span><p class="line874">頻道的官方政策是「只支援我們所發行的」，我們也嘗試為 CentOS 用戶提供其它協助。這並不代表我們會教授 Linux 101 課程（提示：請在 Libera 的 ##linux 頻道上提問）。我們不會在 IRC 頻道上為那些不願閱讀現有資料的人把文檔重頭打一遍。如果某些非 CentOS 計劃提供的軟件擁有專用的論壇，我們多數會把你指向那裡。 <span class="anchor" id="line-37"></span><span class="anchor" id="line-38"></span><p class="line862">請客氣地對待其他用戶；此頻道並非純公事，玩弄文字或 OT 的事情偶爾也會出現，請不用大驚小怪。然而當這些遊戲主導整個頻道，而一位實真、深思熟慮的用戶無法發問時，這便成為問題。你可在頻道上逗留一會來捉摸它的特性，這總好過怱怱登入、發問、然後在有所學成之前便消失。頻道擁有人會記錄頻道日誌（其他人也可能會，因此你所說的並私人的，也不保密），並且日誌也會經常進行翻查。那些持續濫用頻道的用戶很容易被辨認出來，並且某種程度上，IRC 會自動禁止某些知名的「嘈音」來源。如果你發現你的 IRC 用戶端被禁止了，那麼請換一個「代號」、IRC 用戶端（某些網頁 IRC 介面因嘈音「過多」而被禁用）、IP 位址，或者加入 <strong>#centos-unregistered</strong> 頻道，然後向 IRC 代號遮罩內包含 '/centos/' 的用戶（代號遮罩見 <strong>/who (nick) </strong> [CR] 的結果）尋求協助，讓你明白被禁止的原因，及移除禁制命。 <span class="anchor" id="line-39"></span><span class="anchor" id="line-40"></span><p class="line862">假若有人要求你提供關於你個系統的<a href="./zh(2d)tw(2f)irc_centos_request.html">一些資料</a>，請勿見怪。當中尤其以： <span class="anchor" id="line-41"></span>{{{  uname -a <span class="anchor" id="line-42"></span>}}} <span class="anchor" id="line-43"></span>及 <span class="anchor" id="line-44"></span>{{{  rpm -V _某個套件_ <span class="anchor" id="line-45"></span>}}} <span class="anchor" id="line-46"></span>的輸出最為有用 —— 切記：我們要求你在提供多於三行的資訊時使用剪貼桶處理，並且在頻道中填入單行的結果 URL 路徑）。一經提問後，頻道上的成員普遍不會有進一步回應，直至你提供所要求的資訊為止。我們如此發問並非要為你添煩惱，而是要讓頻道上每個人都能弄清楚這台 CentOS 機器所裝載的是否「真」的 CentOS。要是你得悉某台系統<strong>並非 CentOS</strong>，請參閱有關<a href="./zh(2d)tw(2f)TipsAndTricks(2f)BrokenVserver.html">損壞了的虛擬化伺服器</a>的連結及考慮執行頁中所介紹的連串測試。 <span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span><p class="line862">我們極力推薦蘇格拉底式的<em>逐步灌輸</em>方法，請閱讀<a class="http" href="http://www.catb.org/~esr/faqs/smart-questions.html">如何發問</a>；並且瞭解上游<a class="https" href="https://access.redhat.com/security/updates/backporting">關於反向移植</a>的狀態。要是你的答覆含有「我認為」或「大概是罷」，都意味著你或你所答覆的對像需要思考或進行研究：閱讀說明書、察視日誌檔或一台運行中的系統、提出一題涉及偵錯細節的問題。推測及「揣測」技術性的答案是毫無用處的，因此當你要作出推測時，請先閱讀文檔，以便提升頻道內容的質素，「卻步」不為頻道添加噪音。要是有人認為這樣做太過拘泥，我們也無話可說。這樣做合乎頻道的原則，因為我們看重內容的準確性多於量。對於一些複雜的問題，閱讀本指南可能僅僅是一個開端，你或者還需要做進一步的研究，或在一台機器上進行測試；IRC 只適合少交替數行的偵錯工作，所以剪貼桶可以作為一個補充，用於察看配置檔案或者錯誤日誌的最後數行。 <span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><p class="line867">
<h3 id="A.2BdRqevE4NiKtlL2P0-">2.1. 甚麼不被支援</h3>
<span class="anchor" id="line-51"></span><span class="anchor" id="line-52"></span><ul><li><p class="line891"><a href="./zh(2d)tw(2f)HowTos(2f)Custom_Kernel.html">重建的內核</a> <span class="anchor" id="line-53"></span></li><li><p class="line891"><a href="./zh(2d)tw(2f)AdditionalResources(2f)OtherVoices.html">分支</a> <span class="anchor" id="line-54"></span></li><li><p class="line891"><a href="./zh(2d)tw(2f)TipsAndTricks(2f)BrokenVserver.html">損壞了的虛擬化伺服器</a> <span class="anchor" id="line-55"></span></li><li><p class="line862">舊的（<a href="./zh(2d)tw(2f)FAQ(2f)General.html#head-a64053c7f87f36f9301a0767cf8a8e76a1d7b61e">不獲支援的</a>）CentOS 定點發行版本 <span class="anchor" id="line-56"></span></li><li><p class="line862">其他不支持的<a href="./zh(2d)tw(2f)HowTos(2f)PXE(2f)InternetInstallation.html">主题</a> <span class="anchor" id="line-57"></span></li><li>政治或者不敬言論 <span class="anchor" id="line-58"></span></li><li>某某發行版本勝過／不及 CentOS <span class="anchor" id="line-59"></span></li><li>一般社交聊天 <span class="anchor" id="line-60"></span></li><li>發洩與其它頻道或網絡用戶的個人恩怨 —— 重犯者會被刪除 <span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span></li></ul><p class="line867">
<h2 id="A.23centos-arm">3. #centos-arm</h2>
<span class="anchor" id="line-63"></span><span class="anchor" id="line-64"></span><p class="line874">這個頻道是由建設及關注如何建立 CentOS ARM 平台的人們所使用。 <span class="anchor" id="line-65"></span><span class="anchor" id="line-66"></span><p class="line867">
<h2 id="A.23centos-bottest">4. #centos-bottest</h2>
<span class="anchor" id="line-67"></span><span class="anchor" id="line-68"></span><p class="line874">這個頻道是用來測試本計劃旗下的自動回覆程式，好讓在自動回覆程式功能上進行的測試不會阻礙或影響其它正常頻道的對話。我們請求各位不要在此頻道隨意引進自動回覆程式；網絡上已有其他專屬的頻道供自動回覆程式之用。 <span class="anchor" id="line-69"></span><span class="anchor" id="line-70"></span><p class="line867">
<h2 id="A.23centos-buildsys">5. #centos-buildsys</h2>
<span class="anchor" id="line-71"></span><span class="anchor" id="line-72"></span><p class="line874">這是一個仲裁頻道，用來通報主要發行及建設系統狀況及追蹤告示。 <span class="anchor" id="line-73"></span><span class="anchor" id="line-74"></span><p class="line867">
<h2 id="A.23centos-ci">6. #centos-ci</h2>
<span class="anchor" id="line-75"></span><span class="anchor" id="line-76"></span><p class="line874">此頻道上的討論環繞 CentOS 的持續整合平台。 <span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span><p class="line867">
<h2 id="A.23centos-cloud">7. #centos-cloud</h2>
<span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line874">有關 CentOS Cloud 的討論 <span class="anchor" id="line-81"></span><span class="anchor" id="line-82"></span><p class="line867">
<h2 id="A.23centos-covid19">8. #centos-covid19</h2>
<span class="anchor" id="line-83"></span><span class="anchor" id="line-84"></span><p class="line874">這個離題的頻道採用自動回覆程式定時發佈 covid-19 的數據。現時該自動回覆程式匯報全球及美國 10 大感染率的清單。我們計劃在將來擴展此頻道，加入外部監測／數據的實用連結，及其它相關資訊。 <span class="anchor" id="line-85"></span><span class="anchor" id="line-86"></span><p class="line867">
<h2 id="A.23centos-devel">9. #centos-devel</h2>
<span class="anchor" id="line-87"></span><span class="anchor" id="line-88"></span><p class="line862">這個頻道主要是由那些開發 CentOS、協助開發、編寫文檔或貢獻軟件的人們所使用。如果你要問關於 CentOS 的一般性問題，請勿使用 <strong>#centos-devel</strong> 頻道，因為已有其它頻道供這個用途。 <span class="anchor" id="line-89"></span><span class="anchor" id="line-90"></span><p class="line867">
<h2 id="A.23centos-hyperscale">10. #centos-hyperscale</h2>
<span class="anchor" id="line-91"></span><span class="anchor" id="line-92"></span><p class="line867"><strong>#centos-hyperscale</strong> 頻道是 CentOS 超大規模 SIG 的 IRC 頻道。此 SIG 將會專注於 CentOS Stream 在大規模架構上的部署，並促進套件及工具方面的協作。 <span class="anchor" id="line-93"></span><span class="anchor" id="line-94"></span><p class="line867">
<h2 id="A.23centos-meeting">11. #centos-meeting</h2>
<span class="anchor" id="line-95"></span><span class="anchor" id="line-96"></span><p class="line862">這是本計劃的會議頻道。此頻道備有日誌，以便能作製作會議記錄。<a href="./irc(2f)Centbot.html">Centbot</a> 已長駐協助會議中的事務。有關會議功能的文件已收錄 <a class="http" href="http://meetbot.debian.net/Manual.html">在此</a>。會議結束後，會議紀錄將會以不同格式，按年月收錄於 <a class="https" href="https://www.centos.org/minutes">CentOS 網站</a> 。 <span class="anchor" id="line-97"></span><span class="anchor" id="line-98"></span><p class="line867">
<h2 id="A.23centos-meeting2">12. #centos-meeting2</h2>
<span class="anchor" id="line-99"></span><span class="anchor" id="line-100"></span><p class="line862">這是配合會議時間表用的溢流頻道，於主頻道繁忙時使用。此頻道的設定與 <strong>#centos-meeting</strong> 相同，所產生的記錄會自動收錄於 <a class="https" href="https://www.centos.org/minutes">CentOS 網站</a>。 <span class="anchor" id="line-101"></span><span class="anchor" id="line-102"></span><p class="line867">
<h2 id="A.23centos-mirror">13. #centos-mirror</h2>
<span class="anchor" id="line-103"></span><span class="anchor" id="line-104"></span><p class="line874">這個頻道是由 CentOS 鏡像的操作者所使用的。如果你有關於設置公用 CentOS 鏡像的問題，這裡就是發問的地方。 <span class="anchor" id="line-105"></span><span class="anchor" id="line-106"></span><p class="line867">
<h2 id="A.23centos-ops">14. #centos-ops</h2>
<span class="anchor" id="line-107"></span><span class="anchor" id="line-108"></span><p class="line874">這個頻道是用作討論關於 Libera 上的 #centos 頻道的政策；這包括仲裁在頻道中對某些用戶的禁制令及滅音設定。我們請求已完成事務的用戶離開頻道，因為我們採取不閒置的政策。 <span class="anchor" id="line-109"></span><span class="anchor" id="line-110"></span><p class="line867">
<h2 id="A.23centos-opstools">15. #centos-opstools</h2>
<span class="anchor" id="line-111"></span><span class="anchor" id="line-112"></span><p class="line862">這是 <a class="https" href="https://wiki.centos.org/SpecialInterestGroup/OpsTools">運作工具 SIG</a> 的專屬頻道。 <span class="anchor" id="line-113"></span><span class="anchor" id="line-114"></span><p class="line867">
<h2 id="A.23centos-ppc">16. #centos-ppc</h2>
<span class="anchor" id="line-115"></span><span class="anchor" id="line-116"></span><p class="line874">這個頻道是由建設及關注如何建立 CentOS PowerPC 平台的人們所使用。 <span class="anchor" id="line-117"></span><span class="anchor" id="line-118"></span><p class="line867">
<h2 id="A.23centos-stream">17. #centos-stream</h2>
<span class="anchor" id="line-119"></span><span class="anchor" id="line-120"></span><p class="line862">這是 CentOS Stream 發行版本的討論及支援頻道。[:zh-tw/Manuals/ReleaseNotes/CentOSStream:CentOS Stream Release Notes] 內有更多關於此發行版本的資訊。暫時我們在此頻道沿用 <strong>#centos</strong> 的一般守則。 <span class="anchor" id="line-121"></span><span class="anchor" id="line-122"></span><p class="line867">
<h2 id="A.23centos-social">18. #centos-social</h2>
<span class="anchor" id="line-123"></span><span class="anchor" id="line-124"></span><p class="line862">這是我們的社交頻道。我們鼓勵將一般性的交談移至此處，而不是在主頻道上。不過你如果有某條問題在 <strong>#centos</strong> 上被視為「離題」，你可能會被要求進到這個地方。 <span class="anchor" id="line-125"></span><span class="anchor" id="line-126"></span><p class="line862">基本上，<strong>#centos-social</strong> 內唯一被禁止的是那些在面對面交談時都不會說的人身攻擊及侮辱性說話；有關非法行為的討論；及煽動性的話題。請用一點常識 —— 你在餐桌不會談及的，你大概也不應在 <strong>#centos-social</strong> 上說。 <span class="anchor" id="line-127"></span><span class="anchor" id="line-128"></span><p class="line867">
<h2 id="A.23centos-virt">19. #centos-virt</h2>
<span class="anchor" id="line-129"></span><span class="anchor" id="line-130"></span><p class="line874">這個頻道是用來討論 CentOS 下關於虛擬技術的各樣事情。 <span class="anchor" id="line-131"></span><span class="anchor" id="line-132"></span><p class="line867">
<h2 id="A.2BiExlP1PKl15RbJWLmDuQUw-">20. 行政及非公開頻道</h2>
<span class="anchor" id="line-133"></span><span class="anchor" id="line-134"></span><p class="line862">我們設有數個行政及非公開的頻道用於不同用途。大部份都不供公眾使用，但為求透明度我們在此列舉兩個：<strong>#centos-bans</strong> 及 <strong>#centos-quiets</strong>。這兩個頻道為計劃提供禁制及靜音的清單，以便能簡化所有頻道的禁制管理。所有頻道都會參詳這兩個頻道的禁制清單，所以被加進這些清單的項目將會在我們旗下所有的頻道生效。 <span class="anchor" id="line-135"></span><span class="anchor" id="line-136"></span><p class="line867">
<h2 id="A.2BUXZbgw_CentOS_.2BU8qKCFKDTuVZFnaEZS9j9G4gkFM-">21. 其它 CentOS 及計劃以外的支援渠道</h2>
<span class="anchor" id="line-137"></span><span class="anchor" id="line-138"></span><p class="line862">很多開源軟件及商業機構<strong>採用</strong>免費的 CentOS 產品作為基礎，它們偶爾會提供與「最新」 CentOS 的套件版本有差異的套件，一般也會加入非 CentOS 的元素。「<a href="./zh(2d)tw(2f)Cloud.html">雲端</a>」（不論公用或私人的）、虛擬化、puppet、spacewalk、<a href="./zh(2d)tw(2f)Cloud(2f)AWS.html">Amazon 的 AWS</a> 等商業產品都是例子。沒有人可以清楚它們的所有細節，因此每個計劃或發行者的支援渠道，包括 IRC 頻道，就是最佳的出發點。CentOS 所採用的方式已詳細記錄在<a href="./zh(2d)tw(2f)Documentation.html">這裡</a>。 <span class="anchor" id="line-139"></span><span class="anchor" id="line-140"></span><p class="line867">
<h2 id="IRC_.2BUh1beIAFYwdTVw-">22. IRC 初學者指南</h2>
<span class="anchor" id="line-141"></span><p class="line874">要是你從接獨過 IRC，本指南能助你開始應用。 <span class="anchor" id="line-142"></span><span class="anchor" id="line-143"></span><p class="line862">你需要一個 IRC 客端程式。如果你採用 Firefox，一個簡便的做法就是安裝 ChatZilla 插件。要在 Firefox 內做這件事情，打開 <em>Tools</em> 選單，然後選擇 <em>Add-ons</em>。搜尋 ChatZilla，然後點擊 <em>Install</em> 按鈕。完成 ChatZilla 的安裝後，你可以在 Firefox 的 <em>Tools</em> 選單下點擊 <em>!Chatzilla</em>。ChatZilla 會出現在一個新的視窗內。其它存取 IRC 的方法包括安裝 irssi 等專用客端，或採用 <a class="https" href="https://kiwiirc.com/client/irc.libera.chat">Kiwi</a> 這類型網上 IRC 客端。請留意，一般來說，專用的客端軟件會為你帶來最好的用戶經歷，並提供網上客端欠缺的略外功能。 <span class="anchor" id="line-144"></span><span class="anchor" id="line-145"></span><p class="line862">你的 IRC 客端啟動後，請進到 <a class="irc" href="irc://irc.libera.chat/">irc://irc.libera.chat/</a> （ChatZilla 提供 libera 的連結供你點擊）。 <span class="anchor" id="line-146"></span><span class="anchor" id="line-147"></span><p class="line874">要更改你的暱稱，請在輸入欄打： <span class="anchor" id="line-148"></span><span class="anchor" id="line-149"></span><span class="anchor" id="line-150"></span><pre><span class="anchor" id="line-1"></span>/nick yournickname</pre><span class="anchor" id="line-151"></span><p class="line862">然後按 <em>Enter</em>。 <span class="anchor" id="line-152"></span><span class="anchor" id="line-153"></span><p class="line862">某些 CentOS IRC 頻道，特別是 <strong>#centos</strong> 與 <strong>#centos-social</strong>，要求你先在 libera 的暱稱服務註冊你的暱稱，然後才能加入討論。我們建議你參閱 libera 所提供的<a class="https" href="https://libera.chat/guides/registration">註冊指引及其它資訊</a>。除非你註冊了你的暱稱，否則你將會無法加入我們的某些頻道。如果你在註冊暱稱上需要協助，請輸入以下指令加入 libera 的常規支援頻道 <span class="anchor" id="line-154"></span><span class="anchor" id="line-155"></span><p class="line867"><span class="anchor" id="line-156"></span><span class="anchor" id="line-157"></span><pre><span class="anchor" id="line-1-1"></span>/join #libera</pre><span class="anchor" id="line-158"></span><span class="anchor" id="line-159"></span><p class="line874">註冊了你的暱稱後，請輸入： <span class="anchor" id="line-160"></span><span class="anchor" id="line-161"></span><span class="anchor" id="line-162"></span><pre><span class="anchor" id="line-1-2"></span>/join #centos</pre><span class="anchor" id="line-163"></span><p class="line862">來進入 <strong>#centos</strong> IRC 聊天頻道。 <span class="anchor" id="line-164"></span><span class="anchor" id="line-165"></span><p class="line862">假若你關掉 IRC 客端，然後想再度連線到 <a class="irc" href="irc://irc.libera.chat/，你須要輸入：">irc://irc.libera.chat/，你須要輸入：</a> <span class="anchor" id="line-166"></span><span class="anchor" id="line-167"></span><span class="anchor" id="line-168"></span><pre><span class="anchor" id="line-1-3"></span>/msg NickServ identify yourpassword</pre><span class="anchor" id="line-169"></span><p class="line862">才能再次進入 <strong>#centos</strong>。 <span class="anchor" id="line-170"></span><span class="anchor" id="line-171"></span><p class="line867">
<h2 id="A.2BdXZiEVYXimaQMlFl_.23centos_.2BYhY_.23centos-social_.2BZkJR.2BnP.2BdoQ_.23.23fix_your_connection_.2BZi91Gp68YQ9gHf8f-">23. 當我嘗試進入 #centos 或 #centos-social 時出現的 ##fix_your_connection 是甚麼意思？</h2>
<span class="anchor" id="line-172"></span><span class="anchor" id="line-173"></span><p class="line862">要是你的網絡連線有問題，當你嘗試進入 <strong>#centos</strong> 或 <strong>#centos-social</strong> 時，你或許會被轉送到 <strong>##fix_your_connection</strong> 頻道。原因是不斷進入／離開頻道的訊息對該頻道的用戶來說會構成騷擾；於是你被轉送到 <strong>##fix_your_connection</strong> 來減低對其它頻道上的用戶的騷擾。當你解決了你的連線問題後，你可以利用 <span class="anchor" id="line-174"></span><span class="anchor" id="line-175"></span><span class="anchor" id="line-176"></span><pre><span class="anchor" id="line-1-4"></span>/join #centos-ops</pre><span class="anchor" id="line-177"></span><p class="line874">要求頻道操作員移除臨時的轉接。 <span class="anchor" id="line-178"></span><span class="anchor" id="line-179"></span><p class="line867">
<h2 id="A.2BWYJPVVPWX5dz.2Fk77_IRC_.2BZM1PXFwPfUR2hG4FVa4-">24. 如何取得現任 IRC 操作小組的清單</h2>
<span class="anchor" id="line-180"></span><span class="anchor" id="line-181"></span><p class="line862">我們採用共享的權限清單來允許及撤銷針對我們的名稱空間的存取權。此權限清收錄於 <strong>#centos-ops</strong> 頻道，並被應用於我們的名稱空間旗下的所有公用頻道。如果你想取得最新的操作小組清單，你可以向頻道伺服器要求以下資訊： <span class="anchor" id="line-182"></span><span class="anchor" id="line-183"></span><span class="anchor" id="line-184"></span><pre><span class="anchor" id="line-1-5"></span>/msg ChanServ access #centos-ops list</pre><span class="anchor" id="line-185"></span><span class="anchor" id="line-186"></span><p class="line874">所有獲列出的用戶都在公用頻道有管理權。 <span class="anchor" id="line-187"></span><span class="anchor" id="line-188"></span><p class="line867"><small>Translation of revision 74</small> <span class="anchor" id="line-189"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
