<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>zh-tw/HowTos/LXC-on-CentOS6</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">zh-tw/HowTos/LXC-on-CentOS6</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="zh-tw"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line867">
<h1 id="A.2BWYJPVf8akU1.2FbmUvY.2FQ_LXC_.2BdoQ_CentOS_6">如何：配置支援 LXC 的 CentOS 6</h1>
<span class="anchor" id="line-4"></span><p class="line867">
<h2 id="LXC_.2BdoQ_.2BTst9OQ-">1. LXC 的 介紹</h2>
<span class="anchor" id="line-5"></span><p class="line862">LXC（Linux Container）不是真正的虛擬化技術，它更像是一個「強化版」的 chroot 環境。這裡有更多關於 LXC 的資訊： <a class="http" href="http://lxc.sourceforge.net">http://lxc.sourceforge.net</a> <span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><p class="line867">
<h2 id="A.2BW4mI3Q_libvirt_.2BWAZ1ig-">2. 安裝 libvirt 堆疊</h2>
<span class="anchor" id="line-8"></span><p class="line867"><span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span><pre><span class="anchor" id="line-1"></span>yum install libvirt libvirt-client python-virtinst</pre><span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><p class="line867">
<h2 id="A.2Bii1.2Fbg_LXC_.2BW7lWaA-">3. 設置 LXC 容器</h2>
<span class="anchor" id="line-13"></span><p class="line874">假設你想建立一個完整的容器，就像一個最小化的 CentOS 設置。 <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line874">請確保你機器上的 libvirtd 已經啟動（service libvirtd start）。 <span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><p class="line874">我們會根據以下假設來初始化一個 CentOS 6 x86_64 容器： <span class="anchor" id="line-18"></span><ul><li>根目錄是 /var/lib/libvirt/lxc/centos-6-x86_64/ <span class="anchor" id="line-19"></span></li><li>root 的密碼是 MYROOTPASS <span class="anchor" id="line-20"></span></li><li>架構與主機相同，在這個範例中即是 x86_64 <span class="anchor" id="line-21"></span></li><li><p class="line862">容器名稱是 <em>test</em> <span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span></li></ul><p class="line867">
<h3 id="A.2BVyhnLGpfdoRqlGhIfPt9cU4K-">3.1. 在本機的檔案系統上</h3>
<span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span><p class="line874">{{{ mkdir /var/lib/libvirt/lxc/centos-6-x86_64/etc/yum.repos.d/ -p <span class="anchor" id="line-26"></span>cat /etc/yum.repos.d/CentOS-Base.repo |sed s/'$releasever'/6/g &gt; /var/lib/libvirt/lxc/centos-6-x86_64/etc/yum.repos.d/CentOS-Base.repo <span class="anchor" id="line-27"></span>yum groupinstall core --installroot=/var/lib/libvirt/lxc/centos-6-x86_64/ --nogpgcheck -y <span class="anchor" id="line-28"></span>yum install plymouth libselinux-python --installroot=/var/lib/libvirt/lxc/centos-6-x86_64/ --nogpgcheck -y <span class="anchor" id="line-29"></span>}}} <span class="anchor" id="line-30"></span><span class="anchor" id="line-31"></span><p class="line874">Selinux 備註： <span class="anchor" id="line-32"></span>你須要建立一個允許 virtd_lxc_t 使用 dbus 的 selinux 政策： <span class="anchor" id="line-33"></span><span class="anchor" id="line-34"></span><p class="line874">{{{ module lxc 1.0; <span class="anchor" id="line-35"></span><span class="anchor" id="line-36"></span><p class="line874">require { <span class="anchor" id="line-37"></span><ul><li style="list-style-type:none">type hald_t; <span class="anchor" id="line-38"></span>type virtd_lxc_t; <span class="anchor" id="line-39"></span>class dbus send_msg; <span class="anchor" id="line-40"></span></li></ul><p class="line874">} <span class="anchor" id="line-41"></span><span class="anchor" id="line-42"></span><p class="line874">#============= hald_t ============== <span class="anchor" id="line-43"></span>allow hald_t virtd_lxc_t:dbus send_msg; <span class="anchor" id="line-44"></span>}}} <span class="anchor" id="line-45"></span><span class="anchor" id="line-46"></span><p class="line862">請參詳 <a class="http" href="http://wiki.centos.org/HowTos/SELinux">http://wiki.centos.org/HowTos/SELinux</a> 頁的出色指引有關如何完成以上步驟。 <span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span><p class="line862">請留意你不能在停用 SELinux 的情況下運用 LXC，你可嘗試把政策改為 permissive（見 <a class="https" href="https://bugzilla.redhat.com/show_bug.cgi?id=995897）">https://bugzilla.redhat.com/show_bug.cgi?id=995897）</a> <span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><p class="line867">
<h3 id="A.2BVyg_chroot_.2BapRoSHz7fXFRZw-">3.2. 在 chroot 檔案系統內</h3>
<span class="anchor" id="line-51"></span><p class="line874">以下所有步驟均須要在 chroot 環境下完成： <span class="anchor" id="line-52"></span><span class="anchor" id="line-53"></span><p class="line874">{{{ chroot /var/lib/libvirt/lxc/centos-6-x86_64/ <span class="anchor" id="line-54"></span><span class="anchor" id="line-55"></span><p class="line874">echo MYROOTPASS |passwd root --stdin <span class="anchor" id="line-56"></span><span class="anchor" id="line-57"></span><p class="line874">#Fix root login on console <span class="anchor" id="line-58"></span><span class="anchor" id="line-59"></span><p class="line862">echo "pts/0" &gt;&gt;/etc/securetty <span class="anchor" id="line-60"></span><span class="anchor" id="line-61"></span><p class="line874">sed -i s/"session    required     pam_selinux.so close"/"#session    required     pam_selinux.so close"/g /etc/pam.d/login <span class="anchor" id="line-62"></span><span class="anchor" id="line-63"></span><p class="line874">sed -i s/"session    required     pam_selinux.so open"/"#session    required     pam_selinux.so open"/g /etc/pam.d/login <span class="anchor" id="line-64"></span><span class="anchor" id="line-65"></span><p class="line874">sed -i s/"session    required     pam_loginuid.so"/"#session    required     pam_loginuid.so"/g /etc/pam.d/login <span class="anchor" id="line-66"></span><span class="anchor" id="line-67"></span><p class="line874">#Configuring basic networking <span class="anchor" id="line-68"></span><span class="anchor" id="line-69"></span><p class="line862">cat &gt; /etc/sysconfig/network &lt;&lt; EOF <span class="anchor" id="line-70"></span><span class="anchor" id="line-71"></span><p class="line874">NETWORKING=yes <span class="anchor" id="line-72"></span><span class="anchor" id="line-73"></span><p class="line874">HOSTNAME=lxc1.test.centos.org <span class="anchor" id="line-74"></span><span class="anchor" id="line-75"></span><p class="line874">EOF <span class="anchor" id="line-76"></span><span class="anchor" id="line-77"></span><p class="line862">cat &gt; /etc/sysconfig/network-scripts/ifcfg-eth0 &lt;&lt; EOF <span class="anchor" id="line-78"></span><span class="anchor" id="line-79"></span><p class="line874">DEVICE=eth0 <span class="anchor" id="line-80"></span><span class="anchor" id="line-81"></span><p class="line874">BOOTPROTO=dhcp <span class="anchor" id="line-82"></span><span class="anchor" id="line-83"></span><p class="line874">ONBOOT=yes <span class="anchor" id="line-84"></span><span class="anchor" id="line-85"></span><p class="line874">EOF <span class="anchor" id="line-86"></span><span class="anchor" id="line-87"></span><p class="line874">#Enabling sshd <span class="anchor" id="line-88"></span><span class="anchor" id="line-89"></span><p class="line874">chkconfig sshd on <span class="anchor" id="line-90"></span><span class="anchor" id="line-91"></span><p class="line874"># Fixing root login for sshd <span class="anchor" id="line-92"></span><span class="anchor" id="line-93"></span><p class="line874">sed -i s/"session    required     pam_selinux.so close"/"#session    required     pam_selinux.so close"/g /etc/pam.d/sshd <span class="anchor" id="line-94"></span><span class="anchor" id="line-95"></span><p class="line874">sed -i s/"session    required     pam_loginuid.so"/"#session    required     pam_loginuid.so"/g /etc/pam.d/sshd <span class="anchor" id="line-96"></span><span class="anchor" id="line-97"></span><p class="line874">sed -i s/"session    required     pam_selinux.so open env_params"/"#session    required     pam_selinux.so open env_params"/g /etc/pam.d/sshd <span class="anchor" id="line-98"></span><span class="anchor" id="line-99"></span><p class="line874"># Leaving the chroot'ed filesystem <span class="anchor" id="line-100"></span><span class="anchor" id="line-101"></span><p class="line874">exit }}} <span class="anchor" id="line-102"></span><span class="anchor" id="line-103"></span><p class="line867">
<h3 id="A.2Bj9RW3mcsal8-">3.3. 返回本機</h3>
<span class="anchor" id="line-104"></span><p class="line874"># 現在從該檔案系統建立 LXC 容器 <span class="anchor" id="line-105"></span><span class="anchor" id="line-106"></span><p class="line874">{{{ virt-install --connect lxc:/// --name test --ram 512 --vcpu 1 --filesystem /var/lib/libvirt/lxc/centos-6-x86_64/,/ --noautoconsole <span class="anchor" id="line-107"></span>}}} <span class="anchor" id="line-108"></span><span class="anchor" id="line-109"></span><p class="line874">你可以如此存取該 LXC 容器： <span class="anchor" id="line-110"></span>{{{ virsh console test <span class="anchor" id="line-111"></span>}}} <span class="anchor" id="line-112"></span>又或者 <span class="anchor" id="line-113"></span>{{{ ssh -l root CONTAINER_IP <span class="anchor" id="line-114"></span>}}} <span class="anchor" id="line-115"></span><span class="anchor" id="line-116"></span><p class="line862">要取得 LXC 容器的 IP 位址，請在 dhcp 租約 <tt>/var/lib/libvirt/dnsmasq/default.leases</tt> 內查閱它的 MAC 位址（收錄於 <tt>/etc/libvirt/lxc/test.xml</tt>） <span class="anchor" id="line-117"></span><span class="anchor" id="line-118"></span><p class="line867">
<h3 id="A.2BZwmV3Fco_KVM_.2Bhltk7GpfVmhRZ5BLiEw_LXC_.2BggeYEIotfbJ9YQ-">3.4. 有關在 KVM 虛擬機器內運行 LXC 與預設網絡</h3>
<span class="anchor" id="line-119"></span><span class="anchor" id="line-120"></span><p class="line874">當你在 KVM 虛擬機器內運行 LXC（兩者皆採用 libvirt），預設的 192.168.122.0/24 網絡將會在 LXC 容器啟動時產生衝突，你須要更改客端虛擬機器的 libvirtd（執行容器的那個）的 IP 範圍來矯正問題。 <span class="anchor" id="line-121"></span><span class="anchor" id="line-122"></span><p class="line867"><span class="anchor" id="line-123"></span><span class="anchor" id="line-124"></span><span class="anchor" id="line-125"></span><span class="anchor" id="line-126"></span><pre><span class="anchor" id="line-1-1"></span>service libvirtd stop
<span class="anchor" id="line-2"></span>sed -i 's/"192\.168\.122\./"192.168.120./' /etc/libvirt/qemu/networks/default.xml
<span class="anchor" id="line-3"></span>service libvirtd start</pre><span class="anchor" id="line-127"></span><span class="anchor" id="line-128"></span><p class="line867"><small>Translation of revision 7</small> <span class="anchor" id="line-129"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
