<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>zh-tw/TipsAndTricks/UnableToEnableDMAonCD</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">zh-tw/TipsAndTricks/UnableToEnableDMAonCD</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="zh-tw"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><p class="line867">
<h1 id="A.2BcSFs1XC6_CD_.2BYhY_DVD_.2BUUl4n2pfVV91KA_DMA">無法為 CD 或 DVD 光碟機啟用 DMA</h1>
<span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><p class="line867">
<h2 id="A.2BVU.2BYTA-">1. 問題</h2>
<span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><p class="line874">這個指令： <span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line874">{{{# hdparm -d /dev/hdc <span class="anchor" id="line-9"></span>}}}  <span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line874">匯報 DMA 被停用。嘗試用下列指令啟用光碟機的 DMA 時： <span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><p class="line867"><span class="anchor" id="line-14"></span><pre><span class="anchor" id="line-1"></span># hdparm -d1 /dev/hdc</pre><span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><p class="line862">導致一個 <tt>Operation&nbsp;Not&nbsp;Permitted</tt> 的錯誤。 <span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><p class="line867">
<h2 id="A.2BieNsemW5bNU-">2. 解決方法</h2>
<span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><p class="line862">在 <tt>/etc/modprobe.conf</tt> 內加入這行： <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><p class="line867"><span class="anchor" id="line-23"></span><pre><span class="anchor" id="line-1-1"></span>options libata atapi_enabled=1</pre><span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span><p class="line862">在 <tt>grub.conf</tt> 內為你的內核加入這個啟動參數： <span class="anchor" id="line-26"></span><span class="anchor" id="line-27"></span><p class="line867"><span class="anchor" id="line-28"></span><pre><span class="anchor" id="line-1-2"></span>combined_mode=libata</pre><span class="anchor" id="line-29"></span><span class="anchor" id="line-30"></span><p class="line867"><em><strong>舉個例子</em></strong>，你的 <tt>grub.conf</tt> 內的 <tt>kernel</tt> 行<em><strong>可能會</strong></em>是這個樣子： <span class="anchor" id="line-31"></span><span class="anchor" id="line-32"></span><p class="line867"><span class="anchor" id="line-33"></span><pre><span class="anchor" id="line-1-3"></span>kernel /boot/vmlinuz-2.6.18-8.1.8.el5 ro root=LABEL=/ rhgb quiet combined_mode=libata</pre><span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><p class="line862">修改完成後這重新開機。你的光碟機在 <tt>/dev</tt> 內的項目將會由 <tt>/dev/hdx</tt> 轉為 <tt>/dev/scd0</tt>。 <span class="anchor" id="line-36"></span><span class="anchor" id="line-37"></span><p class="line867">
<h2 id="A.2BieORyw-">3. 解釋</h2>
<span class="anchor" id="line-38"></span><span class="anchor" id="line-39"></span><p class="line874">這個問題可以追溯到 Fedora 5。但本頁的作者是在新安裝的 CentOS 5 上才遇上這個問題。因著這個問題的來歷，這個解決方法很有可能亦適用於 CentOS 4。 <span class="anchor" id="line-40"></span><span class="anchor" id="line-41"></span><p class="line862">這個問題的癥結就是 ICH7 的底板都模擬標準 IDE 控制器，但內核的預設 IDE 驅動程式無法正確地操作這個模擬控制器。上面的改動告訴內核要採用較新的 <tt>libdata</tt> 驅動程式。請參閱下面的連結取得更多信息。 <span class="anchor" id="line-42"></span><span class="anchor" id="line-43"></span><p class="line867">
<h2 id="A.2BU8OAAw-">4. 參考</h2>
<span class="anchor" id="line-44"></span><span class="anchor" id="line-45"></span><ul><li><p class="line891"><a class="http" href="http://www.fedoraforum.org/forum/showthread.php?t=114586">http://www.fedoraforum.org/forum/showthread.php?t=114586</a> <span class="anchor" id="line-46"></span></li><li><p class="line891"><a class="http" href="http://www.serpentine.com/blog/2006/12/12/make-linux-happy-with-a-modern-laptops-cddvd-drive/">http://www.serpentine.com/blog/2006/12/12/make-linux-happy-with-a-modern-laptops-cddvd-drive/</a> <span class="anchor" id="line-47"></span><span class="anchor" id="line-48"></span></li></ul><p class="line867"><small>Translation of revision 2</small> <span class="anchor" id="line-49"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
