<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>zh/HowTos/LXC-on-CentOS6</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="modern/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="modern/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="modern/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">zh/HowTos/LXC-on-CentOS6</a>
</ul>
<br><br>
[<a href="FrontPage.html">FrontPage</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page"><h1 style="background-color:Red; color:White">This is a read-only <a href="https://gitlab.com/CentOS/docs/wiki_archives">archived version</a> of wiki.centos.org</h1>
<div dir="ltr" id="content" lang="zh"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><p class="line867">
<h1 id="A.2BWYJPVf8akU1.2FbmUvYwE_LXC_.2BdoQ_CentOS_6">如何：配置支持 LXC 的 CentOS 6</h1>
<span class="anchor" id="line-5"></span><p class="line867">
<h2 id="LXC_.2BdoROy37N-">1. LXC 的介绍</h2>
<span class="anchor" id="line-6"></span><p class="line874">LXC （Linux Container）不是真正的虚拟化技术，它更像是一个 chroot 的环境。 <span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line862">在 <a class="http" href="http://lxc.sourceforge.net">http://lxc.sourceforge.net</a> 可以获得关于 LXC 的更多信息 。 <span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span><p class="line867">
<h2 id="A.2BW4mIxQ_libvirt_.2BWAZoCA-">2. 安装 libvirt 堆栈</h2>
<span class="anchor" id="line-11"></span><p class="line867"><span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><pre><span class="anchor" id="line-1"></span>yum install libvirt libvirt-client python-virtinst</pre><span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line867">
<h2 id="A.2BkU1.2Fbg_LXC_.2BW7lWaA-">3. 配置 LXC 容器</h2>
<span class="anchor" id="line-16"></span><p class="line874">假设你想配置一个完整的容器，就像进行一个最小化的 CentOS 6 安装一样。 <span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><p class="line874">请确保你机器上的 libvirtd 已经启动（service libvirtd start）。 <span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><p class="line874">我们将初始化一个 CentOS 6 x86_64 容器，假设， <span class="anchor" id="line-21"></span><ul><li>根目录为 /var/lib/libvirt/lxc/centos-6-x86_64/ <span class="anchor" id="line-22"></span></li><li>root 密码为will be MYROOTPASS <span class="anchor" id="line-23"></span></li><li>机器架构与主机相同，示例中为 x86_64 <span class="anchor" id="line-24"></span></li><li><p class="line862">容器名称是 <em>test</em> <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span></li></ul><p class="line867">
<h3 id="A.2BVyhnLGc6fPt.2B3w-">3.1. 在本机系统</h3>
<span class="anchor" id="line-27"></span><p class="line874">{{{ mkdir /var/lib/libvirt/lxc/centos-6-x86_64/etc/yum.repos.d/ -p <span class="anchor" id="line-28"></span>cat /etc/yum.repos.d/CentOS-Base.repo |sed s/'$releasever'/6/g &gt; /var/lib/libvirt/lxc/centos-6-x86_64/etc/yum.repos.d/CentOS-Base.repo <span class="anchor" id="line-29"></span>yum groupinstall core --installroot=/var/lib/libvirt/lxc/centos-6-x86_64/ --nogpgcheck -y <span class="anchor" id="line-30"></span>yum install plymouth libselinux-python --installroot=/var/lib/libvirt/lxc/centos-6-x86_64/ --nogpgcheck -y}}} <span class="anchor" id="line-31"></span>Selinux 注意：你需要创建一个规则以允许 virtd_lxc_t 使用 dbus： <span class="anchor" id="line-32"></span>{{{module lxc 1.0;  <span class="anchor" id="line-33"></span><span class="anchor" id="line-34"></span><p class="line874">require { <span class="anchor" id="line-35"></span><ul><li style="list-style-type:none">type hald_t; <span class="anchor" id="line-36"></span>type virtd_lxc_t; <span class="anchor" id="line-37"></span>class dbus send_msg; <span class="anchor" id="line-38"></span></li></ul><p class="line874">} <span class="anchor" id="line-39"></span><span class="anchor" id="line-40"></span><p class="line874">#============= hald_t ============== <span class="anchor" id="line-41"></span>allow hald_t virtd_lxc_t:dbus send_msg;}}} <span class="anchor" id="line-42"></span><a class="http" href="http://wiki.centos.org/zh/HowTos/SELinux">http://wiki.centos.org/zh/HowTos/SELinux</a> 页提供了优秀的指引文档，来指导我们完成以上步骤。 <span class="anchor" id="line-43"></span><span class="anchor" id="line-44"></span><p class="line862">请留意你不能在停用 SELinux 的情况下运用 LXC，你可尝试把政策改为 permissive（见 <a class="https" href="https://bugzilla.redhat.com/show_bug.cgi?id=995897）">https://bugzilla.redhat.com/show_bug.cgi?id=995897）</a> <span class="anchor" id="line-45"></span><span class="anchor" id="line-46"></span><p class="line867">
<h3 id="A.2BVyg_chroot_.2BZYdO9nz7ft9OLQ-">3.2. 在 chroot 文件系统中</h3>
<span class="anchor" id="line-47"></span><p class="line874">以下均在 chroot 环境中操作： <span class="anchor" id="line-48"></span>{{{chroot /var/lib/libvirt/lxc/centos-6-x86_64/  <span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><p class="line874">echo MYROOTPASS |passwd root --stdin <span class="anchor" id="line-51"></span><span class="anchor" id="line-52"></span><p class="line874">#Fix root login on console <span class="anchor" id="line-53"></span><span class="anchor" id="line-54"></span><p class="line862">echo "pts/0" &gt;&gt;/etc/securetty <span class="anchor" id="line-55"></span><span class="anchor" id="line-56"></span><p class="line874">sed -i s/"session    required     pam_selinux.so close"/"#session    required     pam_selinux.so close"/g /etc/pam.d/login <span class="anchor" id="line-57"></span><span class="anchor" id="line-58"></span><p class="line874">sed -i s/"session    required     pam_selinux.so open"/"#session    required     pam_selinux.so open"/g /etc/pam.d/login <span class="anchor" id="line-59"></span><span class="anchor" id="line-60"></span><p class="line874">sed -i s/"session    required     pam_loginuid.so"/"#session    required     pam_loginuid.so"/g /etc/pam.d/login <span class="anchor" id="line-61"></span><span class="anchor" id="line-62"></span><p class="line874">#Configuring basic networking <span class="anchor" id="line-63"></span><span class="anchor" id="line-64"></span><p class="line862">cat &gt; /etc/sysconfig/network &lt;&lt; EOF <span class="anchor" id="line-65"></span><span class="anchor" id="line-66"></span><p class="line874">NETWORKING=yes <span class="anchor" id="line-67"></span><span class="anchor" id="line-68"></span><p class="line874">HOSTNAME=lxc1.test.centos.org <span class="anchor" id="line-69"></span><span class="anchor" id="line-70"></span><p class="line874">EOF <span class="anchor" id="line-71"></span><span class="anchor" id="line-72"></span><p class="line862">cat &gt; /etc/sysconfig/network-scripts/ifcfg-eth0 &lt;&lt; EOF <span class="anchor" id="line-73"></span><span class="anchor" id="line-74"></span><p class="line874">DEVICE=eth0 <span class="anchor" id="line-75"></span><span class="anchor" id="line-76"></span><p class="line874">BOOTPROTO=dhcp <span class="anchor" id="line-77"></span><span class="anchor" id="line-78"></span><p class="line874">ONBOOT=yes <span class="anchor" id="line-79"></span><span class="anchor" id="line-80"></span><p class="line874">EOF <span class="anchor" id="line-81"></span><span class="anchor" id="line-82"></span><p class="line874">#Enabling sshd <span class="anchor" id="line-83"></span><span class="anchor" id="line-84"></span><p class="line874">chkconfig sshd on <span class="anchor" id="line-85"></span><span class="anchor" id="line-86"></span><p class="line874"># Fixing root login for sshd <span class="anchor" id="line-87"></span><span class="anchor" id="line-88"></span><p class="line874">sed -i s/"session    required     pam_selinux.so close"/"#session    required     pam_selinux.so close"/g /etc/pam.d/sshd <span class="anchor" id="line-89"></span><span class="anchor" id="line-90"></span><p class="line874">sed -i s/"session    required     pam_loginuid.so"/"#session    required     pam_loginuid.so"/g /etc/pam.d/sshd <span class="anchor" id="line-91"></span><span class="anchor" id="line-92"></span><p class="line874">sed -i s/"session    required     pam_selinux.so open env_params"/"#session    required     pam_selinux.so open env_params"/g /etc/pam.d/sshd <span class="anchor" id="line-93"></span><span class="anchor" id="line-94"></span><p class="line874"># Leaving the chroot'ed filesystem <span class="anchor" id="line-95"></span><span class="anchor" id="line-96"></span><p class="line874">exit}}} <span class="anchor" id="line-97"></span><span class="anchor" id="line-98"></span><p class="line867">
<h3 id="A.2Bj9RW3mcsZzo-">3.3. 返回本机</h3>
<span class="anchor" id="line-99"></span><p class="line874"># 现在从上面的文件系统创建 LXC 容器。 <span class="anchor" id="line-100"></span><span class="anchor" id="line-101"></span><p class="line867"><span class="anchor" id="line-102"></span><pre><span class="anchor" id="line-1-1"></span>virt-install --connect lxc:/// --name test --ram 512 --vcpu 1 --filesystem /var/lib/libvirt/lxc/centos-6-x86_64/,/ --noautoconsole</pre><span class="anchor" id="line-103"></span><span class="anchor" id="line-104"></span><p class="line874">你可以如此访问该 LXC 容器： <span class="anchor" id="line-105"></span>{{{ virsh console test <span class="anchor" id="line-106"></span>}}} <span class="anchor" id="line-107"></span>又或者 <span class="anchor" id="line-108"></span>{{{ ssh -l root CONTAINER_IP <span class="anchor" id="line-109"></span>}}} <span class="anchor" id="line-110"></span><span class="anchor" id="line-111"></span><p class="line862">要取得 LXC 容器的 IP 地址，请在 dhcp 租约 <tt>/var/lib/libvirt/dnsmasq/default.leases</tt> 内查阅它的 MAC 地址（收录于 <tt>/etc/libvirt/lxc/test.xml</tt>） <span class="anchor" id="line-112"></span><span class="anchor" id="line-113"></span><p class="line867">
<h3 id="A.2BZwlRc1co_KVM_.2Bhlpi32c6VmhRhY.2FQiEw_LXC_.2BTg5.2FOncBf1F.2B3A-">3.4. 有关在 KVM 虚拟机器内运行 LXC 与缺省网络</h3>
<span class="anchor" id="line-114"></span><span class="anchor" id="line-115"></span><p class="line874">当你在 KVM 虚拟机器内运行 LXC（两者皆采用 libvirt），缺省的 192.168.122.0/24 网络将会在 LXC 容器引导时产生冲突，你须要更改客端虚拟机器的 libvirtd（执行容器的那个）的 IP 范围来矫正问题。 <span class="anchor" id="line-116"></span><span class="anchor" id="line-117"></span><p class="line867"><span class="anchor" id="line-118"></span><span class="anchor" id="line-119"></span><span class="anchor" id="line-120"></span><span class="anchor" id="line-121"></span><pre><span class="anchor" id="line-1-2"></span>service libvirtd stop
<span class="anchor" id="line-2"></span>sed -i 's/"192\.168\.122\./"192.168.120./' /etc/libvirt/qemu/networks/default.xml
<span class="anchor" id="line-3"></span>service libvirtd start</pre><span class="anchor" id="line-122"></span><span class="anchor" id="line-123"></span><p class="line867"><small>Translation of revision 7</small> <span class="anchor" id="line-124"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2023-09-11 07:23
</body>
</html>
